.breadcrumbs
	list-style none
	font-size 13px
	margin 0
	padding 0
	color #777

	& &__item
		display inline-block
		margin 0 5px 0 0

		&::after
			content " →"
			color #666

		&:last-child::after
			display none

	&__hidden-text
		display none

	&__item:first-child &__link::before
		@extend $font-home
		display inline-block
		min-width 17px
		font-size 18px
		color #999

	&__item:first-child &__link:hover
		text-decoration none

	&__item:first-child &__link:hover::before
		color inherit

	&__link
		color link_color

	&__link:hover
		color link_hover_color
