.breadcrumbs
	list-style none
	font-size 13px
	margin 0
	padding 0
	color #777

	&_fixed
		position fixed
		bottom 0
		right 0
		left 0
		background #fff
		line-height 20px
		padding 20px 23px
		box-shadow 1px -1px 2px rgba(0, 0, 0, .3)
		transform translateY(105%)
		transition left animation_duration, transform animation_duration

	.page_bottom-nav &_fixed
			transform translateY(0)

	.page_sidebar_on &_fixed
		left sidebar_width

	& &__item
		display inline-block

		&::after
			content "→"
			display inline-block
			margin 0 8px 0 9px
			color #666

		&:last-child::after
			display none

	&__hidden-text
		display none

	&__item_home &__link::before
		@extend $font-home
		display inline-block
		min-width 17px
		font-size 18px
		color #999

	&__item_home &__link:hover
		text-decoration none

	&__item_home &__link:hover::before
		color inherit

	&__link
		color link_color

	&__link:hover
		color link_hover_color
