extends /layouts/main

block append variables
  - var headTitle = 'Скринкаст по Webpack';
  - var sitetoolbar = true
  - var header = true
  - var layout_page_class = "page_contains_header"
  - var mainclass = "main-headered"

block append head
  !=js("webpackScreencast", {defer: true})

block content
  +b.screencast-header._style_webpack

    +e("h1").title Скринкаст
      //- two spaces! one is consumed, one remains
      +e("strong").title-accent  WebPack

    +e("p").description
      | Модульный frontend при помощи Webpack

    +e("ul").buttons

      +e("li").button
        +b("a")(href="https://www.youtube.com/playlist?list=PLDyvV36pndZHfBThhg4Z0822EEG9VGenn").simple-button
          +e.text
            | Смотреть на
            +e("strong")  Youtube
          +e.description  Плейлист 36 записей

      +e("li").button
        +b("a")(href="/webpack-screencast/webpack-mp4-low.zip").simple-button
          +e.text
            | Скачать скринкаст
          +e.description  Компактный размер
            +e("strong").description-accent  (83Mb)

      +e("li").button
        +b("a")(href="/webpack-screencast/webpack-mp4.zip").simple-button
          +e.text
            | Скачать скринкаст
          +e.description  Хорошее качество
            +e("strong").description-accent  (137Mb)

    +e("p").info Если вы где-то выкладываете этот скринкаст (торрент и т.п.), то обязательно давайте ссылку на эту страницу, так как все обновления и важные изменения я публикую здесь.

    +b.share-icons
      +e('span').title= t('Share')
      include /blocks/social-icons


    +e("p").foot Ниже вы можете ознакомиться более детально с содержанием скринкаста

  .main(class='main_width-limit-wide').screencast-content

    include:simpledown index.md

    include /blocks/subscriptionsForm

    include /blocks/comments

