.course-bricks
    & &__title
        font 200% font
        font-weight bold
        text-align center
        margin 39px 0 4px

    & &__title ~ p
        color light_gray_color
        text-align center
        margin-top 0
        margin-bottom 36px

    &__container
        -webkit-columns 200px 3
        -moz-columns 200px 3
        columns 200px 3
        font-size 14px

    &__brick
        margin 0 9px 25px
        -webkit-column-break-inside avoid
        page-break-inside avoid // Fx uses this for columns too
        break-inside avoid

    &__chapters-list &__item
        margin .3em 0
        line-height 18px


    &__col:first-child &__brick
        margin 0 18px 0 0

    &__col:last-child &__brick
        margin 0 0 0 18px

    & &__brick-title
        font 18px font
        font-weight bold
        margin-top 0

    & &__brick-title-link
        color alternate_link_color


    & &__brick-title-link:hover
        color link_hover_color
        text-decoration: underline

    &__brick-content
        margin 12px 0

        p
            margin 12px 0
