extends /layouts/main

block sidebar
  include sidebar

block content
  != body

  if tasks.length

    +b.tasks
      +e('h2').title#tasks
        a.main__anchor.main__anchor_noicon(href="#tasks") Задачи

      each task, i in tasks
        +b.task.__task
          +e.header
            +e.title-wrap
              +e('h3').title !{task.title}
              +e('a').open-link(href=task.url, target="_blank")

            +e.header-note
              +e('span').importance(title="Насколько эта задача важна для освоения материала, от 1 до 5") важность: #{task.importance}
              +e('button').solution(type="button") решение

            include _task_content

  script(src=asset("/js/tutorial.js"))
  script require('tutorial/client').init();
