extends /layouts/main

block sidebar
  include sidebar

block content
  - var parentSectionNumber = 2

  != body

  +b.lessons-list
    +e('ol').lessons
      each article in children
        +e('li').lesson(data-section-number=parentSectionNumber)
          +e('a').link(href=article.url) #{article.title}

  script(src=script("tutorial"))
  script tutorial.init();
