extends /layouts/html

block body

  include _map

  script(src=asset("/js/tutorial.js"))
  script require('tutorial/client').init();
  script new (require('tutorial/client').TutorialMap)(document.querySelector('.tutorial-map'));
