
extends /layouts/body

block main
  +b.task-single
    +e('a').back(href=articleUrl)
      u вернуться к уроку

    +b.task.__task
      include _task

  script(src=asset("/js/tutorial.js"))
  script require('tutorial/client').init();
