extends /layouts/main

block append variables
  - var headTitle = 'Доступ запрещён';
  - var sitetoolbar = true;

block content
  +b.error
    +e('h1').type Доступ к этой странице закрыт
    +e.code 403
    +e.text
      | Возможно, вам нужно войти под нужным пользователем?