.page
	position: relative
	z-index: 0
	padding 0 60px
	transition padding-left .5s

	body &_sidebar_on // повышаем специфичность, чтобы перекрыть media-правила
		padding-left sidebar_width

	&__sidebar
		margin-left sidebar_width * -1
		transition margin-left .5s

	// для отображения/скрытия сайдбара переключаем класс .page_sidebar_on у блока .page
	&_sidebar_on &__sidebar
		margin-left 0

	&__inner
		@extend $min-max-width
		@extend $center

@media (min-width: media_step_1) 
	.page
		padding 0 70px

@media (min-width: media_step_2) 
	.page
		padding 0 80px


@media (min-width: media_step_3) 
	.page
		padding 0 90px