.page
	position: relative
	z-index: 0
	padding 0
	transition padding .2s

	// DEBUG
	&_sidebar_on.animation-finished
		padding-left sidebar_width

	&__sidebar
		transform translateX(-100%)
		transition transform .2s, top .2s

	// для отображения/скрытия сайдбара переключаем класс .page_sidebar_on у блока .page
	&_sidebar_on &__sidebar
		transform translateX(0)

	&_sidebar_on .main
		transform translateX(245px) scaleX(.7)

	/.main,
	/.animation-finished .main
		transform-origin 0 0
		transform translateX(0) scaleX(1)
		transition transform .2s

	// используется при переключении видимости панели навигации
	&__inner
		margin 50px 0 0
		padding 0 120px
		transition margin-top .2s

	&__sitemap
		position fixed
		background rgba(255, 255, 255, .95)
		top 60px
		right 115px
		bottom 0
		left 115px
		z-index 99
		transition top .2s, right .2s, left .2s
		padding 0 5px
		overflow auto

	&_sidebar_on &__sitemap
		left 365px

	&__nav
		position fixed
		top 60px
		bottom 0
		width 90px

	& &__nav
		color #7d7d7d;
		transition left .2s, top .2s

	&__nav:hover
		background rgba(216, 216, 216, .15)
		text-decoration none

	&__nav_prev
		left 0

	&__nav-text
		font-size 16px
		position absolute
		top 50%
		margin-top -40px
		width 80px
		padding 5px
		text-align center
		white-space nowrap

	&__nav-text-shortcut
		visibility hidden
		color #8B8987

	&__nav-text-arr
		position relative
		top -1px // мелочь, но смотрится аккуратнее

	&__nav:hover &__nav-text-shortcut
		visibility visible

	&__nav-text::before
		display block
		margin-bottom 17px
		font-size 36px
		min-height 36px
		line-height 1
		color #7e7e7e

	&__nav_prev &__nav-text::before
		@extend $font-angle-left

	&_sidebar_on &__nav_prev
		left 250px

	&__nav_next
		right 0

	&__nav_next &__nav-text::before
		@extend $font-angle-right

	@media tablet
		&,
		&_sidebar_on
			padding 0

		& &__sidebar
			display none

		&__inner
			margin-top 100px

		& &__sitemap
			left 40px
			right 40px

		&__nav
			display none

