.textarea-input
    box-shadow inset 1px 1px 5px 0 #eee
    box-sizing border-box

    line-height 16px
    font-size 16px
    padding 8px 4px

    border-radius 3px
    border 1px solid #e7e7e7


    &__err
        font-size 12px

        display none

        padding 4px 0 0

        color #c55b4a

    &_invalid
        border-color #cc5b4d
        box-shadow inset 1px 1px 5px 0 #f2e7e7

    &_invalid + &__err
        display block
