+b.courses-how.courses-mix
  +e('h2').title Как проходит обучение?

  +e.body
    p Время обучения: месяц, плюс неделя каникул с самостоятельно выполняемым заданием, плюс собрание до начала занятий.

    p Курс большой, в темах много деталей, чтобы их освоить надо выполнять задания.

    p.
      При каждой встрече я рассказываю, показываю что и как делать, отвечаю на вопросы,
      иногда мы что-то пробуем делать на месте, затем идёт домашнее задание на применение изученного.

    p.
      На следующей встрече мы смотрим, что и как у вас получилось.
      Чтобы получить от курса максимум результата, нужно это что-то делать и показывать.
      Только тогда вы будете действительно понимать, что и как.

    p У вас будет возможность задать вопросы разработчику с опытом использования Node.JS более 5 лет. Пользуйтесь этим.

    p
      strong Этот курс требует вашего активного участия.


