+b.courses-how.courses-mix
  +e('h2').title Как проходит обучение?

  +e.body
    p Время обучения: месяц, плюс неделя каникул с самостоятельно выполняемым заданием, плюс собрание до начала занятий.

    p На каждой встрече мы изучаем что-то новое, я задаю вопросы, мы обсуждаем, как сделать лучше, и даётся задание.

    p На следующей встрече мы смотрим, что и как у вас получилось, как сделать лучше. Чтобы получить от курса максимум результата, нужно это что-то делать и показывать. Только тогда вы будете действительно понимать, что и как.

    p
      strong Резюме – этот курс требует вашего активного участия, просто слушать лекции недостаточно, надо делать.


