+b.courses-how.courses-mix
    +e('h2').title Как проходит обучение?

    +e.body
        p Время обучения: 2 месяца, включая одну неделю каникул с самостоятельно выполняемым заданием, плюс видеокурс за неделю до начала занятий.

        p За это время мы планируем освоить очень многое.

        p Это подразумевает не ленивое ковыряние в носу во время лекции, а довольно-таки активный режим обучения.

        ol
            li До начала курса вы получаете вводный видео-курс.
                p К основному курсу необходимо с ним ознакомиться. Там раскрыты самые базовые темы, которые можно дать в таком формате. Это введение нужно, чтобы мы на занятиях не разбирали ну уж совсем простые темы (но вы сможете задавать вопросы по ним, если будут, в том числе и до начала курса).

            li Далее, к каждому занятию выдаются материалы для освоения и задачи. Если это текст - читаете, если видео - смотрите в удобное для вас время. Делаете задачи.
            li Мы встречаемся два раза в неделю онлайн, я рассказываю важные и тонкие моменты, на которые следует обратить внимание в материале (простые вы изучили по лекциям дома), вы задаете вопросы, показываете решения. Мы смотрим, как можно сделать лучше. Продолжительность 1.5 часа, может быть меньше или больше, в зависимости от темы и количества вопросов.

        p
            strong Резюмирую: будьте готовы к тому, что придётся учиться и делать реальные задачи, многие из которых не так уж просты.


