+b.course-info._program.courses-mix
  +e.body.columns.columns_2

    +e.col.columns__col
      +e.content
        +e('h3').title Программа

        p.
          Этот курс посвящён профессиональной Node.JS-разработке.
          Как и JavaScript вообще, Node даёт большую свободу. Здесь мы изучим, как использовать её правильно.

        p.
          В результате курса мы создадим реальный проект, и разберёмся в Node.JS на принципиально другом уровне,
          чем даёт чтение интернет-пособий, большинство которых, увы, сильно устарели.

        p Вы останетесь свободны в выборе архитектуры, но получите множество готовых рецептов.

        p Курс можно условно разделить на три части.

        ol
          li
            +e.text Особенности Node.JS, фундаментальная разработка.
          li
            +e.text Разработка веб-сервисов на современных технологиях.
          li
            +e.text Архитектура сложных приложений, организация разработки проекта.

        p Детали программы смотрите ниже.

    +e.col.columns__col
      +e.content
        +e('h3').title Набор в группы

        if groups.length
          +b.courses-recruitment
            +e('a').anchor#signup
            +e('ul').list

              each group in groups
                +e('li').course
                  +e.info
                    +e('h4').title #{formatGroupDate(group.dateStart)} — #{formatGroupDate(group.dateEnd)}
                    +e('p').text!= group.timeDesc

                  +e.apply
                    +b.price
                      +e('span') #{group.price} RUB
                      +e('span').secondary &nbsp;≈&nbsp;#{Math.round(group.price / rateUsdRub)}$
                    +e.submit
                      +b('a')(data-group-signup-link href='/courses/groups/' + group.slug + '/signup' type="button").button._action
                        +e('span').text Записаться

          p В дополнение к сроку обучения, указанному выше, будет неделя каникул с самостоятельно выполняемым заданием и организационное собрание.

          p Вы также можете подписаться на уведомления по набору новых групп по этой программе:

          include ../subscribe

        else
          +b.courses-recruitment._no-groups
            +e('a').anchor#signup
            +e('h3').info-title В текущих группах мест нет. Количество мест ограничено, так что это обычная ситуация.
            p Вы можете подписаться на уведомления о наборе новых групп по этой программе, и как только запись откроется – записаться:

            include ../subscribe

          p Время обучения: 2 месяца, включая одну неделю каникул с самостоятельно выполняемым заданием и организационное собрание. Также участники получают вводный видеокурс за неделю до начала занятий.

