+b.course-info._program.courses-mix
  +e.body.columns.columns_2

    +e.col.columns__col
      +e.content
        +e('h3').title Программа

        p Этот курс посвящён профессиональной Node.JS-разработке.

        p В результате курса вы создадите реальный проект и, главное, хорошо разберётесь в Node.JS.

        p Вы будете слушать теорию, писать код, показывать его мне через Dropbox, получать обратную связь и советы, и затем двигаться дальше.

        p Мы будем использовать современные практики разработки, а не те, которые, хоть и широко представлены в интернете, но давно устарели.

        p Вы получите комплексное понимание, как строить архитектуру для Node.JS, какие задачи и как решать.

        p Курс можно условно разделить на три части.

        ol
          li
            +e.text Node.JS, главные "строительные блоки" разработчика.
          li
            +e.text Разработка веб-сервисов на современных технологиях и фреймворках.
          li
            +e.text Архитектура сложных приложений, организация проекта.

        p Детали программы смотрите далее.

    +e.col.columns__col
      +e.content
        +e('h3').title Набор в группы

        if groups.length
          include ../signup

          p Вы также можете подписаться на уведомления по набору новых групп по этой программе:

          include ../subscribe

        else
          +b.courses-recruitment._no-groups
            +e('a').anchor#signup
            +e('h3').info-title В текущих группах мест нет.

            p Этот курс уникален, места заканчиваются очень быстро, извините.

            p Вы можете запросить уведомления о наборе новых групп по этой программе.

            include ../subscribe

          p Стоимость обучения 15000 руб. Время обучения: 1 месяц и 1 неделя (10 занятий).

