+b.courses-result.courses-mix
  +e('h2').title Результат обучения

  +e.body
    ol
      li Вы хорошо разбираетесь в устройстве Node.JS, разрабатываете и отлаживаете программы на нём.
      li Вы знаете, как поднять проект малого и среднего размера, чтобы он стабильно работал, не падал, корректно отрабатывал при ошибках.
      li Вы можете разработать современный веб-сервис на Node.JS с использованием ES2015 и фреймворков.
      li Успешное прохождение обучения гарантировано в том случае, если вы будете регулярно заниматься и делать домашнее задание.


