+b.courses-result.courses-mix
  +e('h2').title Результат обучения

  +e.body
    ol
      li Вы хорошо знаете JavaScript, свободно разрабатываете и отлаживаете программы на этом языке.
      li Вы умеете организовать JavaScript-проект, шаблоны и стили в файлах на диске в удобную структуру, собирать и оптимально подключать их к странице.
      li Ваши интерфейсы работают стабильно, без глюков, их можно удобно дорабатывать и развивать.
      li Мы идём от основ и до довольно-таки сложных штук. Успешное прохождение обучения гарантировано в том случае, если вы будете регулярно заниматься и делать домашнее задание.


