+b.courses-result.courses-mix
  +e('h2').title Результат обучения

  +e.body
    ol
      li Вы хорошо разбираетесь в устройстве Node.JS, разрабатываете и отлаживаете программы на нём.
      li Вы знаете, как поднять проект малого и среднего размера, чтобы он стабильно работал, не падал, корректно отрабатывал при ошибках.
      li Вы разрабатываете с использованием самых современных фреймворков, с использованием ES2015, ваш код не устареет через полгода.
      li Успешное прохождение обучения гарантировано в том случае, если вы будете регулярно заниматься и делать домашнее задание.


