+b.courses-system-req.courses-mix
  +e('h2').title Системные требования

  +e.body
    p.
      Windows или Mac поддерживаются полностью.

    P.
      Под Linux доступно участие онлайн, но для просмотра скачиваемых видео-лекций рассмотрите вариант Dual Boot в Win/MacOS.

    p.
      Для онлайн-общения желателен интернет от 256kb/s.
