+b.course-info._program.courses-mix
  +e.body.columns.columns_2

    +e.col.columns__col
      +e.content
        +e('h3').title Программа
        p Курс состоит из трёх частей:
        ol
          li
            +e.text.
              Первая часть позволяет хорошо разобраться в языке JavaScript,
              получить знания и навыки написания хорошего JavaScript-кода.
          li
            +e.text.
              Вторая часть позволяет научиться работать со страницей и посетителем,
              создавать меню, слайдеры, Drag’n’Drop и прочие интерфейсные компоненты.
          li
            +e.text.
              Третья часть посвящена более сложным интерфейсам.
              На ней мы изучаем, как построить архитектуру, взаимодействие между компонентами,
              как организовать проект и код, систему сборки, используем ES6.

        p Большое внимание на этом курсе уделяется стилю кода. Это важно. Хороший стиль кода позволяет писать более быстро, красиво и делать меньше ошибок. А на серьёзных проектах он просто необходим.

    +e.col.columns__col
      +e.content
        +e('h3').title Набор в группы

        if groups.length
          +b.courses-recruitment
            +e('a').anchor#signup
            +e('ul').list

              each group in groups
                +e('li').course
                  +e.info
                    +e('h4').title #{formatGroupDate(group.dateStart)} — #{formatGroupDate(group.dateEnd)}
                    +e('p').text!= group.timeDesc

                  +e.apply
                    +b.price
                      +e('span') #{group.price} RUB
                      +e('span').secondary &nbsp;≈&nbsp;#{Math.round(group.price / rateUsdRub)}$
                    +e.submit
                      +b('a')(data-group-signup-link href='/courses/groups/' + group.slug + '/signup' type="button").button._action
                        +e('span').text Записаться

          p В стоимость входит 2 месяца обучения, включая одну неделю каникул с самостоятельно выполняемым заданием и организационное собрание. Также участники получают вводный видеокурс за неделю до начала занятий.
          p Вы также можете подписаться на уведомления по набору новых групп по этой программе:

          include ../subscribe

        else
          +b.courses-recruitment._no-groups
            +e('a').anchor#signup
            +e('h3').info-title В текущих группах мест нет. Это нормально: количество мест ограничено, обычно запись открывается и заканчивается в течение нескольких дней.

            p Следующая запись планируется в сентябре, но может открыться и раньше.

            p Вы можете подписаться на уведомления о наборе новых групп по этой программе, и как только запись откроется – записаться:

            include ../subscribe

          p Время обучения: 2 месяца, включая одну неделю каникул с самостоятельно выполняемым заданием и организационное собрание. Также участники получают вводный видеокурс за неделю до начала занятий.

