+b.courses-system-req.courses-mix
  +e('h2').title Системные требования

  +e.body
    p.
      Для просмотра видео-лекций и записей занятий нужна Windows вне виртуальной машины или Mac.
      Если у вас Linux, рассмотрите вариант Dual Boot на время для просмотра.

    p.
      Онлайн-общение требует интернет 256kb/s или быстрее, работает под Windows и Mac.
      Если Linux, то работает из-под виртуальной машины с Windows.
