$profile-item
	border-bottom 1px solid #e6e0d4
	line-height 20px
	padding 0 50px 0 40px

$profile-item-content
	padding 17px 0 17px

$profile-action-button
	@extend $button-reset
	font inherit
	color #727272
	&:hover
		color link_hover_color
		text-decoration underline

.profile
	&__tabs
		display table
		width 100%
		table-layout fixed
		border-collapse collapse

	&__tab
		display table-cell

	&__tab-content
		border-right 1px solid #d7d3c8
		padding 21px 20px
		text-align center
		background #e7e3d9
		font 15px/18px secondary_font

	&__tab:first-child &__tab-content
		border-radius 4px 0 0

	&__tab:last-child &__tab-content
		border-radius 0 4px 0 0
		border-right 0

	&__tab_current &__tab-content,
	&__content
		background #f7f6ea

	&__tab_current &__tab-link
		color inherit
		cursor inherit
		text-decoration inherit
		pointer-events none

	&__tab-link
		color #727272

	&__tab_current &__tab-content,
	&__tab-link:hover
		color #BB1000

	&__title
		@extend $profile-item

	&__title-content
		@extend $profile-item-content

	& &__inline-title
		margin 25px 0 0
		font-size 16px
		line-height 18px
		color #656565

	& &__note,
	& &__inline-title
		color #999
		margin 0

	& &__note
		margin-top 16px

	&__linked-account
		@extend $profile-item

	&__account-content
		padding 19px 0 14px 68px
		min-height 48px
		position relative

	&__linked-upic
		position absolute
		top 16px
		left 0
		width 48px
		height 48px

	&__linked-name
		font-weight 700
		color #333

	&__linked-provider
		color #999

	&__action-item
		@extend $profile-item

	&__action-item:last-child
		border 0

	&__action-content
		@extend $profile-item-content

	&__action
		@extend $profile-action-button

	&__action_remove-account
		margin-bottom 100px
@require './profileField.styl'
@require './profileProviders.styl'
@require './profilePhoto.styl'