.profile
	&__upic
		size-of('../../../assets/img/userpic.png')
		margin auto
		position relative

	&__upic-upload
		display none

	&__upic-edit
		position absolute
		top 0
		right 0
		bottom 0
		left 0
		text-align center
		color #fff
		background rgba(0, 0, 0, .7)
		border-radius 50%
		cursor pointer
		font-size 12px
		line-height 17px
		display none

	&__upic-edit::before
		@extend $font-camera
		font-size 48px
		display block
		margin 30px 0 5px
		color rgba(255, 255, 255, .35)
		line-height 1

	&__upic:hover &__upic-edit
		display block

	&__content
		margin 20px 0

	&__tabs
		display table
		width 100%
		table-layout fixed
		border-collapse collapse

	&__tab
		display table-cell

	&__tab-content
		border-right 1px solid #d7d3c8
		padding 21px 20px
		text-align center
		background #e7e3d9
		font 15px/18px secondary_font

	&__tab:first-child &__tab-content
		border-radius 4px 0 0

	&__tab:last-child &__tab-content
		border-radius 0 4px 0 0
		border-right 0

	&__tab_current &__tab-content,
	&__item
		background #f7f6ea

	&__tab-link
		color #727272

	&__tab_current &__tab-content,
	&__tab-link:hover
		color #BB1000

	&__item
		border-bottom 1px solid #e6e0d4
		line-height 20px
		padding 0 50px 0 40px

	&__item:last-child
		border 0
		border-radius 0 0 4px 4px

	& &__inline-title
		margin 25px 0 0
		font-size 16px
		line-height 18px
		color #656565

	&__item-content
		position relative
		padding 17px 0

	&__item-change
		padding 11px 0
		display none
		position relative
		width 100%

	&__item-name
		float left
		min-width 110px
		margin-right 15px

	&__item-name,
	&__labeled-label
		color #727272

	&__edit
		@extend $button-reset
		position absolute
		right 0
		top 17px
		min-height 20px
		min-width 20px
		display none

	&__edit:active
		position absolute

	&__edit::before
		font-size 15px
		@extend $font-pencil

	&__item:hover &__edit
		display block

	&__item_editing &__item-content
		display none

	&__item_editing &__item-change
		display table

	&__item-value
		overflow auto

	&__action
		@extend $button-reset
		font inherit
		color #727272

	&__action:hover
		color link_hover_color
		text-decoration underline

	&__action_remove-account
		margin-bottom 115px

	& &__item-note,
	& &__item-title
		color #999
		margin 0

	& &__item-note
		margin-top 16px

	& &__item-title
		margin-bottom 12px

	&__social-login
		margin-right 6px
		vertical-align bottom
		margin-bottom 5px

	&__labeled-label
		display inline-block
		min-width 110px
		margin 6px 15px 0 0
		float left

	&__pass-change
		display inline-block
		margin-right 18px

	&__pass
		width 150px

	&__change-content,
	&__ok-cancel
		display table-cell

	&__ok-cancel
		width 1%
		white-space nowrap

	&__item-save
		margin 0 0 -1px // убираем смещение соседних пунктов в момент показа в Fx
		height 32px

	&__item-cancel
		@extend $button-reset
		color #568DCA
		font-size inherit
		margin-left 10px

	&__item-cancel:hover
		color link_hover_color
		text-decoration underline


// profile_item_padding_horiz = 25px
// profile_small_upic_size = 48px
// profile_small_upic_margin = 20px
// profile_item_separator = 1px solid #e5e1d0

// $profile-edit-icon
// 	color secondary_color

// $profile-upic-aside
// 	min-height profile_small_upic_size
// 	margin-left profile_small_upic_size + profile_small_upic_margin

// $profile-tabs-rounded
// 	border-radius 3px 3px 0 0

// $profile-highlight-background
// 	background rgba(255, 255, 255, .4)

// $profile-content-wrap
// 	@extend $noisy-bg
// 	border-radius 0 0 4px 4px

// .profile 
// 	&__upic
// 		size-of '../assets/img/userpic.png'
// 		margin 0 auto 30px
// 		position relative

// 	&__upic-upload
// 		display block
// 		width 0
// 		height 0

// 	& &__upic-image
// 		vertical-align bottom
// 		margin 0

// 	&__upic-edit
// 		position absolute
// 		top 0
// 		right 0
// 		background #f1ead9
// 		font-size 16px
// 		width 34px
// 		height 34px
// 		line-height 34px
// 		text-align center
// 		border-radius 50%
// 		border 4px solid #fff
// 		cursor pointer

// 	&__upic-edit::before
// 		@extend $profile-edit-icon

// 	&__tabs
// 		@extend $clearfix
// 		@extend $profile-tabs-rounded
// 		background #dcd6c8
// 		color secondary_color

// 	&__tab
// 		float left
// 		padding 5px 10px
// 		min-width 140px
// 		text-align center
// 		border-left 1px solid #c6c2b6
// 		font 15px/50px secondary_font

// 	&__tab:first-child
// 		border-left 0

// 	&__tab:last-child
// 		border-right 1px solid #c6c2b6

// 	// separate selector with :last-child solves specificity problem
// 	&__tab_current,
// 	&__tab_current:last-child
// 		@extend $profile-tabs-rounded
// 		@extend $noisy-bg
// 		border 0
// 		padding-left 11px

// 	&__tab_current + &__tab
// 		border-left 0

// 	&__section-link:link,
// 	&__section-link:visited
// 		color #727272

// 	&__section-link:hover,
// 	&__section-link:active
// 		color: link_hover_color

// 	&__items
// 		@extend $profile-content-wrap
// 		width 100%
// 		border-collapse collapse

// 	& &__items
// 		margin 0

// 	&__item
// 		border-bottom profile_item_separator
// 		vertical-align top

// 	&__item:last-child
// 		border-bottom none

// 	&__item:hover
// 		@extend $profile-highlight-background

// 	// It's a pain to do so, but inside ".main" we have generic tables
// 	// that are styled with more specific selectors
// 	// Hope It won't hurt very much
// 	& &__item &__item-name
// 		border 0 !important
// 		padding 14px 30px 14px profile_item_padding_horiz
// 		width 1%
// 		white-space nowrap
// 		font-weight 400
// 		color color

// 	&__item&__item_option &__item-name
// 		vertical-align: middle
// 		min-width 300px

// 	& &__item &__item-value
// 		border 0
// 		padding 0 profile_item_padding_horiz 0 0
// 		font-weight 700

// 	& &__item:first-child &__item-name
// 		padding-top 29px

// 	& &__item_option:first-child &__item-name
// 		padding-top 14px

// 	& &__item:first-child &__item-value
// 		padding-top 15px

// 	& &__item_option:first-child &__item-value
// 		padding-top 0

// 	& &__items &__item-value_text
// 		padding-top 0
// 		padding-bottom 0

// 	&__item-value-content
// 		margin 14px 0
// 		padding 0 150px 0 0
// 		position relative

// 	&__invisible-mark
// 		font-weight 400
// 		color #888
// 		font-size 12px
// 		margin-left 20px

// 	&__item-edit,
// 	&__item-edit:hover
// 		position absolute
// 		top 4px
// 		right 0
// 		text-decoration none
// 		display none

// 	& &__item &__item-edit
// 		color secondary_color
// 		font-weight normal
// 		font-size 12px
// 		line-height 1.2
// 		border-bottom 1px dotted

// 	&__item:hover &__item-edit
// 		display block

// 	&__item-edit::before
// 		@extend $profile-edit-icon
// 		font-size size
// 		font-weight normal
// 		position absolute
// 		right 100%
// 		padding-right 7px

// 	&__inline-change
// 		margin 7px 0
// 		width 100%
// 		display none

// 	&__inline-change_pass
// 		@extend $profile-highlight-background
// 		margin 0 (profile_item_padding_horiz * -1)
// 		padding 25px profile_item_padding_horiz

// 	&__inline-editable_editing &__inline-change
// 		display table

// 	&__inline-editable_editing &__inline-value,
// 	&__inline-editable_editing &__inline-edit-trigger
// 		display none

// 	&__edit,
// 	&__save
// 		display table-cell

// 	&__save
// 		width 1%
// 		white-space nowrap

// 	&__text-field .text-input__control
// 		padding 6px 4px

// 	&__select-field
// 		padding 4px
// 		margin-right 5px

// 	&__text-field_wide,
// 	&__select-field
// 		width 380px

// 	&__select-field_birth-day,
// 	&__select-field_birth-month
// 		width 70px

// 	&__select-field_birth-year
// 		width 100px

// 	&__textarea
// 		width 380px
// 		height 120px
// 		vertical-align bottom

// 	&__checkbox
// 		font-weight 400
// 		display inline-block
// 		margin-left 3px

// 		input
// 			margin-right 7px

// 	&__submit
// 		margin 0 10px
// 		line-height 24px

// 	&__item-edit-cancel:link,
// 	&__item-edit-cancel:visited
// 		color link_color
// 		font-weight 400
// 		font-size 12px
// 		text-decoration none

// 	&__item-edit-cancel:hover
// 		border-bottom 1px dashed

// 	&__profiles
// 		@extend $profile-content-wrap
// 		padding-bottom 50px
// 		min-height 500px

// 	& &__header
// 		font 700 18px font
// 		color #727272
// 		border 0
// 		margin 0
// 		padding 24px profile_item_padding_horiz 16px

// 	& &__header_with-separator
// 		border-bottom profile_item_separator

// 	& &__linked-profiles
// 		padding 0
// 		margin 0

// 	&__linked-profiles &__linked-profile::before
// 		content ""
// 		display none

// 	&__linked-profiles &__linked-profile
// 		margin 0
// 		padding 20px profile_item_padding_horiz
// 		border-top profile_item_separator

// 	&__linked-profiles &__linked-profile:last-child
// 		border-bottom: profile_item_separator

// 	&__linked-profile:hover
// 		@extend $profile-highlight-background

// 	&__small-upic
// 		vertical-align bottom
// 		float left
// 		margin-right profile_small_upic_margin

// 	& &__small-upic
// 		margin 0 profile_small_upic_margin 0 0

// 	&__linked-details
// 		@extend $profile-upic-aside
// 		position relative
// 		margin-right 30px

// 	&__linked-user
// 		font-weight 700
// 		font-size 16px

// 	&__social
// 		padding 19px profile_item_padding_horiz 27px
// 		font-size 0

// 	&__social-label
// 		margin-right 20px
// 		font-size size

// 	&__social-add
// 		margin-right 5px

// 	&__action
// 		padding 0 profile_item_padding_horiz 10px

// 	&__action-trigger:link,
// 	&__action-trigger:visited,
// 	&__action-trigger:hover,
// 	&__action-trigger:active
// 		color secondary_color
// 		text-decoration none
// 		line-height 1

// 	&__action-trigger
// 		border solid alpha(secondary_color, 0.4);
// 		border-width 0 0 1px

// 	&__action-trigger_pseudo
// 		border-style dashed

// 	&__label-input
// 		display inline-block
// 		margin-right 10px

// 	&__label-input_pass-change
// 		width 175px
// 		vertical-align bottom
// 		margin-bottom -8px

// 	&__label-input_pass-change &__text-field
// 		display block
// 		width 100%
// 		margin-top 5px

// 	&__items-amount
// 		display inline-block
// 		font 9px font
// 		background #727272
// 		line-height 19px
// 		min-width 11px
// 		padding 0 4px 0 4px
// 		margin-left 6px
// 		color #fff
// 		border-radius 10px
// 		text-align center
// 		vertical-align baseline

// 	&__tab_current &__items-amount
// 		background: secondary_color

// 	&__conversation
// 		@extend $profile-content-wrap

// 	& &__conversation-title
// 		margin 0
// 		padding 24px profile_item_padding_horiz 16px profile_item_padding_horiz + profile_small_upic_size + profile_small_upic_margin
// 		font 700 18px font
// 		color color

// 	&__conversation-title-user,
// 	&__message-user
// 		font-size 16px
// 		font-weight 700

// 	&__message-user:link,
// 	&__message-user:visited
// 		color color

// 	&__conversation-title-user:link,
// 	&__conversation-title-user:visited
// 		color link_color

// 	&__conversation-title-user:hover,
// 	&__conversation-title-user:active,
// 	&__message-user:hover,
// 	&__message-user:active
// 		color link_hover_color

// 	&__conversation-title-user:hover
// 		text-decoration underline

// 	&__compose
// 		padding 0 profile_item_padding_horiz 14px
// 		border-bottom profile_item_separator

// 	&__compose-controls
// 		@extend $profile-upic-aside

// 	&__compose-text
// 		width 675px
// 		height 150px
// 		display block
// 		margin-bottom 10px

// 	&__compose-submit
// 		min-width 140px

// 	&__conversation-message
// 		padding 19px profile_item_padding_horiz
// 		border-bottom profile_item_separator

// 	&__conversation-message:last-child
// 		padding-bottom 35px
// 		border-bottom 0

// 	&__conversation-message:hover
// 		@extend $profile-highlight-background

// 	&__message-body
// 		@extend $profile-upic-aside
// 		padding-right 50px
// 		position relative

// 	&__message-time
// 		font-size 11px
// 		color #8e8e8e
// 		margin-left 10px

// 	&__message-content
// 		max-width 700px
// 		p:first-child //- just one common case, should be enough
// 			margin-top 0

// 	&__conversation-message_gray &__message-user:link,
// 	&__conversation-message_gray &__message-content
// 		color #727272

// 	&__item-delete
// 		position absolute
// 		right 0
// 		top 19px
// 		text-decoration none
// 		display none

// 	&__conversation-message:hover &__item-delete,
// 	&__linked-profile:hover &__item-delete
// 		display block

// 	&__item-delete:link
// 		color secondary_color

// 	&__item-delete::before
// 		@extend $font-trash

// 	&__load-more
// 		background rgba(0, 0, 0, .02)
// 		padding 20px profile_item_padding_horiz
// 		text-align center
// 		text-decoration none
// 		display block

// 	&__load-more:link,
// 	&__load-more:visited
// 		color #727272

// 	&__load-more:hover
// 		background rgba(0, 0, 0, .04)
// 		text-decoration none
// 		color link_hover_color

// 	&__load-more-text
// 		border-bottom 1px dashed transparent

// 	&__load-more:hover &__load-more-text
// 		border-bottom 1px dashed

// // .profile__options {
// //     @extend %profile-content-wrap;
// //     padding-bottom: 100px;
// // }

// // .profile__orders {
// //     @extend %profile-content-wrap;
// // //        padding-bottom: 100px;
// // }

// // .profile__order {
// //     padding: 19px $profile-item-padding-horiz;
// //     border-bottom: $profile-item-separator;
// // }

// // .profile__order:last-child {
// //     border-bottom: $profile-item-separator;
// // }

// // .profile__order:hover {
// //     @extend %profile-highlight-background;
// // }

// // .profile__order-content,
// // .profile__order-price {
// //     display: table-cell;
// //     vertical-align: top;
// // }

// // .profile__order-content {
// //     width: 100%;
// // }

// // .profile__order-number {
// //     @extend .profile__message-user;
// // }

// // .profile__order-time {
// //     @extend .profile__message-time;
// // }

// // .profile__order-price {
// //     font-weight: 700;
// //     font-size: 19px;
// //     color: #727272;
// //     width: 100px;
// //     padding: 22px 55px 0 60px;
// //     text-align: right;
// // }

// // .profile__courses {
// // 	@extend %profile-content-wrap;
// // 	margin-bottom: 100px;
// // }

// // .profile__course {
// // 	display: table;
// // 	width: 100%;
// // 	border-bottom: $profile-item-separator;
// // }

// // .profile__course:last-child {
// // 	border: 0;
// // }

// // .profile__course-desc,
// // .profile__course-info {
// // 	display: table-cell;
// // 	padding: 17px 0 20px;
// // 	vertical-align: middle;
// // }

// // .profile__course:last-child .profile__course-desc,
// // .profile__course:last-child .profile__course-info {
// // 	padding-bottom: 41px;
// // }

// // .profile__course:first-child .profile__course-desc,
// // .profile__course:first-child .profile__course-info {
// // 	padding-top: 36px;
// // 	padding-bottom: 20px; // in case there is only one item
// // }

// // .profile__course-desc {
// // 	width: 100%;
// // 	padding-left: 22px;
// // }

// // .profile__course-title {
// // 	font: 18px $secondary-font;
// // 	margin-bottom: 3px;
// // }

// // .profile__course-status {
// // 	font-size: 13px;
// // }

// // .profile__course-info {
// // 	padding-right: 25px;
// // }

// // .profile__course-info-item {
// // 	display: table-cell;
// // 	border-left: 1px solid #e2ded1;
// // 	white-space: nowrap;
// // 	padding: 0 10px;
// // 	font-size: 13px;
// // 	height: 35px;
// // 	vertical-align: middle;
// // }

// // .profile__course-info-item:first-child,
// // .profile__course-info-item_noseparator {
// // 	border: 0;
// // }

// //  .profile__course-info-link:link,
// //  .profile__course-info-link:visited {
// // 	 color: $alternate-link-color;
// //  }
 
// //  .profile__course-info-link:hover,
// //  .profile__course-info-link:active {
// // 	 color: $link-hover-color;
// //  }
 
// //  .profile__confirmed {
// // 	 color: #469269;
// // 	 font-weight: 700;
// //  }
 
// //  .profile__confirmed::before {
// // 	 @include size-of('profile__confirmed.png');
// // 	 content: "";
// // 	 background: image-url('profile__confirmed.png');
// // 	 display: inline-block;
// // 	 vertical-align: middle;
// // 	 margin-right: 5px;
// //  }
 
// //  .profile__confirm {
// // 	 margin: 0;
// // 	 font-size: 13px;
// //  }
 
// //  .profile__confirm-wrap {
// // 	 min-width: 200px;
// //  }
 
// //  .profile__order-course {
// //  	border-bottom: $profile-item-separator;
// // 	padding: 20px 0;
// //  }
 
// //  .profile__order-course:first-child {
// // 	 padding-top: 34px;
// //  }
 
// //  .profile__order-course:last-child {
// //  	border-bottom: 0;
// // 	padding-bottom: 30px;
// //  }
 
// //  .profile__order-course-wrap {
// // 	 display: table;
// // 	 width: 100%;
// //  }
 
// //  .profile__order-course-number,
// //  .profile__order-course-time {
// // 	 font-size: 13px;
// //  }
 
// //  .profile__order-course-number {
// // 	 margin-right: 12px;
// //  }
 
// //  .profile__order-course-title {
// // 	 font: 18px $secondary-font;
// // 	 margin-bottom: 3px;
// //  }
 
// //  .profile__order-course-info {
// // 	 font-size: 13px;
// //  }
 
// //  .profile__order-course-delim
// //  {
// // 	 color: #9e9e9e;
// //  }
 
// //  .profile__order-course-content,
// //  .profile__order-course-desc,
// //  .profile__order-course-price {
// // 	 display: table-cell;
// // 	 vertical-align: top;
// //  }
 
// //  .profile__order-course-content {
// // 	 padding-left: 22px;
// //  }
 
// //  .profile__order-course-price {
// // 	 padding-right: 22px;
// // 	 padding-top: 6px;
// // 	 text-align: center;
// // 	 width: 190px;
// // 	 line-height: 1.2;
// //  }
 
// //  .profile__order-course-desc {
// // 	 padding-top: 30px;
// // 	 width: 180px;
// //  }
 
// //  .profile__order-course-desc-link {
// // 	 font-size: 13px;
// //  }
 
// //  .profile__order-course-desc-link:link,
// //  .profile__order-course-desc-link:visited {
// // 	 color: $alternate-link-color;
// //  }
 
// //  .profile__order-course-desc-link:hover,
// //  .profile__order-course-desc-link:active {
// // 	 color: $link-hover-color;
// //  }
 
// //  .profile__order-course-price {
// //  	font-size: 13px;
// //  }
 
// //  .profile__order-course-total {
// // 	 font: 19px $secondary-font;
// // 	 line-height: inherit;
// //  }
 
// //  .profile__order-course-ok,
// //  .profile__order-course-pending {
// // 	 font-weight: 700;
// // 	 color: #4c906b;
// //  }
 
// //  .profile__order-course-pending {
// // 	 color: $secondary-color;
// //  }
 
// //  @media (min-width: $largescreen) {
// //  	.profile__item-edit {
// //  		top: 5px;
// //  	}
// //  }
