.profile-photo
    &__upic
        width 146px
        height 146px
        margin 23px auto 35px
        position relative
        background-position 50% 50%
        background-size contain
        background-repeat no-repeat
        border-radius 50%

    &__upic-edit
        position absolute
        top 0
        right 0
        bottom 0
        left 0
        text-align center
        color #fff
        background rgba(0, 0, 0, .7)
        border-radius 50%
        cursor pointer
        font-size 12px
        line-height 17px
        display none

    &__upic-edit::before
        @extend $font-camera
        font-size 48px
        display block
        margin 30px 0 5px
        color rgba(255, 255, 255, .35)
        line-height 1

    &__upic:hover &__upic-edit
        display block

    & &__upic_loading &__upic-edit
        display none

    &__upic .spinner
        margin auto
        display block
        padding-top 64px

    &__upic .spinner__dot
        background #999

    &__content
        margin 20px 0
        border-radius 4px

