.profile
	&__upic
		width 146px
		height 146px
		margin auto
		position relative
		background-position 50% 50%
		background-size contain
		background-repeat no-repeat
		border-radius 50%

	&__upic-edit
		position absolute
		top 0
		right 0
		bottom 0
		left 0
		text-align center
		color #fff
		background rgba(0, 0, 0, .7)
		border-radius 50%
		cursor pointer
		font-size 12px
		line-height 17px
		display none

	&__upic-edit::before
		@extend $font-camera
		font-size 48px
		display block
		margin 30px 0 5px
		color rgba(255, 255, 255, .35)
		line-height 1

	&__upic:hover &__upic-edit
		display block

	& &__upic_loading &__upic-edit
		display none

	&__upic .spinner
		margin auto
		display block
		padding-top 64px

	&__upic .spinner__dot
		background #999

	&__content
		margin 20px 0
		border-radius 4px

	&__tabs
		display table
		width 100%
		table-layout fixed
		border-collapse collapse

	&__tab
		display table-cell

	&__tab-content
		border-right 1px solid #d7d3c8
		padding 21px 20px
		text-align center
		background #e7e3d9
		font 15px/18px secondary_font

	&__tab:first-child &__tab-content
		border-radius 4px 0 0

	&__tab:last-child &__tab-content
		border-radius 0 4px 0 0
		border-right 0

	&__tab_current &__tab-content,
	&__content
		background #f7f6ea

	&__tab-link
		color #727272

	&__tab_current &__tab-content,
	&__tab-link:hover
		color #BB1000

	&__item
		border-bottom 1px solid #e6e0d4
		line-height 20px
		padding 0 50px 0 40px

	&__item_editable
		position relative //- for overlay

	&__item_editable:not(&__item_editing):hover
		background #f9f8f0
		cursor pointer

	&__item:last-child
		border 0

	&__item:last-child &__item-content
		padding-bottom 32px

	&__item:last-child &__item-change
		padding-bottom 26px

	& &__inline-title
		margin 25px 0 0
		font-size 16px
		line-height 18px
		color #656565

	&__item-content
		@extend $clearfix
		position relative
		padding 17px 0 17px

	&__item:first-child &__item-content
		padding-top 30px

	&__item-change
		padding 11px 0
		display none
		position relative
		width 100%

	&__item-name,
	&__labeled-label
		color #727272
		float left
		min-width 140px
		margin-right 15px

	&_accounts &__item-name,
	&_accounts &__labeled-label
		min-width 110px

	&__item_editable &__item-content::after
		@extend $font-pencil
		position absolute
		left 100%
		margin-left 3px
		top 21px
		min-height 20px
		min-width 20px
		font-size 15px
		color #727272
		display none

	&__item:hover &__item-content::after
		display block

	&__item_editing &__item-content
		display none

	&__item_editing &__item-change
		display table

	&__item-value
		overflow auto

	&__item-value:empty::before
		content "—"

	&__action
		@extend $button-reset
		font inherit
		color #727272

	&__action:hover
		color link_hover_color
		text-decoration underline

	&__action_remove-account
		margin-bottom 100px

	& &__item-note,
	& &__item-title
		color #999
		margin 0

	& &__item-note
		margin-top 16px

	& &__item-title
		margin-bottom 12px

	&__social-login
		margin-right 6px
		vertical-align bottom
		margin-bottom 5px

	&__labeled
		min-height 32px

	&__labeled-label
		margin 6px 15px 0 0

	&__control
		box-sizing border-box
		width calc(100% - 155px)
		min-width 230px
		height 32px
		display inline-block
		font-size 14px

	&_accounts &__control
		width calc(100% - 125px)

	//- using id for styling as an exception,
	//- theese id's won't appear anywhere else
	//- and we use them just to set size
	#profile-birth-day
		min-width 0
		width 50px
		margin-right 10px

	#profile-birth-month
		min-width 0
		width 90px
		margin-right 10px

	#profile-birth-year
		min-width 0
		width 70px

	#profile-tz
		width 230px

	#profile-about
		height 100px

	&__pass-change
		display inline-block
		margin-right 18px

	&__pass
		width 150px

	&__change-content,
	&__ok-cancel
		display table-cell
		vertical-align top

	&__change-content
		padding-right 15px

	&__ok-cancel
		width 1%
		white-space nowrap

	&__item-save
		margin 0 0 -1px // убираем смещение соседних пунктов в момент показа в Fx
		height 32px

	&__item-cancel
		@extend $button-reset
		color #568DCA
		font-size inherit
		margin-left 10px

	&__item-cancel:hover
		color link_hover_color
		text-decoration underline

	&__item_linked-account &__item-content
		padding 19px 0 14px 68px
		min-height 48px

	&__linked-upic
		position absolute
		top 16px
		left 0
		width 48px
		height 48px

	&__linked-name
		font-weight 700
		color #333

	&__linked-provider
		color #999

	&__tests
		display table
		width 100%

	&__test
		display table-row

	&__test-name,
	&__test-score,
	&__test-level,
	&__test-weaks
		display table-cell
		vertical-align top
		padding 20px 15px 20px 0
		border-top 1px solid #E4DDD2

	&__test:first-child &__test-name,
	&__test:first-child &__test-score,
	&__test:first-child &__test-level,
	&__test:first-child &__test-weaks
		padding-top 34px
		border 0

	&__test:last-child &__test-name,
	&__test:last-child &__test-score,
	&__test:last-child &__test-level,
	&__test:last-child &__test-weaks
		padding-bottom 30px

	&__test-name
		padding-left 23px
		width 33%

	&__test-score
		width 21%

	&__test-level
		width 15%

	&__test-weaks
		padding-right 23px

	&__test-legend
		font-size 12px
		color #727272
		margin-bottom 1px

	&__test-title
		font 18px/22px secondary_font
		margin 4px 0 4px

	&__test-percent
		font-size 28px
		color #4C906B
		margin 7px 0 0 3px
