
.tutorial-map-overlay
    position fixed
    background rgba(0, 0, 0, .70)
    top 0
    right 0
    bottom 0
    left 0
    z-index 9
    box-shadow 0 2px 4px 4px rgba(0,0,0,.5);
    // transition top animation_duration, right animation_duration, left animation_duration
    overflow auto

    &__close,
    &__close:active
        position fixed
        top 10px
        right 20px
        z-index 2

    & .tutorial-map
        padding-top 105px

    & .tutorial-map__filter
        left 20px
        right 35px
        padding 55px 0 0 0


    & .tutorial-map__filter:before
        position absolute
        left 0
        top 0
        right 0

        height 25px

        background #4b4b4b;

        content ""

    & .tutorial-map__filter-t
        padding 0 40px
        box-sizing border-box

.tutorial-map_on
    overflow hidden

    .modal::before
        background none

    .modal .spinner__dot
        background #999

    .modal-dialog
        transform none
        // позиционирование менять не обязательно, потому что .tutorial-map-overlay
        // позиционирован как fixed, а transform убираем, чтобы position fixed
        // у .tutorial-map-overlay отсчитывался от окна
