*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.idea
.cache
.project
.settings
.tmproj
.nvmrc
nbproject
Thumbs.db

# NPM packages folder.
node_modules/

# TMP folder (anything)
tmp/

# Generated content
www/*
app/stylesheets/sprite/*

# Bower stuff.
bower_components/

# Passwords and other secret stuff
config/secret.js
