.*
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

# NPM packages folder.
node_modules/

# Brunch folder for temporary files.
tmp/

# Brunch output folder.
# Картинки для CSS
# Стили CSS
# JS
# www/
www/*

app/stylesheets/sprite

# Bower stuff.
bower_components/

# Passwords and other secret stuff
config/secret.js
