*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.idea
.cache
.project
.settings
.tmproj
.nvmrc
Thumbs.db

# generated content
public.versions.json
client/versions.json

# NPM packages folder.
node_modules/

# TMP folder (run-time tmp)
tmp/

# Manifest (build-generated content, versions)
manifest/


# contains v8 executable for linux-tick-processor (run from project root)
out/*

# Generated content
public/*


# Bower stuff.
bower_components/

