extends /layouts/main

block append variables
  - var layout_header_class = "main__header_center"
  - var content_class = '_center'
  - var sitetoolbar = true
  - var layout_main_class = "main_width-limit"
  - var siteToolbarCurrentSection = "courses";


block append head
  !=js("coursesMaterials", {defer: true})

block content

  if participant
    form(action="/courses/participants")
      label
        input(type="hidden" name="id" value=participant._id)
        input(type="checkbox" value="1" name="shouldNotifyMaterials" checked=participant.shouldNotifyMaterials data-should-notify-materials)
        | &nbsp;Уведомлять меня по email о появлении материалов.


  if materials.length
    +b.courses-materials

      if participant
        +e('p').video-key
          | Серийный номер для видео:
          = ' '
          +e('span')= participant.videoKey

      +e('table').table
        +e('tr').line
          +e('th').num #
          +e('th').name Название
          +e('th').size Размер
          +e('th').added Добавлено
        for material in materials
          +e('tr').line
            +e('td').num
            +e('td').name
              +e('a').link(href=material.url)= material.title
            +e('td').size= material.size
            +e('td').added= moment(material.created).format('DD.MM.YYYY')
  else
    +b.notification._message._info
      +e.content Материалов пока нет, будут доступны позже.
