extends /layouts/email

block body

  h2 Уведомление о материалах курса

  p На страницу <a href="#{link}">#{link}</a> добавлены материалы.

  p Вы можете скачать файл по прямой ссылке (если залогинены на сайте): <a href="#{fileLink}">#{fileTitle}</a>.

