extends /layouts/email

block body

  h2 Подтверждение оплаты

  p Подтверждаем получение оплаты за заказ #{orderNumber}.

  if orderUserIsParticipant
    p Перейдите по ссылке <a href="#{orderUserInviteLink}">#{orderUserInviteLink}</a>, чтобы присоединиться к группе.

    if orderHasOtherParticipants

      p.
        Приглашённые вами участники также получат письмо на электронную почту с предложением присоединиться.
        Письмо придёт с адреса orders@javascript.ru.

  else
    p.
      Приглашённые вами участники получат письмо на электронную почту с предложением присоединиться к группе.
      Письмо придёт с адреса orders@javascript.ru.

  p Если возникнут какие-либо вопросы &ndash; вы всегда можете ответить на это письмо.
