<p>Давайте посмотрим, что такого особенного в JavaScript, почему именно он, и какие еще технологии существуют, кроме
  JavaScript.</p>

<h2><a class="main__anchor" id="что-такое-javascript" href="#что-такое-javascript">Что такое JavaScript?</a></h2>

<p><em>JavaScript</em> изначально создавался для того, чтобы сделать web-странички «живыми».<br>
  Программы на этом языке называются <em>скриптами</em>. Они подключаются напрямую к HTML и, как только загружается
  страничка &mdash; тут же выполняются.</p>
<p><a href="http://en.wikipedia.org/wiki/ECMAScript">ECMAScript</a>
  <a href="mailto:me@example.com">намылить</a> <a target="_blank" href="habrahabr.ru">новая вкладка</a> <a
      href="/play/ECMAScript">песочница</a> <a href="http://plnkr.co/edit/mafDHHQUVJy7jdhlSMTB?p=preview">песочница
    plnkr.co</a> <a href="/files/file.doc">документ</a> <a href="/files/file.zip">архив</a> <a href="/files/file.xls">таблица</a>
  <a href="/files/file.pdf">pdf-документ</a> <a href="http://developer.mozilla.org/topic">справка в MDN</a> <a
      href="http://msdn.microsoft.com/topic">справка microsoft</a> <a href="http://www.w3.org/TR/HTML401">документация
    w3c</a> <a href="http://es5.github.com">спецификация ECMA</a></p>
<p><a class="plain" href="http://en.wikipedia.org/wiki/ECMAScript">ECMAScript</a>
  <a class="plain" href="mailto:me@example.com">намылить</a> <a class="plain" target="_blank" href="habrahabr.ru">новая
    вкладка</a> <a class="plain" href="/play/ECMAScript">песочница</a> <a class="plain"
                                                                          href="http://plnkr.co/edit/mafDHHQUVJy7jdhlSMTB?p=preview">песочница
    plnkr.co</a> <a class="plain" href="/files/file.doc">документ</a> <a class="plain" href="/files/file.zip">архив</a>
  <a class="plain" href="/files/file.xls">таблица</a> <a class="plain" href="/files/file.pdf">pdf-документ</a> <a
      class="plain" href="http://developer.mozilla.org/topic">справка в MDN</a> <a class="plain"
                                                                                   href="http://msdn.microsoft.com/topic">справка
    microsoft</a> <a class="plain" href="http://www.w3.org/TR/HTML401">документация w3c</a> <a class="plain"
                                                                                               href="http://es5.github.com">спецификация
    ECMA</a></p>
<p><a class="wiki" href="#01">ECMAScript</a>
  <a class="mailto" href="#02">намылить</a> <a class="external" target="_blank" href="#03">новая вкладка</a> <a
      class="sandbox" href="#04">песочница</a> <a class="sandbox" href="#999">песочница plnkr.co</a> <a class="doc"
                                                                                                        href="#05">документ</a>
  <a class="zip" href="#06">архив</a> <a class="xls" href="#07">таблица</a> <a class="pdf" href="#08">pdf-документ</a>
  <a class="mdn" href="#09">справка в MDN</a> <a class="msdn" href="#10">справка microsoft</a> <a class="w3c"
                                                                                                  href="#11">документация
    w3c</a> <a class="ecma" href="#12">спецификация ECMA</a></p>
<p><strong>Программы на JavaScript &mdash; обычный текст</strong>. Они не требуют какой-то специальной подготовки.</p>
<p>А здесь мы приведем пример сочетания клавиш <kbd class="shortcut">Cmd <span class="shortcut__plus">+</span> R</kbd>
  прямо в тексте урока.</p>
<p>Примеры кода и результата, которые должны создаваться динамически:</p>

<pre class="language-javascript line-numbers">&lt;div class="code-example"&gt;
    &lt;div class="codebox code-example__codebox"&gt;
        &lt;div class="toolbar codebox__toolbar"&gt;
            &lt;div class="toolbar__tool"&gt;
                &lt;a href="/play/abcdef" class="toolbar__button toolbar__button_run" title="выполнить"&gt;
                    &lt;span class="toolbar__button-text"&gt;выполнить&lt;/span&gt;
                &lt;/a&gt;
            &lt;/div&gt;
            &lt;div class="toolbar__tool"&gt;
                &lt;a href="/files/file.doc" class="toolbar__button toolbar__button_edit" title="редактировать"&gt;
                    &lt;span class="toolbar__button-text"&gt;редактировать&lt;/span&gt;
                &lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;
&lt;pre class="language-javascript line-numbers"&gt;function sayHi(name) {
  var phrase = "Привет, " + name;
  alert(phrase);
}

sayHi('Вася');&lt;/pre&gt;
    &lt;/div&gt;

    &lt;div class="result code-example__result"&gt;
        &lt;div class="toolbar result__toolbar"&gt;
            &lt;div class="toolbar__tool"&gt;
                &lt;a href="/files/file.doc" class="toolbar__button toolbar__button_edit" title="редактировать"&gt;
                    &lt;span class="toolbar__button-text"&gt;редактировать&lt;/span&gt;
                &lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;iframe class="result__iframe" src="http://sass-lang.com/documentation/Sass/Script/Functions"&gt;&lt;/iframe&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>

<div class="code-example">
  <div class="codebox code-example__codebox">
    <div class="toolbar codebox__toolbar">
      <div class="toolbar__tool">
        <a href="/play/abcdef" class="toolbar__button toolbar__button_run" title="выполнить">
          <span class="toolbar__button-text">выполнить</span>
        </a>
      </div>
      <div class="toolbar__tool">
        <a href="/files/file.doc" class="toolbar__button toolbar__button_edit" title="редактировать">
          <span class="toolbar__button-text">редактировать</span>
        </a>
      </div>
    </div>
<pre class="language-javascript line-numbers">function sayHi(name) {
  var phrase = "Привет, " + name;
  alert(phrase);
}

sayHi('Вася');</pre>
  </div>

  <div class="result code-example__result">
    <div class="toolbar result__toolbar">
      <div class="toolbar__tool">
        <a href="/files/file.doc" class="toolbar__button toolbar__button_edit" title="редактировать">
          <span class="toolbar__button-text">редактировать</span>
        </a>
      </div>
    </div>
    <iframe class="result__iframe" src="http://sass-lang.com/documentation/Sass/Script/Functions"></iframe>
  </div>
</div>

<p>Пример кода</p>

<pre class="language-javascript line-numbers" data-highlight-block="5-7" data-highlight-inline="2:8-14" data-trusted="1"
     data-run="1">function sayHi(name) {
  var phrase = "Привет, " + name;
  alert(phrase);
}

function HelloWorld(world) {
    alert('Hello, ' + world);
}

HelloWorld('World');

sayHi('Вася');</pre>

<div class="code-example">
  <div class="codebox code-example__codebox">
    <div class="toolbar codebox__toolbar">
      <div class="toolbar__tool">
        <a href="/play/abcdef" class="toolbar__button toolbar__button_run" title="выполнить">
          <span class="toolbar__button-text">выполнить</span>
        </a>
      </div>
      <div class="toolbar__tool">
        <a href="/files/file.doc" class="toolbar__button toolbar__button_edit" title="редактировать">
          <span class="toolbar__button-text">редактировать</span>
        </a>
      </div>
    </div>
<pre class="language-javascript line-numbers">function sayHi(name) {
  var phrase = "Привет, " + name;
  alert(phrase);
}

sayHi('Вася');</pre>
  </div>
</div>

<p>Пример результата без кода, такой код должен создаваться динамически в js</p>
<pre class="language-javascript line-numbers">&lt;div class="code-example"&gt;
    &lt;div class="result code-example__result"&gt;
        &lt;div class="toolbar result__toolbar"&gt;
            &lt;div class="toolbar__tool"&gt;
                &lt;a href="/files/file.doc" class="toolbar__button toolbar__button_edit" title="редактировать"&gt;
                    &lt;span class="toolbar__button-text"&gt;редактировать&lt;/span&gt;
                &lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;iframe class="result__iframe" src="http://sass-lang.com/documentation/Sass/Script/Functions"&gt;&lt;/iframe&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>

<div class="code-example">
  <div class="result code-example__result">
    <div class="toolbar result__toolbar">
      <div class="toolbar__tool">
        <a href="/files/file.doc" class="toolbar__button toolbar__button_edit" title="редактировать">
          <span class="toolbar__button-text">редактировать</span>
        </a>
      </div>
    </div>
    <iframe class="result__iframe" src="http://sass-lang.com/documentation/Sass/Script/Functions"></iframe>
  </div>
</div>

<p>В этом плане JavaScript сильно отличается от другого языка, который называется Java.</p>

<div class="complex-code">
  <div class="complex-code__tools">
    <div class="complex-code__switches-wrap">
      <div class="complex-code__switches">
        <div class="complex-code__switch complex-code__switch_current">Результат</div>
        <div class="complex-code__switch">index.html</div>
        <div class="complex-code__switch">style.css</div>
        <div class="complex-code__switch">example.js</div>
      </div>
    </div>
    <div class="complex-code__all complex-code__all_open">
      <div class="complex-code__all-toggle">все файлы</div>
      <div class="complex-code__dropdown">
        <div class="complex-code__all-item complex-code__all-item_current">Результат</div>
        <div class="complex-code__all-item">index.html</div>
        <div class="complex-code__all-item">style.css</div>
        <div class="complex-code__all-item">example.js</div>
      </div>
    </div>
    <div class="complex-code__open-wrap">
      <a class="complex-code__open" target="_blank" href="http://example.com"></a>
    </div>
  </div>
  <div class="complex-code__contents">
    <div class="complex-code__section complex-code__section_current">
            <pre>function sayHi(name) {
  var phrase = "Привет, " + name;
  alert(phrase);
}

function HelloWorld(world) {
    alert('Hello, ' + world);
}

HelloWorld('World');

sayHi('Вася');</pre>
    </div>
    <div class="complex-code__section">

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, omnis, illum, ipsam rem vitae assumenda
        impedit aut maiores iure alias recusandae repellat natus amet excepturi autem quisquam illo at. Voluptas,
        perspiciatis, nesciunt magni provident voluptates quis impedit ipsam nam modi animi illo nihil corrupti
        molestias aliquid omnis praesentium ipsa esse. Dolorem, accusantium, quia quos natus ad adipisci doloribus omnis
        excepturi repellendus impedit sequi dolores esse officiis voluptatem aperiam autem quidem magni possimus
        expedita nemo. Cumque, sed dolorem tempore impedit quam saepe porro beatae itaque quo ut ipsum magnam iste.
        Reprehenderit, nulla, suscipit fugit ab tenetur quis eius quasi corrupti repellendus!</p>
    </div>
    <div class="complex-code__section">

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, omnis, repellendus quidem nostrum quasi
        voluptatem. Tenetur, facere, aliquam, sint vero cupiditate dolore inventore facilis commodi amet molestiae
        explicabo dolorem natus consequatur voluptatibus quia sunt rerum dolor architecto molestias dolores? Rem,
        facilis voluptas vitae quam autem iure dolorem consequatur vero eos neque veritatis commodi debitis amet non
        quidem dolores voluptate praesentium provident odio eligendi labore aliquam dolorum sit! Sequi, ab,
        corporis!</p>
    </div>
    <div class="complex-code__section">

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, atque, id, dolor dicta tempora earum repellat
        obcaecati illo incidunt provident aliquam saepe odit dolorum deserunt perspiciatis mollitia porro at iste quos
        esse officiis consequuntur autem deleniti quia nam ipsum recusandae minima totam reiciendis?</p>
    </div>
  </div>
</div>

<p>Выделенный блок с информацией.</p>

<section class="important important_smart">
  <header class="important__header">
    <span class="important__type"></span>

    <h3 class="important__title">Почему <u>Java</u>Script?</h3>
  </header>
  <div class="important__content">
    <p>Когда создавался язык JavaScript, у него изначально было другое название: «LiveScript». Но тогда был очень
      популярен язык Java, и маркетологи решили, что схожее название сделает новый язык более популярным.</p>

    <p>Планировалось, что JavaScript будет эдаким «младшим братом» Java. Однако, история распорядилась по-своему,
      JavaScript сильно вырос, и сейчас это совершенно независимый язык, со своей спецификацией, которая называется <a
          href="http://en.wikipedia.org/wiki/ECMAScript">ECMAScript</a>, и к Java не имеет никакого отношения.</p>

    <p>У него много особенностей, которые усложняют освоение, но по ходу учебника мы с ними разберемся.</p>
  </div>
</section>

<table class="bordered">
  <tbody>
  <tr>
    <th></th>
    <th><code>XMLHttpRequest</code></th>
    <th><code>IFRAME</code></th>
    <th><code>SCRIPT</code></th>
    <th><code>EventSource</code></th>
    <th><code>WebSocket</code></th>
  </tr>
  <tr>
    <th>Кросс-доменность</th>
    <td>да, кроме IE&lt;10<a class="link-ref" href="#x1">x1</a></td>
    <td>да, сложности в IE&lt;8<a class="link-ref" href="#i1">i1</a></td>
    <td>да</td>
    <td>да</td>
    <td>да</td>
  </tr>
  <tr>
    <th>Методы</th>
    <td>Любые</td>
    <td>GET / POST</td>
    <td>GET</td>
    <td>GET</td>
    <td>Свой протокол</td>
  </tr>
  <tr>
    <th>COMET</th>
    <td>Длинные опросы<a class="link-ref" href="#x2">x2</a></td>
    <td>Непрерывное соединение</td>
    <td>Длинные опросы</td>
    <td>Непрерывное соединение</td>
    <td>Непрерывное соединение в обе стороны</td>
  </tr>
  <tr>
    <th>Поддержка</th>
    <td>Все браузеры, ограничения в IE&lt;10<a class="link-ref" href="#x3">x3</a></td>
    <td>Все браузеры</td>
    <td>Все браузеры</td>
    <td>Кроме IE</td>
    <td>IE 10, FF11, Chrome 16, Safari 6, Opera 12.5<a class="link-ref" href="#w1">w1</a></td>
  </tr>
  </tbody>
</table>

<p>Выделенный блок c предупреждением</p>

<section class="important important_warn">
  <header class="important__header">
    <span class="important__type">Важно:</span>

    <h3 class="important__title">Почему <u>Java</u>Script?</h3>
  </header>
  <div class="important__content">
    <p>Когда создавался язык JavaScript, у него изначально было другое название: «LiveScript». Но тогда был очень
      популярен язык Java, и маркетологи решили, что схожее название сделает новый язык более популярным.</p>

    <p>Планировалось, что JavaScript будет эдаким «младшим братом» Java. Однако, история распорядилась по-своему,
      JavaScript сильно вырос, и сейчас это совершенно независимый язык, со своей спецификацией, которая называется <a
          href="http://en.wikipedia.org/wiki/ECMAScript">ECMAScript</a>, и к Java не имеет никакого отношения.</p>

    <p>У него много особенностей, которые усложняют освоение, но по ходу учебника мы с ними разберемся.</p>
  </div>
</section>

<p>Выделенный блок c вопросом</p>

<section class="important important_ponder">
  <header class="important__header">
    <span class="important__type">Вопрос:</span>

    <h3 class="important__title">Почему <u>Java</u>Script?</h3>
  </header>
  <div class="important__content">
    <p>Когда создавался язык JavaScript, у него изначально было другое название: «LiveScript». Но тогда был очень
      популярен язык Java, и маркетологи решили, что схожее название сделает новый язык более популярным.</p>

    <p>Планировалось, что JavaScript будет эдаким «младшим братом» Java. Однако, история распорядилась по-своему,
      JavaScript сильно вырос, и сейчас это совершенно независимый язык, со своей спецификацией, которая называется <a
          href="http://en.wikipedia.org/wiki/ECMAScript">ECMAScript</a>, и к Java не имеет никакого отношения.</p>

    <p>У него много особенностей, которые усложняют освоение, но по ходу учебника мы с ними разберемся.</p>
  </div>
</section>

<p>Выделенный блок c ответом</p>

<div class="important important_ok">
  <div class="important__header">
    <span class="important__type">Задание</span>
    <a target="_blank" href="/task/vyzov-na-meste" class="important__task-link important__task-link_empty"></a>
    <span title="Насколько эта задача важна для освоения материала, от 1 до 5"
          class="important__importance">Важность: 4</span>
  </div>
  <div class="important__content">
    <p>Когда создавался язык JavaScript, у него изначально было другое название: «LiveScript». Но тогда был очень
      популярен язык Java, и маркетологи решили, что схожее название сделает новый язык более популярным.</p>

    <p>Планировалось, что JavaScript будет эдаким «младшим братом» Java. Однако, история распорядилась по-своему,
      JavaScript сильно вырос, и сейчас это совершенно независимый язык, со своей спецификацией, которая называется <a
          href="http://en.wikipedia.org/wiki/ECMAScript">ECMAScript</a>, и к Java не имеет никакого отношения.</p>

    <p>У него много особенностей, которые усложняют освоение, но по ходу учебника мы с ними разберемся <a
        href="http://plnkr.co/edit/mafDHHQUVJy7jdhlSMTB?p=preview">в песочнице</a>.</p>
  </div>
</div>

<p>Чтобы читать и выполнять текст на JavaScript, нужна специальная программа &mdash; <a
    href="http://ru.wikipedia.org/wiki/%D0%98%D0%BD%D1%82%D0%B5%D1%80%D0%BF%D1%80%D0%B5%D1%82%D0%B0%D1%82%D0%BE%D1%80">интерпретатор</a>.
  Процесс выполнения скрипта называют <em>«интерпретацией»</em>.</p>

<section class="important important_smart">
  <header class="important__header">
    <span class="important__type">На заметку:</span>

    <h3 class="important__title">Компиляция и интерпретация, для программистов</h3>
  </header>
  <div class="important__content">
    <p>Строго говоря, для выполнения программ существуют «компиляторы» и «интерпретаторы». </p>

    <p>Когда-то между ними была большая разница. Компиляторы преобразовывали программу в машинный код, который потом
      можно выполнять. А интерпретаторы &mdash; просто выполняли.</p>

    <p>Сейчас разница гораздо меньше. Современные интерпретаторы перед выполнением преобразуют JavaScript в машинный код
      (или близко к нему), чтобы выполнялся он быстрее. То есть, по сути, компилируют, а затем запускают. </p>
  </div>
</section>

<p>Во все основные браузеры встроен интерпретатор JavaScript, именно поэтому они могут выполнять скрипты на
  странице.</p>

<p>Но, разумеется, этим возможности JavaScript не ограничены. Это полноценный язык, программы на котором можно запускать
  и на сервере, и даже в стиральной машинке, если в ней установлен соответствующий интерпретатор.</p>

<h2><a class="main__anchor" id="что-умеет-javascript" href="#что-умеет-javascript">Что умеет JavaScript?</a></h2>
<h3><a class="main__anchor" id="что-умеет-javascript" href="#что-умеет-javascript">Подзаголовок</a></h3>
<h4><a class="main__anchor" id="что-умеет-javascript" href="#что-умеет-javascript">Подподзаголовок</a></h4>

<p>Современный JavaScript &mdash; это «безопасный» язык программирования общего назначения. Он не предоставляет
  низкоуровневых средств работы с памятью, процессором, так как изначально был ориентирован на браузеры, в которых это
  не требуется.</p>
<p>В браузере JavaScript умеет делать все, что относится к манипуляции со страницей, взаимодействию с посетителем и, в
  какой-то мере, с сервером: </p>
<ul>
  <li>Создавать новые HTML-теги, удалять существующие, менять стили элементов, прятать, показывать элементы и т.п.</li>
  <li>Реагировать на действия посетителя, обрабатывать клики мыши, перемещение курсора, нажатие на клавиатуру и т.п.
  </li>
  <li>Посылать запросы на сервер и загружать данные без перезагрузки страницы(эта технология называется "AJAX").</li>
  <li>Получать и устанавливать cookie, запрашивать данные, выводить сообщения…</li>
  <li>…и многое, многое другое!</li>
</ul>

<h2><a class="main__anchor" id="что-не-умеет-javascript" href="#что-не-умеет-javascript">Что НЕ умеет JavaScript?</a>
</h2>
<p><strong>JavaScript &mdash; быстрый и мощный язык, но браузер накладывает на его исполнение некоторые
  ограничения.</strong></p>
<p>Это сделано для безопасности пользователей, чтобы злоумышленник не мог с помощью JavaScript получить личные данные
  или как-то навредить компьютеру пользователя. В браузере Firefox существует способ «подписи» скриптов с целью обхода
  части ограничений, но он нестандартный и не кросс-браузерный.</p>

<section class="important important_ok">
  <header class="important__header">
    <span class="important__type">Задание:</span>

    <h3 class="important__title"><a class="important__task-link" href="/task/vyzov-na-meste" target="_blank"><u>Вызов
      «на месте»</u></a></h3>
        <span class="important__importance"
              title="Насколько эта задача важна для освоения материала, от 1 до 5">Важность: 4</span>
  </header>
  <div class="important__content">
    <p>Каков будет результат выполнения кода? Почему?</p>

    <div class="codebox">
            <pre class="language-javascript line-numbers"><code>var a = 5

              (function() {
              alert(a)
              })()</code></pre>
    </div>

    <p>P.S. <em>Подумайте хорошо! Здесь все ошибаются!</em><br>
      P.P.S. <em>Внимание, здесь подводный камень! Ок, вы предупреждены.</em></p>

    <div class="spoiler closed">
      <button class="spoiler__button">
        <u>Решение</u>
      </button>
      <div class="spoiler__content">
        <p>Результат - <strong>ошибка</strong>. Попробуйте:</p>

        <div class="codebox">
                    <pre class="language-javascript line-numbers"><code>var a = 5

                      (function() {
                      alert(a)
                      })()</code></pre>
        </div>
        <p>Дело в том, что после <code>var a = 5</code> нет точки с запятой. </p>

        <p>JavaScript воспринимает этот код как если бы перевода строки не было:</p>

        <div class="codebox">
                    <pre class="language-javascript line-numbers"><code>var a = 5(function() {
                      alert(a)
                      })()</code></pre>
        </div>
        <p>То есть, он пытается вызвать <em>функцию</em> <code>5</code>, что и приводит к ошибке.</p>

        <p>Если точку с запятой поставить, все будет хорошо:</p>

        <div class="codebox">
                    <pre class="language-javascript line-numbers"><code>var a = 5;

                      (function() {
                      alert(a)
                      })()</code></pre>
        </div>
        <p>Это один из наиболее частых и опасных подводных камней, приводящих к ошибкам тех, кто <em>не</em> ставит
          точки с запятой.</p>
      </div>
    </div>
    <div class="spoiler closed">
      <button class="spoiler__button">
        <u>Еще одно решение</u>
      </button>
      <div class="spoiler__content">
        <p>К одной задаче могут быть добавлены одно или несколько решений. Решения, идущие подряд, «стыкуются» без
          промежутков</p>
      </div>
    </div>
  </div>
</section>

<p>Спойлеры вне блока <code>.important</code></p>

<div class="spoiler closed">
  <button class="spoiler__button">
    <u>Решение</u>
  </button>
  <div class="spoiler__content">
    <p>Результат - <strong>ошибка</strong>. Попробуйте:</p>

    <div class="codebox">
            <pre class="language-javascript line-numbers"><code>var a = 5

              (function() {
              alert(a)
              })()</code></pre>
    </div>
    <p>Дело в том, что после <code>var a = 5</code> нет точки с запятой. </p>

    <p>JavaScript воспринимает этот код как если бы перевода строки не было:</p>

    <div class="codebox">
            <pre class="language-javascript line-numbers"><code>var a = 5(function() {
              alert(a)
              })()</code></pre>
    </div>
    <p>То есть, он пытается вызвать <em>функцию</em> <code>5</code>, что и приводит к ошибке.</p>

    <p>Если точку с запятой поставить, все будет хорошо:</p>

    <div class="codebox">
            <pre class="language-javascript line-numbers"><code>var a = 5;

              (function() {
              alert(a)
              })()</code></pre>
    </div>
    <p>Это один из наиболее частых и опасных подводных камней, приводящих к ошибкам тех, кто <em>не</em> ставит точки с
      запятой.</p>
  </div>
</div>
<div class="spoiler closed">
  <button class="spoiler__button">
    <u>Еще одно решение</u>
  </button>
  <div class="spoiler__content">
    <p>К одной задаче могут быть добавлены одно или несколько решений. Решения, идущие подряд, «стыкуются» без
      промежутков</p>
  </div>
</div>

<p>Этих ограничений нет там, где JavaScript используется вне браузера, например на сервере.</p>
<p><strong>Большинство возможностей JavaScript в браузере ограничено текущим окном и страницей.</strong></p>
<p><img width="556" height="289" src="http://learn.javascript.ru/files/tutorial/intro/jslimit.jpg"></p>
<ul>
  <li>
    <p>JavaScript не может читать/записывать произвольные файлы на жесткий диск, копировать их или вызывать программы.
      Он не имеет прямого доступа к операционной системе.</p>

    <p>Современные браузеры могут работать с файлами, но эта возможность ограничена специально выделенной
      директорией &mdash; <em>песочницей</em>. Возможности по доступу к устройствам также прорабатываются в современных
      стандартах и, частично, доступны в некоторых браузерах.</p></li>
  <li>
    <p>JavaScript, работающий в одной вкладке, почти не может общаться с другими вкладками и окнами. За исключением
      случая, когда он сам открыл это окно или несколько вкладок из одного источника (одинаковый домен, порт,
      протокол).</p>

    <p>Есть способы это обойти, и они раскрыты в учебнике, но для этого требуется как минимум явное согласие обеих
      сторон. Просто так взять и залезть в произвольную вкладку с другого домена нельзя.</p>
  </li>
  <li>
    <p>Из JavaScript можно легко посылать запросы на сервер, с которого пришла страничка. Запрос на другой домен тоже
      возможен, но менее удобен, т.к. и здесь есть ограничения безопасности.</p>
  </li>
</ul>

<h2><a class="main__anchor" id="в-чем-уникальность-javascript" href="#в-чем-уникальность-javascript">В чем уникальность
  JavaScript?</a></h2>
<p>Есть как минимум <em>три</em> замечательных особенности JavaScript:</p>
<div class="balance balance_single">
  <div class="balance__content">
    <div class="balance__pluses">
      <!-- <h3 class="balance__title">Плюсы</h3> -->
      <ul class="balance__list">
        <li><p>Полная интеграция с HTML/CSS. <code>function f (x, y, z) { return x + y + z; }</code></p></li>
        <li><p>Простые вещи делаются просто.
                <pre class="language-javascript line-numbers">function sayHi(name) {
  var phrase = "Привет, " + name;
  alert(phrase);
}

sayHi('Вася');</pre>
          </p></li>
        <li><p>Поддерживается всеми распространенными браузерами и включен по умолчанию.</p></li>
      </ul>
    </div>
  </div>
</div>

<p>Вариант блока с достоинствами и недостатками</p>

<div class="balance">
  <div class="balance__content">
    <div class="balance__pluses">
      <h3 class="balance__title">Достоинства</h3>
      <ul class="balance__list">
        <li><p>Полная интеграция с HTML/CSS.</p></li>
        <li><p>Простые вещи делаются просто.</p></li>
        <li><p>Поддерживается всеми распространенными браузерами и включен по умолчанию.</p></li>
      </ul>
    </div>
    <div class="balance__minuses">
      <h3 class="balance__title">Недостатки</h3>
      <ul class="balance__list">
        <li><p>Полная интеграция с HTML/CSS.</p></li>
        <li><p>Простые вещи делаются просто.</p></li>
        <li><p>Поддерживается всеми распространенными браузерами и включен по умолчанию.</p></li>
      </ul>
    </div>
  </div>
</div>

<p><strong>Этих трех вещей одновременно нет больше ни в одной браузерной технологии.</strong> Поэтому JavaScript и
  является самым распространенным средством создания браузерных интерфейсов.</p>
<p>Пример блока "balance" с узким контентом, который может вызвать ошибку</p>

<div class="balance">
  <div class="balance__content">
    <div class="balance__pluses">
      <h3 class="balance__title">Достоинства</h3>
      <ul class="balance__list">
        <li class="plus">
          <p>Простота&nbsp;реализации.</p>
        </li>
      </ul>
    </div>
    <div class="balance__minuses">
      <h3 class="balance__title">Недостатки</h3>
      <ul class="balance__list">
        <li class="minus">
          <p>Задержки между событием и&nbsp;уведомлением.</p>
        </li>
        <li class="minus">
          <p>Лишний трафик и запросы на&nbsp;сервер.</p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="hide-closed">
  <a class="hide-link" href="#"><u>Показать простой вариант <code>compareNumeric</code></u></a>

  <div class="hide-content">
    <p>Функция должна возвращать положительное число, если <code>a &gt; b</code>, отрицательное, если наоборот, и,
      например, <code>0</code>, если числа равны. </p>

    <p>Всем этим требованиям удовлетворяет функция.</p>

    <p>А примера кода не будет.</p>
  </div>
</div>

<h2><a class="main__anchor" id="тенденции-развития" href="#тенденции-развития">Тенденции развития.</a></h2>
<p>Перед тем, как вы планируете изучить новую технологию, полезно ознакомиться с ее развитием и перспективами. Здесь в
  JavaScript все более чем хорошо.</p>

<h3><a class="main__anchor" id="html-5" href="#html-5">HTML 5</a></h3>
<p><em>HTML 5</em> &mdash; эволюция стандарта HTML, добавляющая новые теги и, что более важно, ряд новых возможностей
  браузерам.</p>
<div class="spoiler closed">
  <button class="spoiler__button">
    <u>Блок со скрытым контентом в произвольном месте на странице</u>
  </button>

  <div class="spoiler__content">
    <p>Здесь может быть что угодно</p>
  </div>
</div>
<p>Вот несколько примеров:</p>
<ul>
  <li>Чтение/запись файлов на диск (в специальной «песочнице», то есть не любые).</li>
  <li>Встроенная в браузер база данных, которая позволяет хранить данные на компьютере пользователя.</li>
  <li>Многозадачность с одновременным использованием нескольких ядер процессора.</li>
  <li>Проигрывание видео/аудио, без Flash.</li>
  <li>2d и 3d-рисование с аппаратной поддержкой, как в современных играх.</li>
</ul>
<p>Многие возможности HTML5 все еще в разработке, но браузеры постепенно начинают их поддерживать.</p>
<div class="summary">
  <div class="summary__content"><p>Тенденция: JavaScript становится все более и более мощным и возможности браузера
    растут в сторону десктопных приложений.</p></div>
</div>

<h3><a class="main__anchor" id="ecmascript" href="#ecmascript">EcmaScript</a></h3>
<p>Сам язык JavaScript улучшается. Современный стандарт EcmaScript 5 включает в себя новые возможности для
  разработки.</p>
<p>Современные браузеры улучшают свои движки, чтобы увеличить скорость исполнения JavaScript, исправляют баги и
  стараются следовать стандартам.</p>
<div class="summary">
  <div class="summary__content">
    <p>Тенденция: JavaScript становится все быстрее и стабильнее.</p>
  </div>
</div>
<p>Очень важно то, что новые стандарты HTML5 и ECMAScript сохраняют максимальную совместимость с предыдущими версиями.
  Это позволяет избежать неприятностей с уже существующими приложениями.</p>
<p>Впрочем, небольшая проблема с HTML5 все же есть. Иногда браузеры стараются включить новые возможности, которые еще не
  полностью описаны в стандарте, но настолько интересны, что разработчики просто не могут ждать. </p>
<p class="main__strong">…Однако, со временем стандарт меняется и браузерам приходится подстраиваться к нему, что может
  привести к ошибкам в уже написанном (старом) коде. Поэтому следует дважды подумать перед тем, как применять на
  практике такие «супер-новые» решения.</p>
<p>При этом все браузеры сходятся к стандарту, и различий между ними уже гораздо меньше, чем всего лишь несколько лет
  назад.</p>
<div class="summary">
  <div class="summary__content">
    <p>Тенденция: все идет к полной совместимости со стандартом.</p>
  </div>
</div>

<h2><a class="main__anchor" id="недостатки-javascript" href="#недостатки-javascript">Недостатки JavaScript</a></h2>
<p>Зачастую, недостатки подходов и технологий &mdash; это обратная сторона их полезности. Стоит ли упрекать молоток в
  том, что он &mdash; тяжелый? Да, неудобно, зато гвозди забиваются лучше.</p>

<h3>Заголовок третьего уровня</h3>
<p>В JavaScript, однако, есть вполне объективные недоработки, связанные с тем, что язык, по выражению его автора
  (Brendan Eich) делался «за 10 бессонных дней и ночей». Поэтому некоторые моменты продуманы плохо, есть и откровенные
  ошибки (которые признает тот же Brendan). </p>
<p>Конкретные примеры мы увидим в дальнейшем, т.к. их удобнее обсуждать в процессе освоения языка.</p>

<h4>Заголовок четвертого уровня</h4>
<p>Пока что нам важно знать, что некоторые «странности» языка не являются чем-то очень умным, а просто не были
  достаточно хорошо продуманы в своё время. В этом учебнике мы будем обращать особое внимание на основные недоработки и
  «грабли». Ничего критичного в них нет, если знаешь &mdash; не наступишь.</p>
<p><strong>В новых версиях JavaScript (ECMAScript) эти недостатки постепенно убирают.</strong> Процесс внедрения
  небыстрый, в первую очередь из-за старых версий IE, но они постепенно вымирают. Современный IE в этом отношении
  несравнимо лучше.</p>
