doctype html
html
  head

    block variables
      - var self = {};
      - self.bodyId = 'page';
      - self.title = 'Модальные формы логина';
      - self.comments = {} // хм?
      - self.comments.lenght = 5;

    include ../blocks/head
    include /bemto

  body
    .modal
      .modal-dialog
        +b.login-form
          +e('form').form(action="#")
            +e.line.__header
              +e('h4').title Вход в систему
              +e.header-aside
                a(href="#register") регистрация
            +e.line.__notification
              +e.info
                | Новый пароль был отправлен на ваш email
            +e.line.__notification
              +e.error
                | Email либо пароль введены неверно
            +e.line
              +e('label').label(for="login") Имя пользователя или Email:
              +b('span').text-input.__input
                +e('input').control#login(name="login")
            +e.line
              +e('label').label(for="password") Пароль:
              +b('span').text-input.__input
                +e('input').control#password(type="password", name="password")
            +e.line.__footer
              +e.button
                //- FIXME: onclick для демо и удобной отладки верстки. Убрать.
                +b('button').submit-button.__submit(type="submit", onclick="this.classList.toggle('submit-button_progress'); return false;")
                  //- элемент text нужен только если нужна возможность скрывать текст,
                  //- например чтобы на его месте показать индикатор
                  +e('span').text Войти
                  +b('span').loader._small.__loader
                    +e('span').dot._1
                    +e('span').dot._2
                    +e('span').dot._3
              +e.footer-link
                a(href="forgot") Забыли пароль?
            +e.line.__social-login
              +e('h5').social-login-title Вход через социальные сети
              =" "
              +b('a').social-login._twitter(href="#") Twitter
              =" "
              +b('a').social-login._vkontakte(href="#") Вконтакте
              =" "
              +b('a').social-login._facebook(href="#") Facebook
              =" "
              +b('a').social-login._google(href="#") Google+
              =" "
              +b('a').social-login._github(href="#") Github
    br
    br

    +b.login-form
      +e('form').form(action="#")
        +e.line.__header
          +e('h4').title Вход в систему
          +e.header-aside
            a(href="#register") регистрация
        +e.line.__notification
          +e.info
            | Новый пароль был отправлен на ваш email
        +e.line.__notification
          +e.error
            | Email либо пароль введены неверно
        +e.line
          +e('label').label(for="login") Имя пользователя или Email:
          +b('span').text-input.__input
            +e('input').control#login(name="login")
        +e.line
          +e('label').label(for="password") Пароль:
          +b('span').text-input.__input
            +e('input').control#password(type="password", name="password")
        +e.line.__footer
          +e.button
            +b('button').submit-button.__submit(type="submit", onclick="this.classList.toggle('submit-button_progress'); return false;")
              +e('span').text Войти
              +b('span').loader._small.__loader
                +e('span').dot._1
                +e('span').dot._2
                +e('span').dot._3
          +e.footer-link
            a(href="forgot") Забыли пароль?
        +e.line.__social-login
          +e('h5').social-login-title Вход через социальные сети
          =" "
          +b('a').social-login._twitter(href="#") Twitter
          =" "
          +b('a').social-login._vkontakte(href="#") Вконтакте
          =" "
          +b('a').social-login._facebook(href="#") Facebook
          =" "
          +b('a').social-login._google(href="#") Google+
          =" "
          +b('a').social-login._github(href="#") Github
    br
    br
    +b.login-form#reset-form
      +e('form').form(action="#")
        +e.line.__header
          +e('h4').title Восстановление пароля
        +e.line.__note
          | Укажите ваш email в форме ниже и мы вышлем на него обновленный пароль.
        +e.line
          +e('label').label(for="email-reset") Email:
          +b('span').text-input.__input
            +e('input').control#email-reset(name="email-reset")
        +e.line.__footer
          +e.button
            +b('button').submit-button.__submit(type="submit", onclick="this.classList.toggle('submit-button_progress'); return false;")
              +e('span').text Восстановить пароль
              +b('span').loader._small.__loader
                +e('span').dot._1
                +e('span').dot._2
                +e('span').dot._3
          +e.footer-link
            a(href="#cancel") Отмена
    br
    br
    +b.login-form#register-form
      +e('form').form(action="#")
        +e.line.__header
          +e('h4').title Регистрация
          +e.header-aside
            a(href="#register") вход
        +e.line.__notification
          +e.error
            | Регистрация не прошла
        +e.line
          +e('label').label(for="login") Email:
          +b('span').text-input.__input
            +e('input').control#email(name="email")
        +e.line
          +e('label').label(for="password") Пароль:
          +b('span').text-input.__input
            +e('input').control#password(type="password", name="password")
        +e.line
          +e('label').label(for="password2") Пароль еще раз:
          +b('span').text-input._invalid.__input
            +e('input').control#password(type="password", name="password")
            +e('span').err Пароли не совпадают
        +e.line.__footer
          +e.button
            +b('button').submit-button.__submit(type="submit", onclick="this.classList.toggle('submit-button_progress'); return false;")
              +e('span').text Зарегистрироваться
              +b('span').loader._small.__loader
                +e('span').dot._1
                +e('span').dot._2
                +e('span').dot._3
        +e.line.__social-login
          +e('h5').social-login-title Вход через социальные сети
          =" "
          +b('a').social-login._twitter(href="#") Twitter
          =" "
          +b('a').social-login._vkontakte(href="#") Вконтакте
          =" "
          +b('a').social-login._facebook(href="#") Facebook
          =" "
          +b('a').social-login._google(href="#") Google+
          =" "
          +b('a').social-login._github(href="#") Github
    br
    br
