doctype html
html
  head

    block variables
      - var self = {};
      - self.bodyId = 'page';
      - self.title = 'Модальные формы логина';
      - self.comments = {} // хм?
      - self.comments.lenght = 5;

    include ../blocks/head
    include /bemto

  body
    .modal
      .modal-dialog
        +b.login-form
          +e('form').form(action="#")
            +e.line.__header
              +e('h4').title Вход в систему
              +e.header-aside
                a(href="#register") регистрация
            +e.line.__notification
              +e.info
                | Новый пароль был отправлен на ваш email
            +e.line.__notification
              .login-form__error
                | Email либо пароль введены неверно
            +e.line
              label.login-form__label(for="login") Имя пользователя или Email:
              span.text-input.login-form__input
                input.text-input__control#login(name="login")
            +e.line
              label.login-form__label(for="password") Пароль:
              span.text-input.login-form__input
              +b('span').text-input.__input
                +e('input').control#password(type="password", name="password")
            .login-form__line.login-form__footer
              .login-form__button
                button.submit-button.login-form__submit(type="submit") Войти
              .login-form__footer-link
                a(href="forgot") Забыли пароль?
            +e.line.__social-login
              +e('h5').social-login-title Вход через социальные сети
              =" "
              +b('a').social-login._twitter(href="#") Twitter
              =" "
              a.social-login.social-login_vkontakte(href="#") Вконтакте
              =" "
              a.social-login.social-login_facebook(href="#") Facebook
              =" "
              a.social-login.social-login_google(href="#") Google+
              =" "
              a.social-login.social-login_github(href="#") Github
    br
    br

    .login-form
      form.login-form__form(action="#")
        .login-form__line.login-form__header
          h4.login-form__title Вход в систему
          .login-form__header-aside
            a(href="#register") регистрация
        .login-form__line.login-form__notification
          .login-form__info
            | Новый пароль был отправлен на ваш email
        .login-form__line.login-form__notification
          .login-form__error
            | Email либо пароль введены неверно
        .login-form__line
          label.login-form__label(for="login") Имя пользователя или Email:
          span.text-input.login-form__input
            input.text-input__control#login(name="login")
        .login-form__line
          label.login-form__label(for="password") Пароль:
          span.text-input.login-form__input
            input.text-input__control#password(type="password", name="password")
        .login-form__line.login-form__footer
          .login-form__button
            button.submit-button.login-form__submit(type="submit") Войти
          .login-form__footer-link
            a(href="forgot") Забыли пароль?
        .login-form__line.login-form__social-login
          h5.login-form__social-login-title Вход через социальные сети
          =" "
          a.social-login.social-login_twitter(href="#") Twitter
          =" "
          a.social-login.social-login_vkontakte(href="#") Вконтакте
          =" "
          a.social-login.social-login_facebook(href="#") Facebook
          =" "
          a.social-login.social-login_google(href="#") Google+
          =" "
          a.social-login.social-login_github(href="#") Github
    br
    br
    .login-form#reset-form
      form.login-form__form(action="#")
        .login-form__line.login-form__header
          h4.login-form__title Восстановление пароля
        .login-form__line.login-form__note
          | Укажите ваш email в форме ниже и мы вышлем на него обновленный пароль.
        .login-form__line
          label.login-form__label(for="email-reset") Email:
          span.text-input.login-form__input
            input.text-input__control#email-reset(name="email-reset")
        .login-form__line.login-form__footer
          .login-form__button
            button.submit-button.login-form__submit(type="submit") Восстановить пароль
          .login-form__footer-link
            a(href="#cancel") Отмена
    br
    br
    .login-form#register-form
      form.login-form__form(action="#")
        .login-form__line.login-form__header
          h4.login-form__title Регистрация
          .login-form__header-aside
            a(href="#register") вход
        .login-form__line.login-form__notification
          .login-form__error
            | Регистрация не прошла
        .login-form__line
          label.login-form__label(for="login") Email:
          span.text-input.login-form__input
            input.text-input__control#email(name="email")
        .login-form__line
          label.login-form__label(for="password") Пароль:
          span.text-input.login-form__input
            input.text-input__control#password(type="password", name="password")
        .login-form__line
          label.login-form__label(for="password2") Пароль еще раз:
          span.text-input.text-input_invalid.login-form__input
            input.text-input__control#password(type="password", name="password")
            span.text-input__err Пароли не совпадают
        .login-form__line.login-form__footer
          .login-form__button
            button.submit-button.login-form__submit(type="submit") Зарегистрироваться
        .login-form__line.login-form__social-login
          h5.login-form__social-login-title Вход через социальные сети
          =" "
          a.social-login.social-login_twitter(href="#") Twitter
          =" "
          a.social-login.social-login_vkontakte(href="#") Вконтакте
          =" "
          a.social-login.social-login_facebook(href="#") Facebook
          =" "
          a.social-login.social-login_google(href="#") Google+
          =" "
          a.social-login.social-login_github(href="#") Github
