doctype html
html
  head

    block variables
      - var self = {};
      - self.bodyId = 'page';
      - self.title = 'Модальные формы логина';
      - self.comments = {} // хм?
      - self.comments.lenght = 5;

    include ../blocks/head
    include /bem

  body
    .modal
      .modal-dialog
        +b.LF
          +e('form').form(action="#")
            +e.line.__header
              +e('h4').title Вход в систему
              +e.header-aside
                a(href="#register") регистрация
            +e.line.__notification
              +e.info
                | Новый пароль был отправлен на ваш email
            +e.line.__notification
              .LF__error
                | Email либо пароль введены неверно
            +e.line
              label.LF__label(for="login") Имя пользователя или Email:
              span.text-input.LF__input
                input.text-input__control#login(name="login")
            +e.line
              label.LF__label(for="password") Пароль:
              span.text-input.LF__input
              +b('span').text-input.__input
                +e('input').control#password(type="password", name="password")
            .LF__line.LF__footer
              .LF__button
                button.submit-button.LF__submit(type="submit") Войти
              .LF__footer-link
                a(href="forgot") Забыли пароль?
            +e.line.__social-login
              +e('h5').social-login-title Вход через социальные сети
              =" "
              +b('a').social-login._twitter(href="#") Twitter
              =" "
              a.social-login.social-login_vkontakte(href="#") Вконтакте
              =" "
              a.social-login.social-login_facebook(href="#") Facebook
              =" "
              a.social-login.social-login_google(href="#") Google+
              =" "
              a.social-login.social-login_github(href="#") Github
    br
    br

    .LF
      form.LF__form(action="#")
        .LF__line.LF__header
          h4.LF__title Вход в систему
          .LF__header-aside
            a(href="#register") регистрация
        .LF__line.LF__notification
          .LF__info
            | Новый пароль был отправлен на ваш email
        .LF__line.LF__notification
          .LF__error
            | Email либо пароль введены неверно
        .LF__line
          label.LF__label(for="login") Имя пользователя или Email:
          span.text-input.LF__input
            input.text-input__control#login(name="login")
        .LF__line
          label.LF__label(for="password") Пароль:
          span.text-input.LF__input
            input.text-input__control#password(type="password", name="password")
        .LF__line.LF__footer
          .LF__button
            button.submit-button.LF__submit(type="submit") Войти
          .LF__footer-link
            a(href="forgot") Забыли пароль?
        .LF__line.LF__social-login
          h5.LF__social-login-title Вход через социальные сети
          =" "
          a.social-login.social-login_twitter(href="#") Twitter
          =" "
          a.social-login.social-login_vkontakte(href="#") Вконтакте
          =" "
          a.social-login.social-login_facebook(href="#") Facebook
          =" "
          a.social-login.social-login_google(href="#") Google+
          =" "
          a.social-login.social-login_github(href="#") Github
    br
    br
    .LF#reset-form
      form.LF__form(action="#")
        .LF__line.LF__header
          h4.LF__title Восстановление пароля
        .LF__line.LF__note
          | Укажите ваш email в форме ниже и мы вышлем на него обновленный пароль.
        .LF__line
          label.LF__label(for="email-reset") Email:
          span.text-input.LF__input
            input.text-input__control#email-reset(name="email-reset")
        .LF__line.LF__footer
          .LF__button
            button.submit-button.LF__submit(type="submit") Восстановить пароль
          .LF__footer-link
            a(href="#cancel") Отмена
    br
    br
    .LF#register-form
      form.LF__form(action="#")
        .LF__line.LF__header
          h4.LF__title Регистрация
          .LF__header-aside
            a(href="#register") вход
        .LF__line.LF__notification
          .LF__error
            | Регистрация не прошла
        .LF__line
          label.LF__label(for="login") Email:
          span.text-input.LF__input
            input.text-input__control#email(name="email")
        .LF__line
          label.LF__label(for="password") Пароль:
          span.text-input.LF__input
            input.text-input__control#password(type="password", name="password")
        .LF__line
          label.LF__label(for="password2") Пароль еще раз:
          span.text-input.text-input_invalid.LF__input
            input.text-input__control#password(type="password", name="password")
            span.text-input__err Пароли не совпадают
        .LF__line.LF__footer
          .LF__button
            button.submit-button.LF__submit(type="submit") Зарегистрироваться
        .LF__line.LF__social-login
          h5.LF__social-login-title Вход через социальные сети
          =" "
          a.social-login.social-login_twitter(href="#") Twitter
          =" "
          a.social-login.social-login_vkontakte(href="#") Вконтакте
          =" "
          a.social-login.social-login_facebook(href="#") Facebook
          =" "
          a.social-login.social-login_google(href="#") Google+
          =" "
          a.social-login.social-login_github(href="#") Github
