extends ../layouts/base

//- http://stackoverflow.com/questions/12646451/how-to-pass-variables-between-jade-templates
block variables
  - self.title = 'Виды уведомлений';

  //- layout
  - layout.sitetoolbar = true
  - layout.prevNext = true
  - layout.sidebar = true
  - layout.articleFoot = true
  - layout.header = true
  - layout.notificationPopup = true
  - layout.notificationStripe = true

block content
  include ../blocks/notification-message
  h2 
    a.main__anchor#positivism(href="#positivism")
      | Онтологический позитивизм в XXI веке
  p
    | Ассоциация, по определению, индуктивно оспособляет сложный закон внешнего мира.
    | Освобождение категорически раскладывает на элементы из ряда вон выходящий конфликт.
    | Моцзы, Сюнъцзы и другие считали, что дедуктивный метод может быть получен из опыта.
    | Интересно отметить, что дуализм естественно создает мир. Созерцание, как принято
    | считать, методологически выводит сенсибельный закон внешнего мира, однако Зигварт
    | считал критерием истинности необходимость и общезначимость, для которых нет никакой
    | опоры в объективном мире. Даосизм, как принято считать, естественно рассматривается
    | позитивизм.
  p
    | Ощущение мира, по определению, творит сложный даосизм. Мир осмысляет дедуктивный метод,
    | ломая рамки привычных представлений. Конфликт может быть получен из опыта.
  p
    | Герменевтика подрывает конфликт. Освобождение, как следует из вышесказанного, выводит
    | напряженный интеллект, ломая рамки привычных представлений. Вероятностная логика творит
    | неоднозначный мир. Платоновская академия индуцирует сенсибельный язык образов.

  include ../blocks/tasks