extends ../layouts/profile

// - http://stackoverflow.com/questions/12646451/how-to-pass-variables-between-jade-templates
block variables
  - self.title = 'Кабинет пользователя Nakazator';

  //- layout
  - layout.header = true

block content
  +b.profile
    script.
      document.addEventListener("DOMContentLoaded", function(e) {
        document.querySelector('.profile').addEventListener('click', function(e) {
          var elem;
          if (e.target.hasAttribute('data-inline-edit')) {
            elem = e.target.parentNode;
            while (elem && !elem.classList.contains('profile__item')) {
              elem = elem.parentNode;
            }
            elem.classList.add('profile__item_editing');
            elem.querySelector('input').focus(); // для текстовых инпутов — select()?
          }
          if (e.target.classList.contains('profile__item-cancel')) {
            elem = e.target.parentNode;
            while (elem && !elem.classList.contains('profile__item')) {
              elem = elem.parentNode;
            }
            elem.classList.remove('profile__item_editing');
          }
        })
      });
    include ../blocks/profile-upic
    +e.content
      +e.tabs
        +e.tab._current
          +e.tab-content
            | Профиль
        +e.tab
          +e.tab-content
            +e('a').tab-link(href="#") Аккаунт
        +e.tab
          +e.tab-content
            +e('a').tab-link(href="#") Заказы
        +e.tab
          +e.tab-content
            +e('a').tab-link(href="#") Курсы
        +e.tab
          +e.tab-content
            +e('a').tab-link(href="#") Уведомления
        +e.tab
          +e.tab-content
            +e('a').tab-link(href="#") Тесты
      +e.item
        +e.item-content
          +e('h2').inline-title Управление аккаунтом
      +e.item
        +e.item-content
          +e.item-name Имя:
          +e.item-value Валентиновский Валентин Валентинович
          +e('button').edit(data-inline-edit)
        +e.item-change
          +e.change-content
            +e.labeled
              +e('label').labeled-label(for="profile-name") Имя:
              +b.text-input._small.__labeled-text
                +e('input').control(type="text", id="profile-name", value="Валентиновский Валентин Валентинович")
          include ../blocks/profile-ok-cancel
      +e.item
        +e.item-content
          +e.item-name Email:
          +e.item-value
          +e('button').edit(data-inline-edit)
        +e.item-change
          +e.change-content
            +e.labeled
              +e('label').labeled-label(for="profile-email") Email:
              +b.text-input._small.__labeled-text
                +e('input').control(type="email", id="profile-email")
          include ../blocks/profile-ok-cancel
      +e.item
        +e.item-content
          +e.item-name Website:
          +e.item-value www.valentin.com
          +e('button').edit(data-inline-edit)
        +e.item-change
          +e.change-content
            +e.labeled
              +e('label').labeled-label(for="profile-website") Website:
              +b.text-input._small.__labeled-text
                +e('input').control(type="url", id="profile-website", value="www.valentin.com")
          include ../blocks/profile-ok-cancel
      +e.item
        +e.item-content
          +e.item-name Страна:
          +e.item-value Россия
          +e('button').edit(data-inline-edit)
        +e.item-change
          +e.change-content
            +e.labeled
              +e('label').labeled-label(for="profile-country") Страна:
              +b.text-input._small.__labeled-text
                +e('input').control(type="url", id="profile-country", value="Россия")
          include ../blocks/profile-ok-cancel
      +e.item
        +e.item-content
          +e.item-name Город:
          +e.item-value
          +e('button').edit(data-inline-edit)
        +e.item-change
          +e.change-content
            +e.labeled
              +e('label').labeled-label(for="profile-city") Город:
              +b.text-input._small.__labeled-text
                +e('input').control(type="url", id="profile-city")
          include ../blocks/profile-ok-cancel
      +e.item
        +e.item-content
          +e.item-name Дата рождения:
          +e.item-value
          +e('button').edit(data-inline-edit)
        +e.item-change
          +e.change-content
            +e.labeled
              +e('label').labeled-label(for="profile-birth") Дата рождения:
              +b.text-input._small.__labeled-text
                +e('input').control(type="url", id="profile-birth")
          include ../blocks/profile-ok-cancel
      +e.item
        +e.item-content
          +e.item-name Часовой пояс:
          +e.item-value Европа/Москва: GMT+4
          +e('button').edit(data-inline-edit)
        +e.item-change
          +e.change-content
            +e.labeled
              +e('label').labeled-label(for="profile-tz") Часовой пояс:
              +b.text-input._small.__labeled-text
                +e('input').control(type="url", id="profile-tz")
          include ../blocks/profile-ok-cancel
