extends ../layouts/profile

// - http://stackoverflow.com/questions/12646451/how-to-pass-variables-between-jade-templates
block variables
  - self.title = 'Поиск по сайту';

  //- layout
  - layout.header = true

block content
  +b.search-form
    +e.line
      +e.query-wrap
        +b.text-input.__query
          +e('input').control(type="text")
      +e.send-wrap
        +b('button').submit-button.__send Найти
    +e.line
      +e.status._found
        | Найдено
        =" "
        +e('mark').marked 945
        =" "
        | совпадений
      +e.option-wrap
        +e('label').option-label
          +e('input').option-control(type="checkbox")
          | Искать только в заголовках

  +b.search-results
    +e.result
      +e.title
        +e('a').title-link(href="#")
          +e('mark').marked Аргументы функций
      +e.extract
        | …альтернативная техника работы с
        = " "
        +e('mark').marked аргументами
        | , которая позволяет обращаться к ним не по имени, а по номеру…
      +e('ul').path
        +e('li').path-step
          +e('a').path-link(href="#") Учебник
        +e('li').path-step
          +e('a').path-link(href="#") Аргументы функций
    +e.result
      +e.title
        +e('a').title-link(href="#") Аргументы функций
      +e.extract …альтернативная техника работы с аргументами, которая позволяет обращаться к ним не по имени, а по номеру…
      +e('ul').path
        +e('li').path-step
          +e('a').path-link(href="#") Учебник
        +e('li').path-step
          +e('a').path-link(href="#") Аргументы функций
    +e.result
      +e.title
        +e('a').title-link(href="#") Аргументы функций
      +e.extract …альтернативная техника работы с аргументами, которая позволяет обращаться к ним не по имени, а по номеру…
      +e('ul').path
        +e('li').path-step
          +e('a').path-link(href="#") Учебник
        +e('li').path-step
          +e('a').path-link(href="#") Аргументы функций
    +e.result
      +e.title
        +e('a').title-link(href="#") Аргументы функций
      +e.extract …альтернативная техника работы с аргументами, которая позволяет обращаться к ним не по имени, а по номеру…
      +e('ul').path
        +e('li').path-step
          +e('a').path-link(href="#") Учебник
        +e('li').path-step
          +e('a').path-link(href="#") Аргументы функций
    +e.result
      +e.title
        +e('a').title-link(href="#") Аргументы функций
      +e.extract …альтернативная техника работы с аргументами, которая позволяет обращаться к ним не по имени, а по номеру…
      +e('ul').path
        +e('li').path-step
          +e('a').path-link(href="#") Учебник
        +e('li').path-step
          +e('a').path-link(href="#") Аргументы функций
    +e.result
      +e.title
        +e('a').title-link(href="#") Аргументы функций
      +e.extract …альтернативная техника работы с аргументами, которая позволяет обращаться к ним не по имени, а по номеру…
      +e('ul').path
        +e('li').path-step
          +e('a').path-link(href="#") Учебник
        +e('li').path-step
          +e('a').path-link(href="#") Аргументы функций
    +e.result
      +e.title
        +e('a').title-link(href="#") Аргументы функций
      +e.extract …альтернативная техника работы с аргументами, которая позволяет обращаться к ним не по имени, а по номеру…
      +e('ul').path
        +e('li').path-step
          +e('a').path-link(href="#") Учебник
        +e('li').path-step
          +e('a').path-link(href="#") Аргументы функций
    +e.result
      +e.title
        +e('a').title-link(href="#") Аргументы функций
      +e.extract …альтернативная техника работы с аргументами, которая позволяет обращаться к ним не по имени, а по номеру…
      +e('ul').path
        +e('li').path-step
          +e('a').path-link(href="#") Учебник
        +e('li').path-step
          +e('a').path-link(href="#") Аргументы функций
    +e.result
      +e.title
        +e('a').title-link(href="#") Аргументы функций
      +e.extract …альтернативная техника работы с аргументами, которая позволяет обращаться к ним не по имени, а по номеру…
      +e('ul').path
        +e('li').path-step
          +e('a').path-link(href="#") Учебник
        +e('li').path-step
          +e('a').path-link(href="#") Аргументы функций
    +e.result
      +e.title
        +e('a').title-link(href="#") Аргументы функций
      +e.extract …альтернативная техника работы с аргументами, которая позволяет обращаться к ним не по имени, а по номеру…
      +e('ul').path
        +e('li').path-step
          +e('a').path-link(href="#") Учебник
        +e('li').path-step
          +e('a').path-link(href="#") Аргументы функций