extends ../layouts/base

// - http://stackoverflow.com/questions/12646451/how-to-pass-variables-between-jade-templates
block variables
  - var self = {};
  - self.title = 'Основы Javascript';

  //- layout
  - layout.sitetoolbar = true
  - layout.prevNext = true
  - layout.sidebar = true
  - layout.centeredHeader = true
  - layout.header = true

block content
  include ../blocks/section-intro
  include ../blocks/lessons-list
