extends ../layouts/base

// - http://stackoverflow.com/questions/12646451/how-to-pass-variables-between-jade-templates
block variables
  - var self = {};

  //- layout
  - self.sitetoolbar = true
  - self.prevNext = true
  - self.sidebar = true
  - self.articleFoot = false
  - self.centeredHeader = true
  - self.sitemap = false
  - self.header = true

  - self.title = 'Основы Javascript';

block content
  include ../blocks/section-intro
  include ../blocks/lessons-list
