extends ../layouts/sitemap

// - http://stackoverflow.com/questions/12646451/how-to-pass-variables-between-jade-templates
block variables
  - var self = {};
  - self.bodyId = 'page';
  - self.title = 'Учебник — Javascript.ru';
  - self.comments = {} // хм?
  - self.comments.lenght = 5;

block content
  include ./article.html
