extends ../layouts/base

// - http://stackoverflow.com/questions/12646451/how-to-pass-variables-between-jade-templates
block variables
  - self.title = 'Учебник — Javascript.ru';

  //- layout
  - layout.sitetoolbar = true
  - layout.prevNext = true
  - layout.sidebar = true
  - layout.header = true
  - layout.articleFoot = true
  - layout.sitemap = true
  - layout.bodyClass = "sitetoolbar_show"

block content
  include ./article.html
