extends ../layouts/base

// - http://stackoverflow.com/questions/12646451/how-to-pass-variables-between-jade-templates
block variables
  //- layout
  - layout.sitetoolbar = true
  - layout.prevNext = true
  - layout.sidebar = true

  - self.title = "DOM Children"

block content
  include ../blocks/task
