.page-footer
    display flex
    flex-wrap: wrap
    align-items baseline

    line-height 25px

    margin-top 20px
    padding 30px 48px

    color #9D9D9D
    background #FBFAFA
    border-top 2px solid #f3f2f1

    &__link
        color #3b86c4

    &__left
        flex-grow 1

    &__item
        display inline-block

        margin-right 15px

    &__item:not(:last-child)::after
        margin-left 15px

        content: '|'

