.page-footer
    display flex
    flex-wrap: wrap
    align-items center

    height footer_height
    margin-top footer_margin_top
    padding 0 48px

    color #9D9D9D
    background #FBFAFA
    border-top 2px solid #f3f2f1

    &__link
        color #3b86c4

    &__left
        flex-grow 1

    &__item
        display inline-block

        margin-right 15px

    &__item:not(:last-child)::after
        margin-left 15px

        content: '|'

    @media tablet
        &
            display block

            height auto

            text-align center

        &__item
            display block

            margin 20px 0

        &__item::after
            display none
