.page-footer
	padding 0 60px

	&__inner
		display table
		width 100%
		background #666

	&__contents,
	&__copy
		display table-cell
		vertical-align top

	&__title,
	a
		color #fff
		font-size 15px

	a
		text-decoration underline

	&__contents
		padding 35px 40px 60px
		background url('/img/page-footer.png') 97.5% 35px no-repeat

	&__list
		font-weight 700

	&__list-item
		margin-bottom 6px

	&__title
		margin-bottom 8px

	&__list.small &__list-item
		margin-bottom 3px
		a
			font-weight 400
			font-size 13px

	&__col
		float left
		width 20.6%
		margin 0 3% 0 0

	&__copy
		width 205px
		padding 35px 30px 60px 23px
		color #fff
		font-style normal
		a
			font-size 13px

	&__line
		display block
		margin-bottom 3px

	&__line.author
		margin-bottom 6px
