extends /layouts/main

block append variables

  - var layout_header_class = "main__header_center"
  - var layout_main_class = "main_width-limit"
  - var breadcrumbs = [{ title: 'Учебник', url: '/' }, { title: 'Курсы', url: '/courses' }, { title: course.title, url: course.getUrl() }]
  - var content_class = '_center'
  - var siteToolbarCurrentSection = "courses"
  - var sitetoolbar = true
  - var statsBarLength = 240

block append head
  !=js("coursesFeedbackList", {defer: true})


block content

  script var feedbackStats = !{escapeJSON(stats)};

  +b.feedback-stat
    +e('ul').list
      +e('li').item(data-stars-title=5) Отлично
        +e('span').status
          +e('span').status-i(style="width: " + stats.stars[5].fraction * statsBarLength + "px")
      +e('li').item(data-stars-title=4) Хорошо
        +e('span').status
          +e('span').status-i(style="width: " + stats.stars[4].fraction * statsBarLength + "px")
      +e('li').item(data-stars-title=3) Нормально
        +e('span').status
          +e('span').status-i(style="width: " + stats.stars[3].fraction * statsBarLength + "px")
      +e('li').item(data-stars-title=2) Так себе
        +e('span').status
          +e('span').status-i(style="width: " + stats.stars[2].fraction * statsBarLength + "px")
      +e('li').item(data-stars-title=1) Плохо
        +e('span').status
          +e('span').status-i(style="width: " + stats.stars[1].fraction * statsBarLength + "px")
    +b.pie
      +e('svg').diagram(height="180" width="180")
        circle(cx=90 cy=90 r=90 fill="#469269")
        path(fill="#010A05" id="statsPercentagePath" fill-opacity="0.22")

      script
        :uglify
          !function() {
            function drawPercentage(percentage) {
              var r = 90;
              var cx = 90;
              var cy = 90;

              // normal formula is:
              // cx + r * Math.cos(2PI*percentage)
              // the angle is calculated clockwise & starting from horizontal X-axis
              // so we substract PI/2 to make it start 1/4-circle earlier
              var x = cx + r * Math.cos(2*Math.PI*percentage - Math.PI/2);
              var y = cy + r * Math.sin(2*Math.PI*percentage - Math.PI/2);

              var d = "M" + x + "," + y + " A90,90 0 " + (percentage >= 0.5 ? 0 : 1) + ",1 90,0 L90,90 z";
              document.getElementById('statsPercentagePath').setAttribute('d', d);
            }

            drawPercentage(feedbackStats.recommendFraction);
          }();

      +e.text
        +e('strong').percents #{Math.round(stats.recommendFraction * 100)}%
        +e('span').advice Пользователей рекомендуют эти курсы

  +b.feedback-policy
    +e.link Политика отзывов javascript.ru
      +e.popup
        +e('ul').list
          li Показываются все отзывы, опубликованные авторами. Фильтрацию по оценке вы можете сделать сами.
          li Отзывы не модерируются. Исключение может быть сделано только при нарушении условий пользования сайтом и курсами.
          li Все люди – реальные участники.

  +b('section').course-feedbacks._loading
    +e.head
      +e('h2').title(hidden data-feedback-count)
        +e('span').title-n
        +e('span').title-t
      +e.select
        +b('select')(name="teacherId").input-select._small.__control
          +e('option').option(value="" selected) все преподаватели
          each teacher in teachers
            +e('option').option(value=teacher._id)= teacher.displayName
      +e.select
        +b('select')(name="stars").input-select._small.__control
          +e('option').option(value="all" selected) с любой оценкой
          +e('option').option(value="5") с оценкой 5
          +e('option').option(value="4") с оценкой 4
          +e('option').option(value="3") с оценкой 3
          +e('option').option(value="4") с оценкой 4
          +e('option').option(value="1") с оценкой 1

    +e.feedbacks-list(data-feedback-container)

    +e.loader
      +b.page-loader
        +b('span').spinner._active._small
          +e('span').dot._1
          +e('span').dot._2
          +e('span').dot._3

  script window.FEEDBACK_LIST_INIT={ elem: document.querySelector('.course-feedbacks'), filter: { course: "#{course.slug}" } };
