extends /layouts/main

block append variables

  - var layout_header_class = "main__header_center"
  - var layout_main_class = "main_width-limit"
  - var breadcrumbs = [{ title: 'Учебник', url: '/' }, { title: 'Курсы', url: '/courses' }]
  - var content_class = '_center'
  - var siteToolbarCurrentSection = "courses"
  - var sitetoolbar = true

block append head
  !=js("coursesFeedback", {defer: true})

block content

  include _item


