
extends /layouts/main

block append variables
  - var sitetoolbar = true
  - var title = "Jetbrains для участников курса"
  - var layout_main_class = "main_width-limit"
  - var layout_header_class = "main__header_center"

  - var content_class = '_center'


block content

  if error
    +b.notification._message._error
      +e.content!= error
      +e('button').close(title="Закрыть")


  p Участники курсов имеют 30% скидку на персональную лицензию (или апдейт существующей) для любого редактора от Jetbrains.

  +b("form").jetbrains-form(method="POST" action="/jb" name="jb")
    input(type="hidden", name="_csrf", value=csrf())

    p.note
      | Совет: если вам нужен только JavaScript/HTML/CSS – выбирайте WebStorm.
      br
      | Если ещё какой-то язык – выберите из селекта ниже.
    +e.form
      +e.line
        +e("label").label(for="name") Имя и фамилия (англ.):
        +b("span")(class=['text-input', errors && errors.name && '_invalid'])
          +e("input").control(type="text", pattern="^\\s*[a-zA-Z ]+\\s+[a-zA-Z ]+\\s*$", required, name="name", id="name", value=form && form.name, placeholder="John Smith" autofocus)

      +e.line
        +e("label").label(for="email") Email:
        +b("span")(class=['text-input', errors && errors.email && '_invalid'])
          +e("input").control(type="email", name="email", id="email", required, value=form && form.email, placeholder="my@mail.com")

      +e.line
        +e("label").label(for="product") Редактор:
        +b('select').input-select._small(name="product" id="product")
          each title, value in products
            +e('option')(value=value selected=(form && form.product == value))= title

      +e.line
        +b("button").button._action(type="submit")
          +e("span").text Отправить

  script.
    document.forms.jb.onsubmit = function() {
      return confirm('Проверьте запрос на лицензию:' +
      '\nРедактор: ' + this.elements.product.value +
      '\nEmail:    ' + this.elements.email.value +
      '\nИмя:      ' + this.elements.name.value +
      '\nВсё верно, отправлять?');
    };


