
extends /layouts/main

block append variables
  - var sitetoolbar = true
  - var title = "Jetbrains для участников курса"
  - var layout_main_class = "main_width-limit"
  - var layout_header_class = "main__header_center"

  - var content_class = '_center'

block content

  if error
    +b.notification._message._error
      +e.content!= error
      +e('button').close(title="Закрыть")


  p Заполните форму и получите 30% скидку на один из редакторов Jetbrains.

  +b("form").jetbrains-form(method="POST" action="/jb" name="jb")
    +e.line
      +e("label").label Имя и фамилия (англ.):
      +b("span")(class=['text-input', errors && errors.name && '_invalid'])
        +e("input").control(type="text" pattern="^\\s*[a-zA-Z ]+\\s+[a-zA-Z ]+\\s*$" required name="name" value=form && form.name)

    +e.line
      +e("label").label Email:
      +b("span")(class=['text-input', errors && errors.email && '_invalid'])
        +e("input").control(type="email" name="email" required value=form && form.email)

    +e.line
      +b('select').input-select(name="product")
        each title, value in products
          +e('option')(value=value selected=(form && form.product == value))= title

    +e.line
      +b("button").button._action(type="submit")
        +e("span").text Отправить

  script.
    document.forms.jb.onsubmit = function() {
      return confirm('Проверьте запрос на лицензию:' +
      '\nРедактор: ' + this.elements.product.value +
      '\nEmail:    ' + this.elements.email.value +
      '\nИмя:      ' + this.elements.name.value +
      '\nВсё верно, отправлять?');
    };


