@import 'nib/border'
@import 'nib/clearfix'
@import 'nib/color-image'
@import 'nib/image'
@import 'nib/overflow'
@import 'nib/positions'
@import 'nib/text'
@import 'nib/size'

link_color = #0059B2
alternate_link_color = #2974BB // there are some a bit lighter links that need separate color
link_hover_color = #BA1000
link_visited_color = #551A8B

background = #fff
color = #333
separator_color = #DFDFD0
secondary_color = #B20600
code_color = #333
background_blocks = #F5F2F0
navigation_link_color = #696664

hover_color_correction = 25%

font = 'Open Sans', Arial, Helvetica, sans-serif
size = 14px
lineheight = 18px

secondary_font = 'Open Sans Condensed', Arial, Helvetica, sans-serif
// "Source Code Pro" is better for Mac, but for Windows it looks like Courier
// We choose Consolas, because it looks fine on all platforms
fixed_width_font = 'Consolas', 'Lucida Console', 'Menlo', 'Monaco', monospace

sidebar_width = 250px

animation_duration = .2s

// высота блока с сообщением над панелью навигации
top_notification_height = 60px

// страницы с 1 колонкой для чтения
max_width = 800px

// страницы, где несколько колонок
max_width_wide = 1000px

max_width_extra_wide = 1200px


media_step_1 = 1120px
media_step_2 = 1170px
media_step_3 = 1220px
largescreen  = 1420px

tablet = '(max-width: 840px)'
short_window = '(max-height: 600px)'

footer_height = 70px
footer_margin_top = 30px
