link_color = #0059B2
alternate_link_color = #2974BB // there are some a bit lighter links that need separate color
link_hover_color = #BA1000
link_visited_color = #990099

background = #fff
color = #333
separator_color = #DFDFD0
secondary_color = #B20600
code_color = #8C6900
background_blocks = #F5F2F0
navigation_link_color = #696664

font = 'Open Sans', Arial, Helvetica, sans-serif
size = 14px
lineheight = 18px

secondary_font = 'Open Sans Condensed', Arial, Helvetica, sans-serif
fixed_width_font = 'Consolas', 'Monaco', 'Menlo', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace

sidebar_width = 250px

animation_duration = .2s

// высота блока с сообщением над панелью навигации
top_notification_height = 60px

max_width = 800px

media_step_1 = 1120px
media_step_2 = 1170px
media_step_3 = 1220px
largescreen  = 1420px
tablet = '(max-width: 840px)'
