//- Статическое объявление переменных шаблона
//- с описаниями, что есть что и зачем :)
-var name = "Vasya"

doctype html

html
    head
        title my jade template
    body
        h1 Hello #{name}