$pseudo
	text-decoration none
	border-bottom 1px dashed transparent
	&:hover
		border-bottom 1px dashed
		text-decoration none

$link-type
	background-position 100% 60%
	background-repeat no-repeat

// .pseudo is for any tag but link that should look like pseudo-link
.pseudo
	@extend $pseudo
	cursor pointer
	color link_color

.pseudo:hover
	color link_hover_color

:link
	color link_color

:visited
	color link_visited_color

@media (print)
	a:visited
		color link_color

:link,
:visited
	text-decoration none

a:hover,
a:active
	color link_hover_color
	text-decoration underline

.anchor,
.pseudo
	@extend $pseudo

.link-ref
	vertical-align super
	font-size 90%

// --
.main [href^="mailto:"],
a.mailto
	@extend $link-type
	link-type 'mailto'

// --
.main [target="_blank"],
a.external
	@extend $link-type
	link-type 'newwindow'

// --
.main [href^='/play/'],
.main [href^='http://plnkr.co/'],
a.sandbox
	@extend $link-type
	link-type 'sandbox'

// --
.main [href$=".doc"],
.main [href$=".docx"],
a.doc
	@extend $link-type
	link-type 'doc'

// --
.main [href$=".zip"],
a.zip
	@extend $link-type
	link-type 'zip'

// --
.main [href$=".xls"],
.main [href$=".xlsx"],
a.xls
	@extend $link-type
	link-type 'xls'

// --
.main [href$=".pdf"],
a.pdf
	@extend $link-type
	link-type 'pdf'

// --
.main [href^='http://developer.mozilla.org'],
.main [href^='https://developer.mozilla.org'],
a.mdn
	@extend $link-type
	link-type 'mdn'

// --
.main [href^='http://msdn.microsoft.com'],
.main [href^='https://msdn.microsoft.com'],
a.msdn
	@extend $link-type
	link-type 'msdn'

// --
.main [href^='http://wikipedia.org'],
.main [href*='wikipedia.org'],
a.wiki
	@extend $link-type
	link-type 'wiki'

// --
.main [href^='http://w3.org'],
.main [href^='http://dev.w3.org'],
.main [href^='http://www.w3.org'],
.main [href^='https://www.w3.org'],
.main [href^='https://w3.org'],
a.w3c
	@extend $link-type
	link-type 'w3c'

// --
.main [href^='http://es5.github.com'],
a.ecma
	@extend $link-type
	link-type 'ecma'
// --

// placeholder selector, can't be moved to the top
// because order matters
// decared as placeholder to be extended easier
$plain-link
	padding 0
	background-image none

.main .plain
	@extend $plain-link
