doctype html
include ../bem
html
  head
    include ../blocks/head
  body
    include ../blocks/sitetoolbar
    .page.page_sidebar_on
      if sidebar || true
        +b.sidebar.page__sidebar
          +e('button').toggle(onclick="document.querySelector('.page').classList.toggle('page_sidebar_on')")
          +e.inner
            +e.content
              block sidebar
      .page__inner
        article.main
          header.main__header
            if breadcrumbs
              include ../blocks/breadcrumbs
            h1.main__header-title!= title
          block content
          //- include ../blocks/prev-next-bottom
          //- include ../blocks/corrector
          if comments
            include ../blocks/comments
      //- include ../blocks/page-footer
      if prevNext
        include ../blocks/prev-next
      //- include ../blocks/scripts
