block variables
include ../bem
include ../blocks/head
body
  include ../blocks/top-parts
  .page
    .page__inner
      include ../blocks/navbar
      include ../blocks/social-aside
      .main-content
        block content
      include ../blocks/footer
  include ../blocks/scripts
