doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title JavaScript.ru
    style(type='text/css')
      include email.css

  body(leftmargin='0', marginwidth='0', topmargin='0', marginheight='0', offset='0')
    center
      table#bodyTable(align='center', border='0', cellpadding='0', cellspacing='0', height='100%', width='100%')
        tr
          td#bodyCell(align='center', valign='top')
            //
               BEGIN TEMPLATE //
            table#templateContainer(border='0', cellpadding='0', cellspacing='0')
              tr
                td(align='center', valign='top')
                  //
                     BEGIN HEADER //
                  table#templateHeader(border='0', cellpadding='0', cellspacing='0', width='100%')
                    tr
                      td.headerContent(valign='top')
                        //-img#headerImage(width=160 src='data:image/png;base64,#{logoBase64}' style='max-width: 600px;')
                        img#headerImage(width=160 height=31 alt="JavaScript.ru" src="https://learn.javascript.ru/img/email__logo.png")

                     // END HEADER
              tr
                td(align='center', valign='top')
                  //
                     BEGIN BODY //
                  table#templateBody(border='0', cellpadding='0', cellspacing='0', width='100%')
                    tr
                      td.bodyContent(valign='top',)
                        block body

                  //
                     // END BODY
              tr
                td(align='center', valign='top')
                  //
                     BEGIN FOOTER //
                  table#templateFooter(border='0', cellpadding='0', cellspacing='0', width='100%')
                    tr
                      td.footerContent(valign='top', style='padding-top: 20px;')
                        != signature
                        if unsubscribeUrl
                          p
                            | Кликните
                            = ' '
                            a(href=unsubscribeUrl) здесь
                            | , чтобы отписаться.
