//- header + footer + empty body
doctype html
include ../bem
html
  head
    include ../blocks/head
  body.no-icons
    script head.fontTest();

    block body

    script(src=script("footer"))
    script footer.init();
