//- header + footer + empty body
doctype html
include ../bem

html
  head
    block variables
    include ../blocks/head
  body(class="no-icons" + (layout_body_class ? ' ' + layout_body_class : ''))
    script head.fontTest();

    block body

    script(src=script("footer"))
    script footer.init();
