//- header + footer + empty body
extends ./base

block html
  head
    script window.currentUser = !{JSON.stringify(user ? user.getInfoFields() : null)};
    block variables
    include ../blocks/head
    block head

  body.no-icons
    script head.fontTest();

    block body

    script(src=script("footer"))
    script footer.init();
