//- header + footer + empty body
extends ./base

block html
  head
    script window.currentUser = !{JSON.stringify(user ? user.getInfoFields() : null)};
    block variables
    include ../blocks/head
    block head
    //- Counters only on production
    if counterEnabled || true
      include ../blocks/ga
      include ../blocks/metrika
      
  body.no-icons
    script head.fontTest();

    block body

    script(src=script("footer"))
    script footer.init();
