//- header + footer + empty body
extends ./base

block html
  head
    script window.currentUser = !{JSON.stringify(user ? user.getInfoFields() : null)};
    block variables
    include ../blocks/head
    block head
    script(defer src=pack("footer", "js"))

  body.no-icons
    script head.fontTest();

    if footer || (footer === undefined)
      .page-wrapper(class=[sidebar && 'page-wrapper_sidebar_on'])
        block body
      include ../blocks/page-footer
    else
      block body

