// content with breadcrumb and comments
extends ./body

block main
  header.main__header
    if breadcrumbs
      include ../blocks/breadcrumbs
    h1.main__header-title!= title
  block content
  //- include ../blocks/corrector
  if comments
    include ../blocks/comments
