//- content with breadcrumb and comments
extends ./body

block main
  header(class="main__header" + (layout_header_class ? ' ' + layout_header_class : ''))
    if breadcrumbs
      +b("ol").breadcrumbs
        include ../blocks/breadcrumbs
    h1.main__header-title!= title
  block content
  if breadcrumbs
    +b("ol").breadcrumbs._fixed
      include ../blocks/breadcrumbs
  if comments
    include ../blocks/comments
