doctype html
include ../bem
html
  head
    include ../blocks/head
  body
    include ../blocks/sitetoolbar
    .page.page_sidebar_on
      if sidebar
        +b.sidebar.page__sidebar
          +e('button').toggle(onclick="document.querySelector('.page').classList.toggle('page_sidebar_on')")
          +e.inner
            +e.content
              block sidebar
      .page__inner
        article.main
          block main
