doctype html
include ../bem
html
  head
    include ../blocks/head
  body.no-icons
    script require('client/head').fontTest();
    if sitetoolbar
      include ../blocks/sitetoolbar
    .page.page_sidebar_on
      .page__inner
        article.main
          block main
      if sidebar
        +b.sidebar.page__sidebar
          +e('button').toggle(onclick="document.querySelector('.page').classList.toggle('page_sidebar_on')")
          +e.inner
            +e.content
              block sidebar

    script(src=asset("/js/footer.js"))
    script require('client/footer').init();
