//- to be sent by email
doctype html
html
  body
    h1 Восстановление доступа на javascript.ru
    p Для восстановления доступа перейдите, пожалуйста, по ссылке
      =' '
      a(href=link) #{link}
      | .
