form.login-form
  h2 Вход в систему

  div
    label Email
      input(name="email" type="email")

  div
    label Пароль
      input(name="password" type="password")

  div
    input(type="submit" value="Войти")


form.register-form(style="display:none")
  h2 Регистрация

  p ...

