+b.login-form(data-form="login")
  +e('form').form(action="#")
    +e.line.__header
      +e('h4').title Вход в систему
      +e.header-aside
        a(href="#" data-action="register") регистрация
    +e.line
      +e('label').label(for="login") Имя пользователя или Email:
      +b('span').text-input.__input
        +e('input').control#login(name="login")
    +e.line
      +e('label').label(for="password") Пароль:
      +b('span').text-input.__input
        +e('input').control#password(type="password", name="password")
    +e.line.__footer
      +e.button
        +b('button').submit-button.__submit(type="submit") Войти
      +e.footer-link
        a(href="#" data-action="forgot") Забыли пароль?
    +e.line.__social-login
      +e('h5').social-login-title Вход через социальные сети
      =" "
      +b('a').social-login._yandex(href="#" data-provider="yandex") Yandex
      =" "
      +b('a').social-login._vkontakte(href="#" data-provider="vkontakte") Вконтакте
      =" "
      +b('a').social-login._facebook(href="#" data-provider="facebook") Facebook
      =" "
      +b('a').social-login._google(href="#" data-provider="google") Google+
      =" "
      +b('a').social-login._github(href="#" data-provider="github") Github

+b.login-form(data-form="forgot")
  +e('form').form(action="#")
    +e.line.__header
      +e('h4').title Восстановление пароля
    +e.line.__note
      | Укажите ваш email в форме ниже, и мы вышлем на него обновлённый пароль.
    +e.line
      +e('label').label(for="email-reset") Email:
      +b('span').text-input.__input
        +e('input').control#email-reset(name="email-reset")
    +e.line.__footer
      +e.button
        +b('button').submit-button.__submit(type="submit") Восстановить пароль
      +e.__footer-link
        a(href="#cancel") Отмена
br




