include /bem

+b.login-form(data-form="login")
  +e('form').form(action="#")
    +e.line.__header
      +e('h4').title Вход в систему
      +e.header-aside
        +e('button').button-link.__register(type="button" data-switch="register-form") регистрация
    +e.line.__notification(data-notification)
    +e.line
      +e('label').label(for="login") Имя пользователя или Email:
      +b('span').text-input.__input
        +e('input').control#login(name="login")
    +e.line
      +e('label').label(for="password") Пароль:
      +b('span').text-input._with-aside.__input
        +e('input').control#password(type="password", name="password")
        +e('button').aside.__forgot.__button-link(type="button" data-switch="forgot-form") Забыли?
    +e.line.__footer
        +b('button').submit-button._small.__submit(type="submit")
          +e('span').text Войти
    include login-form-footer
    +b('button').close-button.__close(type="button", title="закрыть")

