doctype html
html
  title Отказ в авторизации
body
  script var reason = !{JSON.stringify(reason)}

  //- window.authProvider for login is AuthModal,
  //- for managing providers AuthProvidersManager
  script.
    if (window.opener && window.opener[window.name]) {
      window.opener.focus();

      //- I hope that decodeURIComponent is the strict inverse of querystring.stringify
      window.opener[window.name].onAuthFailure(reason);
    }
    window.close();

