doctype html
html
  title Отказ в авторизации
body
  script.
    if (window.opener && window.opener.authModal) {
      window.opener.focus();

      window.opener.authModal.onAuthFailure();
    }
    window.close();

