doctype html
html
  title Успешная авторизация
body
  script.
    if (window.opener && window.opener[window.name]) {
      window.opener.focus();

      window.opener[window.name].onAuthSuccess();
    }
    window.close();
