doctype html
html
  title Успешная авторизация
body
  script.

    if (window.opener && window.opener.authModal) {
      window.opener.focus();

      window.opener.authModal.onAuthSuccess();
    }
    window.close();
