include /bem

+b.login-form
  +e('form').form(action="#" data-form="register-thanks")
    +e.line.__header
      +e('h4').title Завершение регистрации
    +e.line.__notification(data-notification)
    +e.line
      p Сейчас вам придёт email с адреса <code>inform@javascript.ru</code> со ссылкой-подтверждением.
      p
      | Если письмо не пришло в течение минуты, можно
      =' '
      a(href='#' data-action-verify-email=email) запросить письмо-подтверждение ещё раз
      | .
    +e.line.__footer
      +e.button
        +b('button').submit-button.__submit(type="submit") Ок
