include /bem

+b.login-form
  +e('form').form(action="#" data-form="register")
    +e.line.__header
      +e('h4').title Регистрация
      +e.header-aside
        a(href="#" data-switch="login-form") вход
    +e.line.__notification(data-notification)
    +e.line
      +e('label').label(for="register-email") Email:
      +b('span').text-input.__input
        +e('input').control#register-email(name="email" type="email" required autofocus)
    +e.line
      +e('label').label(for="register-displayName") Имя пользователя:
      +b('span').text-input.__input
        +e('input').control#register-displayName(name="displayName" required)
    +e.line
      +e('label').label(for="register-password") Пароль:
      +b('span').text-input.__input
        +e('input').control#register-password(type="password" name="password" required)
    +e.line.__footer
      +e.button
        +e('button').submit.submit-button(type="submit") Зарегистрироваться
    +e.line.__social-login
      +e('h5').social-login-title Вход через социальные сети
      =" "
      +b('a').social-login._yandex(href="#" data-provider="yandex") Yandex
      =" "
      +b('a').social-login._vkontakte(href="#" data-provider="vkontakte") Вконтакте
      =" "
      +b('a').social-login._facebook(href="#" data-provider="facebook") Facebook
      =" "
      +b('a').social-login._google(href="#" data-provider="google") Google+
      =" "
      +b('a').social-login._github(href="#" data-provider="github") Github

