//- to be send by email
doctype html
html
  body
    h1 Подтверждение email на javascript.ru
    p Для завершения регистрации перейдите, пожалуйста, по ссылке
      =' '
      a(href=link) #{link}
      | .
