.input-select
	box-sizing border-box

	line-height 16px
	font-size 16px
	padding 8px 4px

	border-radius 3px
	border 1px solid #e7e7e7

	&:focus
		border-color #8eb0d2
		box-shadow inset 1px 1px 5px 0 #e1edf2
		outline 0

	//- strange and ugly, but necessary for Firefox
	&:-moz-focusring
		color transparent
		text-shadow 0 0 0 #000

	&_small
		line-height 14px
		font-size 14px
		padding 0
		height 32px