
extends /layouts/main

block append variables
  - var sitetoolbar = true
  - var title = "О проекте"
  - var layout_main_class = "main_width-limit"

block content

  h2 Проект

  h3 Цели проекта:

  ol
    li Предоставлять грамотную и актуальную информацию по JavaScript и смежным технологиям.
    li Помогать развиваться русскоязычному JavaScript-сообществу.
    li For fun.

  h3 История проекта

  p Записано, "чтоб не забыть". Читайте, если интересно. О JavaScript и новых технологиях тут ни слова.

  p Старт проекта был на PHPConf, в 2006 году. Была идея сделать сайт по JavaScript, и я бегал по участникам и спрашивал, что они хотели бы видеть на таком сайте.

  p К тому времени опыта разработки на JS было уже достаточно много, накопилась куча идей, интересных статей, которые хотелось опубликовать.. Понемногу занимался этим в свободное время.

  p В 2007 году появился форум на домене client-side.ru (сейчас там ничего нет). Контент сайта был все еще закрыт, открылся только форум, где я всем вопрошающим старался давать правильные ответы на вопросы, связанные с JavaScript.

  p Сами статьи я писал долго.. Точнее, писал и переписывал. Потом опять переписывал. И раз, для полноты картины. В результате, раза эдак с 5го статья становилась читабельной.

  p Постепенно, мысли становились страницами, и их количество росло, и даже начинало на что-то походить. Понадобилось делать дизайн.

  p За основу была взята тема Vbulletin, а Владимир Городулин нарисовал логотип -- "кролика из шляпы", который должен был символизировать "магию JavaScript".

  p Потом появился домен javascript.ru. Меня часто спрашивали: "Как к тебе попал домен javascript.ru"? Обычно я уклонялся от ответа, но здесь напишу честно - купил, у сквоттера. За сколько - не важно, многие тратят на свое хобби куда больше.

  p Открытие статей состоялось в начале 2008 года. Первые посетители - конечно, знакомые. Понемногу новые материалы добавлялись, неактуальные удалялись... Постепенно получилось то, что вы видите сейчас.

  p Содержимое сайта - в основном под моим авторством. Были идеи сделать Wiki, но от этого отказались. Причина проста - когда пишет один человек, то сайт получается более цельным и согласованным. Кроме того, я очень стараюсь, чтобы статьи были правильными.

  p В 2011 году открылся новый учебник по JavaScript и курсы для начинающих. Учебник сейчас на русском, планируется перевод на английский.

  p В 2015 движок сайта частично переписан на JavaScript, с открытым исходным кодом.


  h2 Команда

  p Ну тут наверно несколько слов с фото из источника

  p Илья Кантор https://ikantor.moikrug.ru/

  p Артём Безценный https://instagram.com/bezart/

  p Юрий Ткаченко ua.linkedin.com/in/tkachenkoyuri


  h2 Связаться с нами

  p Мой тел и email


