
extends /layouts/main

block append variables
  - var sitetoolbar = true
  - var title = "Проект JavaScript.ru"
  - var layout_main_class = "main_width-limit"

block content

  h2 Цели проекта

  ol
    li Предоставлять грамотную и актуальную информацию по JavaScript и смежным технологиям.
    li Проводить онлайн и оффлайн-мероприятия по обучению JavaScript.
    li Помогать развиваться русскоязычному JavaScript-сообществу.
    li For fun.

  h2 Люди

  h3 Илья Кантор

  p https://ikantor.moikrug.ru/

  ul
    li Общая координация и кодинг проекта.
    li Ведущий курсов и мастер-классов.
    li Пишет учебник и другие материалы по JavaScript.

  img(src="/about/iliakan.jpg" width=130 height=130)

  h3 Артём Безценный

  p https://instagram.com/bezart/

  img(src="/about/bezart.jpg" width=130 height=130)

  ul
    li Дизайн проекта.
    li Любит хороший UI и удобство использования.

  h3 Алексей Максимов

  p http://cz.linkedin.com/pub/aleksey-maximov/54/b76/215

  img(src="/about/amax.jpg" width=130 height=130)

  ul
    li Админ проекта.
    li Любит документацию.
    li Носит свитер с оленями.


  h3 Юрий Ткаченко

  p http://ua.linkedin.com/in/tkachenkoyuri

  img(src="/about/tyv.jpg" width=130 height=130)


  h2 Связаться с нами

  p Мой тел и email


