extends /layouts/main

block append variables
  - var sitetoolbar = true

block content
  h1 О проекте

  h2 Проект

    p Проект посвящён профессиональной разработке на JavaScript.

    p Здесь вы найдёте много грамотных учебных материалов.

    p Некоторые принципы:

    ul
      li Статьи на сайте должны быть как можно более качественными и актуальными.
      li Статьи не должны повторять друг друга: одна тема -- в одном месте.
      li С   Материалы должны быть актуальны. Статьи время от времени обновляются, чтобы отражать изменения в технологиях. На ресурсе не должно быть неверных или сильно устаревших статей. Такую статью лучше убить, а на ее место написать новую, правильную. Что и делается.
                Если коротко - грамотность, полнота, целостность и актуальность материалов. В отличие от бумажной книжки, сайт позволяет поддерживать все это реал-тайм.
