
extends /layouts/main


block append variables

  - var layout_main_class = "main_width-limit"
  - var title = 'Пользовательское соглашение';
  - var sitetoolbar = true

block append head
  style.
    .agreement ol {
      counter-reset: agreement-item;
      display: table;
      border-spacing: 6px;
    }
    .agreement li {
    font-weight: bold;
    }
    .agreement li p {
    font-weight: normal;
    }
    .agreement li li {
    font-weight: normal;
    }
    .agreement li {
      counter-increment: agreement-item;
      display: table-row;
    }
    .agreement li::before {
      content: counters(agreement-item, '.') ". ";
      display: table-cell; /* aha! */
      text-align: left;
      width: 2em;
    }

block content


  .agreement
    p Добро пожаловать на JavaScript.ru!

    ol
      li
        | Общие положения

        ol
          li.
            Предметом настоящего Пользовательского соглашения (далее "Соглашение") являются отношения между
            ИП Кантор Илья Александрович (ОГРНИП 308770000232690, Россия, 123423, г.Москва, ул.Народного Ополчения 15-4-3),
            далее "Админинстратор", являющегося правообладателем Интернет-сервиса, расположенного в сети Интернет по адресу http://javascript.ru/,
            а также https://javascript.ru, https://js.cx, http://lookatcode.com и соответствующих доменах третьего уровня
            (далее "Сайт"), и Вами (физическим лицом пользователем сети Интернет), далее "Пользователь", по поводу использования
            Сайта и размещенных в нем иных сервисов (далее "Сервисы").

          li.
            Каждым доступом к Сайту и использованием Сервисов Пользователь соглашается соблюдать условия, описанные в настоящем Пользовательском соглашении.

          li.
            Пользователь может ознакомиться с действующей версией Соглашения в сети Интернет по адресу https://learn.javascript.ru/agreement.
            Соглашение может быть изменено Администратором без какого-либо специального уведомления.
            Новая редакция Соглашения вступает в силу с момента опубликования на Сайте.

      li
        | Интеллектуальная собственность

        ol
          li.
            Все объекты, доступные на Сайте, в том числе элементы дизайна, текст, графические изображения, иллюстрации, видео, программы,
            базы данных, музыка, звуки и другие объекты, являются объектами исключительных прав Администратора, Пользователей и других правообладателей.

          li.
            Пользователь не вправе воспроизводить, повторять и копировать, продавать, передавать кому-либо,
            а также использовать для каких-либо коммерческих целей информацию, представленную на Сайте или доступ к ней,
            кроме тех случаев, когда Пользователь получил такое разрешение от Администратора.

          li.
            Используя Сервисы, позволяющие публиковать информацию на Сайте, а также предлагая информацию для публикации посредством сайта http://github.com
            и не только, Пользователь безвозмездно предоставляет Администратору простую (неисключительную) лицензию
            на воспроизведение информации, её публичный показ и доведение до всеобщего сведения, распространение любыми способами,
            сублицензирование и переработку, на весь срок действия исключительных прав на объекты авторских и (или) смежных прав,
            содаржащихся в информации, для использования на территории всех стран мира.
            Пользователь гарантирует наличие права на распоряжение информацией на этих условиях в необходимом объеме.

          li.
            В случае привлечения Администратора к ответственности или наложения на него взыскания в связи с допущенными Пользователем
            нарушениями прав и/или интересов третьих лиц, а равно установленных законодательством запретов или ограничений,
            такой Пользователь обязан в полном объеме возместить убытки Администратора.


      li
        | Отказ от ответственности

        ol

          li.
            Администратор вправе прекратить (временно или окончательно) работу Сайта, Сервисов или любых их частей на период обновления,
            профилактического обслуживания или по иной причине, а также изменить их функциональность и внешний вид без предварительного уведомления.

          li.
            Администратор никак не связан с информацией, размещённой Пользователями при помощи Сервисов, не осуществляет проверку содержания,
            подлинности и безопасности такой информации, а равно её соответствия требованиям действующего законодательства
            и наличия у Пользователей необходимого объема прав на её распространение и/или использование.

          li.
            Размещая информацию при помощи Сервисов или предлагая её к размещению при помощи сайта http://github.com или другими способами,
            Пользователь самостоятельно несет ответственность за её соответствие требованиям действующего законодательства,
            включая ответственность перед третьим лицами в случаях, когда размещение такой информации на Сайте
            нарушает права и законные интересы третьих лиц, в том числе личные неимущественные права авторов,
            иные интеллектуальные права третьих лиц, и/ или посягает на принадлежащие им нематериальные блага.
          li.
            Пользователь соглашается с тем, что Администратор не обязан осуществлять предварительную проверку информации любого вида,
            размещаемой Пользователем при помощи Сервисов сайта или предложенной им к размещению посредством сайта http://github.com или иным способом,
            а также на то, что Администратор
            имеет право по своему усмотрению отказать Пользователю в размещении и/или распространении такой информации
            и удалить её. Пользователь должен самостоятельно оценивать все риски, связанные с размещением и распространением такой информации,
            включая оценку её безопасности, полноты и полезности.

          li.
            Любую информация и/или материалы (в том числе загружаемое ПО, письма, какие- либо инструкции и руководства к действию и т.д.),
            доступ к которым Пользователь получает с использованием Сайта и Сервисов,
            Пользователь может использовать на свой собственный риск и самостоятельно несет ответственность за возможные последствия использования
            указанных информации и/или материалов, в том числе за ущерб, который это может причинить компьютеру Пользователя или третьим лицам,
            за потерю данных или любой другой вред.

          li.
            Администратор не несет ответственности за любые виды убытков,
            произошедшие вследствие использования Пользователем Сайта, Сервисов и информации с Сайта.

          li.
            При любых обстоятельствах ответственность Администратора ограничена полученной от Пользователя оплатой
            и возлагается на него исключительно при наличии в его действиях вины.

          li.
            Администратор имеет право по своему усмотрению заблокировать либо удалить учетную запись Пользователя,
            а также отказать Пользователю в использовании Сайта и Сервисов.

      li
        | Политика конфиденциальности

        ol
          li.
            Под персональной информацией (далее "Персональная информация") понимается информация, которую Пользователь предоставляет о себе с использованием Сервисов,
            при регистрации и входе в сайт, а также данные, которые передаются в автоматическом режиме при взаимодействии с Пользователем,
            включая IP-адрес, cookie, другие HTTP-заголовки, но не ограничиваясь ими.

          li.
            Пользователь осознаёт и принимает возможность размещения на страницах Сайта программного обеспечения третьих лиц, включая:
            системы по сбору статистики посещений, системы баннеропоказов, плагины социальных сетей, системы логирования ошибок,
            но не ограничиваясь ими, в результате чего такие лица могут получать обезличенные данные, собираемые на основе Персональной информации.

          li.
            Сайт осуществляет обработку, в том числе сбор и хранение Персональной информации,
            её охрану от несанкционированного доступа и использование в соответствиии с законодательством
            Российской федерации и данной политикой конфиденциальности.

          li.
            Заключая Соглашение, Пользователь даёт бессрочное безотзывное письменное согласие на любые способы обработки своих персональных данных,
            включая любое действие (операцию) или совокупность действий (операций), совершаемых с использованием средств автоматизации
            или без использования таких средств с персональными данными,
            в том числе сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение),
            извлечение, использование, передачу (распространение, предоставление, доступ),
            обезличивание, блокирование, удаление, уничтожение персональных данных в связи с выполнением Соглашения.

          li.
            Администратор не вправе передавать Персональную информацию третьим лицам, за исключением тех случаев,
            когда передача необходима в рамках использования Сервисов, выполнения данного Соглашения,
            или других соглашений, заключённых с Пользователем,
            по запросу суда или иного уполномоченного государственного органа в рамках установленной законодательством процедуры,
            для защиты прав и законных интересов Администратора в связи с нарушением заключенных с Пользователем договоров, либо когда
            Пользователь выразил свое согласие на такую передачу,
            включая случаи применения Пользователем настроек используемого программного обеспечения,
            не ограничивающих предоставление определенной информации.

          li.
            На сайте установлена внешняя система комментирования (Disqus), взаимодействие Пользователя с которой происходит независимо от Сайта,
            Пользователь отдаёт себе отчёт и принимает все риски, связанные с тем, что политика конфиденциальности этой системы
            может отличаться от политики конфиденциальности Сайта.

          li.
            Администратор вправе посылать Пользователю на указанный им электронный адрес информационные электронные сообщения произвольной формы и содержания.

          li.
            Пользователь вправе в любой момент самостоятельно отредактировать предоставленную им при регистрации или авторизации
            Персональную информацию при помощи Сервисов Сайта, а также удалить её на странице Аккаунта.

          li.
            В целях повышения качества Сервисов и обеспечения возможности правовой защиты, Администратор вправе хранить лог-файлы о действиях,
            совершенных Пользователем, в течение 3 (Трёх) лет с момента их совершения.

      li
        | Заключительная информация

        ol

          li.
            Ничто в Соглашении не может пониматься как установление между Пользователем и Администратором
            агентских отношений, отношений товарищества, отношений по совместной деятельности, отношений личного найма,
            либо каких-то иных отношений, прямо не предусмотренных Соглашением.

          li.
            Признание судом какого-либо положения Соглашения недействительным, или не подлежащим принудительному исполнению, не влечет недействительности или неисполнимости иных положений Соглашения.

          li.
            Бездействие со стороны Администратора в случае нарушения Пользователем либо иными лицами положений Соглашения
            не лишает Администратора права предпринять соответствующие действия в защиту своих интересов позднее.

          li.
            Все споры сторон по настоящему соглашению подлежат разрешению путем переписки и переговоров
            с использованием обязательного досудебного (претензионного) порядка.
            В случае невозможности достичь согласия между сторонами путем переговоров в течение 30 (тридцати) календарных дней
            с момента получения другой Стороной письменной претензии, рассмотрение спора должно быть передано любой заинтересованной
            стороной в суд по месту нахождения Администратора.

      li
        | Реквизиты Администратора

        p ИП Кантор Илья Александрович
        p ОГРНИП 308770000232690
        p Адрес Россия, 123423, г. Москва, ул. Народного Ополчения 15-4-3
        p Телефон +7(903)541-94-41
        p Электронный адрес iliakan@javascript.ru

