
extends /layouts/main


block append variables

  - var layout_main_class = "main_width-limit"
  - var title = 'Договор-оферта';
  - var sitetoolbar = true

block append head
  style.
    .agreement ol {
      counter-reset: agreement-item;
      display: table;
      border-spacing: 6px;
    }
    .agreement li {
    font-weight: bold;
    }
    .agreement li p {
    font-weight: normal;
    }
    .agreement li li {
    font-weight: normal;
    }
    .agreement li {
      counter-increment: agreement-item;
      display: table-row;
    }
    .agreement li::before {
      content: counters(agreement-item, '.') ". ";
      display: table-cell; /* aha! */
      text-align: left;
      width: 2em;
    }

block content


  .agreement
    p 05 сентября 2009г.

    p Публичный договор-оферта по оказанию информационно-консультационных услуг.

    ol
      li
        | Общие положения
        ol
          li Данный документ является официальным предложением (публичной офертой) индивидуального предпринимателя Кантора Ильи Александровича (в дальнейшем Исполнитель),  действующего на основании свидетельства о государственной регистрации физического лица в качестве индивидуального предпринимателя 308770000232690, выданного 23 апреля 2008 года, и содержит все существенные условия договора на оказание информационно-консультационных услуг в форме  информационно-консультационных семинаров (далее Мероприятия),
          li Данный договор-оферта не требует подписания в письменном виде.
          li В соответствии с пунктом 2 статьи 437 Гражданского Кодекса Российской Федерации (ГК РФ) в случае принятия изложенных ниже условий и оплаты услуг юридическое или физическое лицо, производящее акцепт этой Оферты, становится Заказчиком (в соответствии с пунктом 3 статьи 438 ГК РФ акцепт Оферты равносилен заключению договора на условиях, изложенных в Оферте), а Исполнитель и Заказчик совместно - Сторонами договора Оферты.
      li
        | Термины
        ol
          li.
            В настоящей публичной Оферте нижеприведенные термины используются в следующем значении: Оферта - настоящий документ "Публичный договор-оферта по оказанию дистанционных информационно-консультационных услуг", опубликованный в сети Интернет по адресу: https://learn.javascript.ru/courses-offer.
          li.
            Акцепт Оферты - полное и безоговорочное принятие Оферты путем осуществления действий, указанных в пункте 2 раздела "Условия и порядок предоставления услуг" настоящей Оферты. Акцепт Оферты создает Договор Оферты.
          li.
            Заказчик - лицо, осуществившее Акцепт Оферты, и являющееся таким образом Заказчиком услуг Исполнителя по заключенному договору Оферты.
          li.
            Договор Оферты - договор между Исполнителем и Заказчиком на предоставление дистанционных информационно-консультационных услуг, который заключается посредством Акцепта Оферты.
          li.
            Сайт – интернет-сайт, размещённый на домене javascript.ru или на его поддоменах, в частности на поддомене learn.javascript.ru.
          li.
            Прейскурант - действующий систематизированный перечень дистанционных информационно-консультационных услуг Исполнителя с ценами, публикуемый на Сайте на странице с адресом: https://learn.javascript.ru/courses, а также и на других страницах, напрямую доступных по ссылкам с этого адреса.

      li
        | Предмет Оферты
        ol
          li.
            Предметом настоящей Оферты является предоставление Заказчику информационно-консультационных услуг в соответствии с условиями настоящей Оферты и текущим Прейскурантом услуг Исполнителя.
          li.
            Перечень оказываемых дистанционных информационно-консультационных услуг приведен в Приложении 1, являющимся неотъемлемой частью настоящей Оферты.
          li.
            Публичная Оферта и Приложения к публичной Оферте являются официальными документами и публикуются на Сайте по адресу: https://learn.javascript.ru/courses-offer.
          li.
             Исполнитель имеет право в любой момент изменять Прейскурант и условия настоящей публичной Оферты в одностороннем порядке без предварительного согласования с Заказчиком, обеспечивая при этом публикацию измененных условий на Сайте, изменения вступают в силу немедленно после опубликования.

      li
        | Условия и порядок предоставления услуг
        ol
          li.
            Информационно-консультационные услуги предоставляются в полном объеме при условии их 100% (сто процентов) оплаты Заказчиком.
          li.
            Ознакомившись с Прейскурантом Исполнителя, списком предоставляемых услуг и текстом настоящей публичной Оферты, Заказчик оформляет на Сайте электронную заявку, в которой указывает одно или несколько Мероприятий, а также электронные адреса участников, если они не совпадают с электронным адресом Заказчика.
          li.
            На основании полученной заявки Исполнитель выставляет Заказчику счет на оплату выбранной услуги.
          li.
            Заказчик перечисляет денежные средства на расчетный счет Исполнителя.
          li.
            После проведения Заказчиком оплаты выставленного счета и зачисления денежных средств на расчетный счет Исполнителя, договор Оферты вступает в силу.
          li.
            Срок Акцепта Оферты составляет 5 (пять) рабочих дней с момента выставления счета на оплату дистанционных информационно-консультационных услуг.
          li.
            В течение не более трех рабочих дней с момента зачисления денежных средств Заказчика на расчетный счет Исполнителя, последний высылает письма по электронным адресам, указанным в электронной заявке Заказчика. Каждый участник должен подтвердить своё участие указанным в письме образом, при необходимости зарегистрировавшись на Сайте и указав своё имя и фамилию.
          li.
            Не позднее даты начала Мероприятия, указанной в Прейскуранте, Заказчик начинает высылать участникам по электронной почте инструкции и/или блоки информационных материалов. Информационные материалы могут включать в себя информационные, методические материалы, тесты, ситуационные задачи. Продолжение (следующие блоки информационных материалов) высылаются участникам после прохождения и усвоения участниками предыдущей части материалов.
          li.
            В ходе изучения информационных материалов участники имеют право задавать вопросы по изучаемому блоку способами, указанными в описании Мероприятия на Сайте. Дистанционные информационно-консультационные услуги оказываются Исполнителем в течение не более трех месяцев.
          li.
            При запросе со стороны Заказчика Исполнитель по окончании услуг формирует односторонний Акт об оказанных услугах и направляет его Заказчику.
          li.
            Услуги считаются оказанными Исполнителем надлежащим образом и принятыми Заказчиком в полном объеме, если в течении пятнадцати дней с даты окончания Мероприятий Исполнитель не получил от Заказчика мотивированных письменных возражений. По истечении срока, указанного выше, претензии Заказчика относительно недостатков Услуг, в том числе по количеству(объему), стоимости и качеству не принимаются.
          li.
            Заказчик вправе отказаться от услуг Исполнителя полностью или частично в течение действия срока договора Оферты, при этом возврат сумм, уплаченных по данному договору Оферты, Исполнителем не производится. В случае отказа от услуг Заказчик обязан уведомить Исполнителя.
          li.
            Заказчику и участникам запрещается распространять (публиковать, размещать на Интернет- сайтах, делать рассылку по электронной почте, копировать, передавать или перепродавать третьим лицам) в коммерческих или некоммерческих целях предоставляемую Исполнителем информацию и материалы в рамках настоящего Договора, создавать на ее основе информационные продукты, производить её фотосъёмку, аудио- или видеозапись , аудио- или видеотрансляцию, а также использовать эту информацию каким-либо иным образом, кроме как для обучения участников. Заказчик и участники обязуются сохранять конфиденциальность в отношении учебных и других материалов, полученных вследствие выполнения настоящего договора.
          li.
            По письменному требованию Заказчика Исполнитель может оформить печатную версию Оферты с подписями Сторон, равному по юридической силе настоящему публичному договору-оферте. Письменным требованием Заказчика о подписании бумажного экземпляра настоящей Оферты считается доставка Исполнителю подписанной Заказчиком в двух экземплярах печатной версии настоящей Оферты, содержащей паспортные данные Заказчика, если Заказчик – физическое лицо и сведения о юр. лице, если Заказчик – юридическое лицо. Адрес для отправки:  125445, г. Москва, ул. Беломорская д.3 корп. 1 кв. 71, Кантору Илье Александровичу.

      li
        | Срок действия договора:
        ol
          li.
            Договор вступает в силу с момента поступления на счет Исполнителя авансового платежа от Заказчика, согласно п.4.5. настоящего договора.
          li.
            Условия настоящего Договора могут быть изменены только по взаимному соглашению Сторон. Соглашение об изменении и дополнении настоящего Договора имеет силу только в том случае, если оно оформлено в письменном виде и подписано обеими сторонами.
          li.
            Исполнитель имеет право в любой момент отказаться от настоящего Договора, уведомив Заказчика. При этом Договор будет считаться расторгнутым с момента получения Заказчиком уведомления от Исполнителя, если иной срок не указан в таком уведомлении.   Авансовая оплата в этом случае возвращается Заказчику полностью, если отказ произошёл до начала Мероприятий, и пропорционально объёму оказанных услуг, если отказ произошёл во время Мероприятий.

      li
        | Прочие условия:
        ol
          li.
            Настоящий договор составлен в двух экземплярах, по одному для каждой из сторон, имеющих равную юридическую силу.

      li
        | Споры сторон:
        ol
          li.
            Все споры, возникающие при исполнении настоящего Договора, решаются Сторонами путем переговоров, которые могут проводиться, в том числе, путем отправления писем по почте.
          li.
            Если Стороны не придут к cоглашению путем переговоров, все споры и рассматриваются в претензионном порядке. Срок рассмотрения претензии — три недели с даты получения претензии.
          li.
            При любых обстоятельствах ответственность Исполнителя ограничена суммой полученной оплаты и возлагается на него исключительно при наличии в его действиях вины.
          li.
            В случае если споры не урегулированы Сторонами с помощью переговоров и в претензионном порядке, они передаются заинтересованной Стороной в Арбитражный суд города Москвы.

      li
        | Обстоятельства непреодолимой силы:
        ol
          li.
            Исполнитель не несет ответственности за нарушение условий договора Оферты,
            если такое нарушение вызвано действием обстоятельств непреодолимой силы (форс-мажор),
            включая: действия органов государственной власти, пожар, наводнение, землетрясение, другие стихийные действия,
            отсутствие электроэнергии и/или сбои работы компьютерной сети, забастовки, гражданские волнения,
            беспорядки, болезнь Исполнителя и любые иные обстоятельства, не ограничиваясь перечисленным,
            которые могут повлиять на выполнение Исполнителем условий настоящей публичной Оферты и неподконтрольные Исполнителю.
          li.
            В случае наступления обстоятельств, описанных в п.8.1.,
            срок исполнения Исполнителем своих обязательств по настоящему Договору отодвигается соразмерно времени,
            в течение которого будут действовать такие обстоятельства.
            Исполнитель в этом случае обязан в течение 3 (трех) календарных дней со дня наступления указанных обстоятельств
            или позже, если обстоятельства не позволяют сделать это в указанный срок, письменно известить об этом Заказчика.
          li.
            В случае если вышеуказанные обстоятельства будут продолжаться более 20 (двадцати) календарных дней, любая из Сторон Договора может расторгнуть настоящий Договор в одностороннем порядке.


      li
        | Реквизиты Исполнителя

        p ИП Кантор Илья Александрович
        p ОГРНИП 308770000232690
        p Адрес Россия, 123423, г. Москва, ул. Народного Ополчения 11-620
        p Телефон +7(903)541-94-41
        p Электронный адрес iliakan@javascript.ru

