+b.nodejs-screencast-header

  +e("h1").title Скринкаст
    +e("strong").title-accent  NODE.JS

  +e("p").description
    | Основные возможности и средства создания веб-сервисов, включая внутренние особенности самого сервера Node.JS

  +e("ul").buttons

    +e("li").button
      +b("a")(href="/123").simple-button
        +e.text
          | Смотреть на
          +e("strong").accent  Youtube
        +e.description  Плейлист 41 запись

    +e("li").button
      +b("a")(href="/123").simple-button
        +e.text
          | Скачать скринкаст
        +e.description  Компактный размер
          +e("strong").description-accent  (228Mb)

    +e("li").button
      +b("a")(href="/123").simple-button
        +e.text
          | Скачать скринкаст
        +e.description  Хорошее качество
          +e("strong").description-accent  (4Gb)

  +e("p").info Если вы где-то выкладываете этот скринкаст (торрент и т.п.), то обязательно давайте ссылку на эту страницу, так как все обновления и важные изменения я публикую здесь.

  +e("p").foot Ниже вы можете ознакомиться более детально с содержанием скринкаста

  +e("p").tag
    | Не прозевайте
    br
    |курсы по
    strong  Node.js!