extends /layouts/main

block append variables
  - var headTitle = 'Современный учебник Javascript';

  //- layout
  - var sitetoolbar = true
  - var header = true
  - var layout_page_class = "page_contains_header"
  - var mainclass = "main-headered"


block content

  include ./nodejs-screencast-header

  .main(class='main_width-limit-wide').nodejs-screencast-content


    include:simpledown nodejs-screencast.md

    +b.faq-cite
      +e("h2").title Ответы на частые вопросы:
      +e.list
        +e('dl')
              dt У меня Windows, пытаюсь запустить скрипт в `cmd`, набираю `node server.js` -- выдаёт ошибку, что делать?
                dd Перейдите в нужную директорию командой `CD <директория, в которой у вас находится server.js>`. Например: `CD C:\node`. Оттуда и запускайте.
              dt Пробую запускать в FAR, но не вижу вывода скрипта.
                dd Нажмите `Ctrl + O`, это отключит панели FAR и вы сможете всё видеть. Нажмите ещё раз -- и панели снова появятся.

        +b.course-form
          +e("h3").title Курс по Node.JS
          +e("p").text
            | Если получится, будет курс в режиме вебинара по Node.JS, с решением задач, обратной связью, ответами на вопросы и прочим необходимым для полноценного обучения.
            | Напишу уведомление, когда будет открыта запись.
          +e("form").form(data-newsletter-subscribe-form action="/newsletter/subscriptions" method="POST")
            input(type="hidden" value="nodejs" name="slug")
            if user
              input(type="hidden" value=user.email name="email")
            else
              +b.text-input
                +e('input').control(type="email" placeholder="me@mail.com" name="email" required)

            +b("button").button._action(type="submit")
              +e("span").text Уведомить о курсах

















    script.
      (function() {
        var lis = document.querySelectorAll('li[mnemo]');

        for (var i = 0; i < lis.length; i++) {
          var li = lis[i];
          var mnemo = li.getAttribute('mnemo');

          li.insertAdjacentHTML(
            'beforeEnd',

            '<div class="lessons-list__download">' +
              '<div class="lessons-list__popup">' +
                '<ul class="lessons-list__popup-list">' +
                  '<li class="lessons-list__popup-item">' +
                    '<a href="/nodejs-screencast/nodejs-mp4-low/' +
                        mnemo + '.mp4">Компактный размер</a>'+
                  '</li>' +

                  '<li class="lessons-list__popup-item">' +
                    '<a href="/nodejs-screencast/nodejs-mp4/' +
                        mnemo + '.mp4">Высокое качество</a>' +
                  '</li>' +
                '</ul>' +
              '</div>' +
            '</div>'
          );
        }
      })();

    include /blocks/comments