
+b('form').complex-form._step_3
  +e.step._current
    +b.course-register-payment.courses-register-common
      +e('h2').title.courses-register-common__title Оплата

      +e.body
        +b.pay-method
          include ../../../payments/common/templates/payment-methods
      +e.next.courses-register-common__next
        +b('button')(type="submit").button._action
          +e('span').text Перейти к оплате

        p Если возникли какие-нибудь сложности, вы можеле <a href="/123">оплатить заказ позже</a>


