+b("form").text-input-button(data-newsletter-subscribe-form=course.slug onsubmit="return false" action="/newsletter/subscribe" method="POST")
  input(type="hidden" value=course.slug name="slug")
  if user
    input(type="hidden" value=user.email name="email")
  else
    +e.input
      +b.text-input
        +e('input').control(type="email", placeholder="me@mail.com", name="email", required)
  +e.button
    +b("button")(class=["button", groups.length ? "_common" : "_action"] type="submit")
      +e("span").text Уведомите о новых группах

p(style="font-size: 13px; color: #999") На ваш email придёт письмо с информацией о дате, деталях курсов и ссылка на запись.
