.sitemap-overlay
	position fixed
	background rgba(255, 255, 255, .95)
	top 0
	right 0
	bottom 0
	left 0
	z-index 9
	transition top animation_duration, right animation_duration, left animation_duration
	overflow auto

	&__close,
	&__close:active
		position absolute
		top 15px
		right 24px
