.rating-chooser
    position relative
    display inline-block

    &__fieldset
        float left
        border none

    &__input
        position absolute
        top -9999px
        clip rect(0,0,0,0)

    &__label
        float right

        width 40px
        height 40px

        cursor pointer
        color #999

        transition unquote('color') 0.2s


    &__label-text
        font-size 18px
        line-height 40px

        position absolute
        left 100%

        white-space nowrap

        margin-left 20px

        opacity 0

        transition opacity 0.2s

    &__label:before
        font-size 36px
        line-height 36px

        content '★'

    &__input:checked ~ &__label
        color #F8AB47

    &__fieldset:hover &__label
        color #999

    &__label:hover,
    &__label:hover ~ &__label
        color #F8AB47

    &__input:checked + &__label:hover,
    &__fieldset:hover &__input:checked + &__label:hover ~ &__label,
    &__input:checked ~ &__label:hover ,
    &__input:checked ~ &__label:hover ~ &__label,
    &__label:hover ~ &__input:checked ~ &__label,
    &__fieldset:hover &__label:hover
        color #F8AB47

    &__input:checked + &__label &__label-text
        opacity 1

    &__fieldset:hover &__label-text
        opacity 0 !important

    &__label:hover &__label-text
        opacity 1 !important


