.complex-form
    width 780px
    margin auto

    &__step
        border 3px solid #f2e9b0
        border-radius 10px
        display none
        text-align center

    &__step-content
        margin 45px 20px

    &__step_current
        display block

    &__extract
        width 520px
        box-sizing border-box
        margin: 0 auto 17px

    & &__step-title,
    & &__alternate-title
        font 28px secondary_font
        margin 17px 0 11px

    & &__alternate-title
        color #333

    &__email
        width 250px

    &__email-note
        font-size 12px
        color #333
        margin 12px auto 0
        line-height 16px
        width 250px

    &__pay-method
        margin 20px auto 29px

    & &__next
        margin 0 auto
        width 620px

    &__next-item
        text-align center

    &__next-item_finished
        display none

    &__next-item_finished + &__next-item
        border 0

    & &__next-item:last-child
        border-radius 0 0 10px 10px

    &[data-order-info-status="pending"] [data-order-form-step-payment]
        display none

    &_cources
        margin-top 40px

    &__submit-line
        margin-top 50px