extends /layouts/email

block body

  h2 Присоединитесь, пожалуйста, к группе

  p Здравствуйте!

  p Вы – в списке участников, но до сих пор не присоединились к группе #{group.title}.

  p Это нужно сделать, чтобы вы могли участвовать и получать материалы группы.

  p Присоединиться к группе можно по ссылке <a href="#{link}">#{link}</a>.

  p Если возникнут какие-либо вопросы – вы можете ответить на это письмо.
