.courses-master
    display inline-block

    & .teacher-picture
        display block

    & .teacher-picture__img
        position static

    &__name
        color light_link_color

    &__name-text
        display inline-block

        font-size 16px
        padding-top 15px

    &__name:hover &__name-text
        text-decoration underline

    @media tablet
        &
          width 145px

