.courses-master
    position relative

    min-height 150px
    margin-top 40px
    padding 0 0 40px 185px

    border-bottom 3px solid #EEE

    text-align left

    &:before
        position absolute
        left 15px
        top 5px

        width 145px
        height 145px

        background #ccc
        border-radius 50%
        background url(/about/iliakan.jpg) no-repeat center center
        background-size cover
        content: ''

    & h2&__title
        font-family secondary_font
        line-height initial

        margin 0 0 10px 0

    & p&__text
        font-size 12px

        padding 0
        margin 7px 0

    @media (max-width: 690px)
        &
            width auto
            padding 0

            border-bottom none

        & h2&__title

            text-align center

            padding-bottom 185px

        &:before
            left 50%
            top 60px

            margin-left -73px

        & p&__text
            font-size 14px

            margin 10px 0
