doctype html
include /bem
html
  head
    block variables
    include ../blocks/head
  body
    //- include ../blocks/sitetoolbar
    include ../blocks/sitetoolbar-login-loaders
    .page.page_sidebar_on
      if true
        include ../blocks/sidebar
      .page__inner
        article.main
          header.main__header
            
            include ../blocks/breadcrumbs
            h1.main__header-title!= self.title
            //- span.main__header-comments
            //-   a(href='http://learn.javascript.ru/intro#disqus_thread') Комментариев #{self.comments.length}
            //- include ../blocks/prev-next-top
          block content
          include ../blocks/article-foot
          //- include ../blocks/prev-next-bottom
          include ../blocks/corrector
          include ../blocks/comments
      include ../blocks/page-footer
      a.page__prev(href="#prev", title="назад")
      a.page__next(href="#next", title="вперед")
    include ../blocks/scripts
