doctype html
include /bem

html
  head
    - var self = {}
    //- по умолчанию все отключено, в шаблоне в секции переменных
    //- мы сразу видим набор реально используемых фрагментов
    - var layout = {}
    - layout.sitetoolbar = false
    - layout.prevNext = false
    - layout.sidebar = false
    - layout.articleFoot = false
    - layout.centeredHeader = false
    - layout.sitemap = false
    - layout.header = false

    block variables
    include ../blocks/head
  body
    if layout.sitetoolbar
      //- include ../blocks/sitetoolbar
      include ../blocks/sitetoolbar-login-loaders
    .page
      if layout.prevNext
        include ../blocks/prev-next
      if layout.sidebar
        include ../blocks/sidebar
      .page__inner
        article.main
          if layout.sitemap
            //- блок map должен подгружаться динамически
            //- подключен для демонстрации и отладки
            //- сделан в виде страницы а не блока чтобы был доступен
            //- по собственному url (/markup/pages/map)
            include ../pages/map
          //- отключается только на странице задачи, по возможности отрефакторить
          if layout.header
            header.main__header(class= layout.centeredHeader == true ? "main__header_center" : undefined)
              include ../blocks/breadcrumbs
              h1.main__header-title!= self.title
          block content
          if layout.articleFoot
            include ../blocks/article-foot
            include ../blocks/corrector
            include ../blocks/comments
      include ../blocks/page-footer
    include ../blocks/scripts
