doctype html
include /bem

html
  head
    - var self = {}
    //- по умолчанию все отключено, в шаблоне в секции переменных
    //- мы сразу видим набор реально используемых фрагментов
    - var layout = {}
    - layout.sitetoolbar = false
    - layout.prevNext = false
    - layout.sidebar = false
    - layout.articleFoot = false
    - layout.centeredHeader = false
    - layout.tutorialMap = false
    - layout.header = false
    - layout.notificationPopup = false
    - layout.notificationStripe = false
    - layout.bodyClass = ""

    block variables
    include ../blocks/head
  body.no-icons(class= layout.bodyClass != "" ? layout.bodyClass : undefined)
    script head.fontTest();
    if layout.notificationPopup
      include ../blocks/notification-popup
    if layout.sitetoolbar
      include ../blocks/sitetoolbar
      //- include ../blocks/sitetoolbar-login-loaders
    .page
      if layout.prevNext
        include ../blocks/page-nav
      if layout.sidebar
        include ../blocks/sidebar
      .page__inner
        .main.main_width-limit
          //- отключается только на странице задачи, по возможности отрефакторить
          if layout.header
            header.main__header(class= layout.centeredHeader == true ? "main__header_center" : undefined)
              include ../blocks/breadcrumbs
              h1.main__header-title!= self.title
          block content
          if layout.articleFoot
            include ../blocks/article-foot
            include ../blocks/corrector
            include ../blocks/comments
    if layout.tutorialMap
      //- блок map должен подгружаться динамически
      //- подключен для демонстрации и отладки
      //- сделан в виде страницы а не блока чтобы был доступен
      //- по собственному url (/markup/pages/map)
      .tutorial-map-overlay
        include ../blocks/map
        +b('button').close-button.tutorial-map-overlay__close
    script(src=script("footer"))
    script footer.init();

    script(src=script("tutorial"))
    script tutorial.init();
