doctype html
include /bem
html
  head
    block variables
    include ../blocks/head
  body
    .page
      .page__inner
        .main-content
          article.main
            header.main__header.main__header_center
              include ../blocks/breadcrumbs
              h1.main__header-title!= self.title
            block content
        include ../blocks/page-footer
    include ../blocks/scripts