doctype html
include /bem
html
  head
    block variables
    include ../blocks/head
  body(id='#{self.bodyId}')
    //- include ../blocks/sitetoolbar
    include ../blocks/sitetoolbar-login-loaders
    .page.page_sidebar_on
      include ../blocks/sidebar
      .page__inner
        article.main
          header.main__header.main__header_center
            include ../blocks/breadcrumbs
            h1.main__header-title!= self.title
          block content
      include ../blocks/page-footer
      a.page__nav.page__nav_prev(href="#prev", title="назад")
        span.page__nav-text
          span.page__nav-text-shortcut Ctrl + &larr;
      a.page__nav.page__nav_next(href="#next", title="вперед")
        span.page__nav-text
          span.page__nav-text-shortcut Ctrl + &rarr;
    include ../blocks/scripts