doctype html
include /bem
html
  head
    block variables
    include ../blocks/head
  body(id='#{self.bodyId}')
    include ../blocks/sitetoolbar
    .page.page_sitemap
      include ../blocks/sidebar
      .page__inner
        article.main
          block content
      include ../blocks/page-footer
      a.page__prev(href="#prev", title="назад")
      a.page__next(href="#next", title="вперед")
    include ../blocks/scripts