doctype html
include /bem
html
  head
    block variables
    include ../blocks/head
  body(id='#{self.bodyId}')
    include ../blocks/sitetoolbar
    //- include ../blocks/sitetoolbar-login-loaders
    .page
      include ../blocks/sidebar
      .page__inner
        article.main
          block content
      include ../blocks/page-footer
      include ../blocks/prev-next
    include ../blocks/scripts