doctype html
include /bem
html
  head
    block variables
    include ../blocks/head
  body(id='#{self.bodyId}')
    //- include ../blocks/sitetoolbar
    include ../blocks/sitetoolbar-login-loaders
    .page.page_sidebar_on
      include ../blocks/prev-next
      include ../blocks/sidebar
      .page__inner
        article.main
          block content
      include ../blocks/page-footer
    include ../blocks/scripts
