include /bem

+b.code-example
  +b.result.__result(data-result="1")
    +b.toolbar.__toolbar
      if external
        +e.tool
          +e('a')(href=external.href target="_blank" title="открыть в новом окне").button_external
      if edit
        +e.tool
          +e('a')(href=edit.href target="_blank" title="открыть в песочнице окне").button_edit
      if zip
        +e.tool
          +e('a')(href=zip.href target="_blank" title="скачать архив").button_zip

