include /bem

+b.login-form
  +e('form').form(action="#" data-form="register")
    +e.line.__header
      +e('h4').title Регистрация
      +e.header-aside
        +e('button').button-link(type="button" data-switch="login-form") вход

    //-
      +e.line.__notification
        +e.info
          | Регистрация работает в тестовом режиме. О любых проблемах и странностях сообщайте, пожалуйста, на <a href="https://github.com/iliakan/javascript-nodejs/issues/new">github</a>.

    +e.line.__notification(data-notification)

    +e.line
      +e('label').label(for="register-email") Email:
      +b('span').text-input.__input
        +e('input').control#register-email(name="email" type="email" required autofocus)
    +e.line
      +e('label').label(for="register-displayName") Имя пользователя:
      +b('span').text-input.__input
        +e('input').control#register-displayName(name="displayName" required)
    +e.line
      +e('label').label(for="register-password") Пароль:
      +b('span').text-input.__input
        +e('input').control#register-password(type="password" name="password" required)
    +e.line.__footer
        +b('button').button._action.submit(type="submit")
          +e('span').text Зарегистрироваться

        +e('a').close-link.tablet-only.modal__close Отмена

    +e.line.__agreement
        | Регистрируясь, вы принимаете
        = ' '
        a(href="/agreement") пользовательское соглашение
        | .
    include login-form-footer


