.course-register-settings
    display inline-table

    margin-top 25px

    &__cell
        display table-cell

        padding 10px 30px

        border-left 1px solid #e7e5e3
        border-right 1px solid #e7e5e3

    &__cell:first-child
        padding-left 0

        border none

    &__cell:last-child
        padding-right 0

        border none

    & &__title
        font-size 14px
        font-weight normal

        margin 0

    &__title:after
        content ':'

    &__body
        margin-top 15px

    & .price__secondary
        margin-left 10px
