.price
        font 700 25px/1 secondary_font
        color #4d906b

    .price_small
        font-size 19px

    .price_x-small
        font-size 18px

    .price__secondary
        font 14px font
        color light_gray_color
        vertical-align .3em

    .price_small .price__secondary,
    .price_x-small .price__secondary
        font-size 13px
