
.pay-method
    width 380px
    position relative
    right -3px

    &__methods
        @extend $clearfix
        margin-bottom 23px

    &__method
        float left
        margin -1px 2px 2px -1px
        padding 1px
        overflow hidden
        position relative

    &__method.hover
        outline 1px solid #8EB0D2

    &__send
        @extend $button-reset
        display block
        width 184px
        height 98px

        &_webmoney
            background asset('./pay-webmoney.svg')

        &_banksimple
            background asset('./pay-banksimple.svg')

        &_interkassa
            background asset('./pay-interkassa.svg')

        &_payanyway
            background asset('./pay-payanyway.svg')

        &_paypal
            background asset('./pay-paypal.svg')

        &_webmoney
            background asset('./pay-webmoney.svg')

        &_yandexmoney
            background asset('./pay-yandexmoney.svg')

    &__radio
        position absolute
        bottom 110%
        right 110%

    &__img
        display block

    & &__img
        margin 0

    &__label
        display block
        cursor pointer

    &__insert
        padding-top 22px

    &__insert-item
        margin 0 10px 10px
        text-align: left

    &__text
        display block
        margin-top 7px

    &__radio:checked + &__label
        outline 2px solid #ffab34
        outline-offset -1px

    &__spinner
        position absolute
        top 90px
        left 248px

    &__spinner .spinner__dot
        background #333