.pay-method
    max-width 615px
    margin 0 auto

    text-align left

    & ul&__methods,
    & li&__method,
    & h3&__method-title,
    & h4&__method-subtitle
        margin 0
        padding 0

    & li&__method:before
        display none
        content: ''

    &__method
        position relative
        border-bottom 2px solid #fff

    &__method-label
        position relative

        display block
        min-height 47px
        padding 15px 30px 15px 60px

        white-space nowrap

        cursor pointer
        background background_blocks

        transition background-color 0.2s

    &__method-label:after
        display inline-block
        position relative
        height 47px

        vertical-align middle

        content: ''

    &__logo
        vertical-align middle

    &__method-label_aside
        padding-right 155px

    &__method-label_aside &__logo
        position absolute
        top 17px
        right 30px

    &__method-title
        font bold 20px/22px secondary_font

        color #555

    &__method-title_card
        padding-right 95px !important
        background url('/pay-methods/cards.svg') 100% center no-repeat

    & h4&__method-subtitle
        font-size 14px
        line-height 16px
        font-weight normal

        color #555

    &__method-radio
        position absolute
        z-index 1
        left 16px
        top 29px

        width 16px
        height 16px


    &__header
        display inline-block

        white-space normal
        vertical-align middle

    &__method-radio:checked ~ &__method-label
        background #f9edbf

    &__method-radio:checked ~ .payment-setting
        display block
