.course-search
	background: #eee
	border-radius: 4px
	padding: 30px 40px 40px

.course-search__form
	display: table
	width: 100%

.course-search__input-wrap
	display: table-cell
	vertical-align: middle

.course-search__input-wrap_text
	width: 100%

.course-search__query
	width: 100%

.course-search__text-input .text-input__control
	padding-top: 10px
	padding-bottom: 10px

.course-search__input-wrap_submit
	padding-left: 25px

.course-search__submit
	min-width: 140px
