// стиль для уведомлений
// библиотека humane.js
.humane
.humane-libnotify
	position: fixed
	transition: all .3s ease-out
	z-index 100000
	font-size 14px
	top 46px
	margin 0 auto
	opacity 0
	max-width 630px
	color black
	padding 10px
	background white
	border-radius 4px
	box-shadow 0px 3px 3px 0px rgba(0,0,0,0.25)
	transform translateY(-100px)
	left 0
	right 0

&.humane-libnotify-info
	background #D9EDF8
	border 1px solid #C8E0ED

&.humane-libnotify-warn
	background #FCF8E1
	border 1px solid #ECE6C4

&.humane-libnotify-success
	background #DFF0D6
	border 1px solid #D1E7C6

&.humane-libnotify-error
	background #F2DEDE
	border 1px solid #E7C9C9

.humane.humane-animate
.humane-libnotify.humane-libnotify-animate
	opacity 1
	transform translateY(0)
	&:hover
		opacity 0.2

.humane.humane-animate
.humane-libnotify.humane-libnotify-js-animate
	opacity 1
	transform translateY(0)
	&:hover
		opacity 0.2
