.sitemap
	margin 50px 80px

	&__filter
		margin 25px 0 28px

	&__header
		display table
		width 100%
		color #7E7E7E

	&__title,
	&__option
		display table-cell
		white-space nowrap

	&__title
		width 100%

	//- избавляемся от некликабельной области между флажком и подписью
	&__option-control
		margin-right 0

	&__option-label
		padding-left 11px

	&__input
		width 100%
		margin-top 12px

	& &__col-title
		font 18px secondary_font
		line-height 1.3
		margin 0 0 27px 0
		padding 0

	// Заимствуем фрагмент стилей из .main
	// чтобы можно было использовать вне контекста .main
	// TODO: избавиться от копи-паста
	ul,
	ol
		padding-left 21px
		margin 22px 0 // уравниваем с абзацными отступами

		> li
			margin: .3em 0

	ul > li::before
		content "●"
		position absolute
		margin-left -20px
		color #B2C1C1

	& &__col-title,
	& &__items
		padding-right 25px

	& &__items
		margin-top 27px
		padding-left 10px

	& &__item
		font-weight 700
		margin-top 22px

	& &__item::before
		content "▪"
		color #d16666
		font-size 20px
		margin 0 0 0 -12px

	& &__sub-items
		margin-top 10px
		padding-left 15px

	& &__sub-item
		font-weight 400
		font-size 13px
		margin 5px 0

	& &__sub-item::before
		content "•"
		color #bbb
		font-size 25px
		margin 0 0 0 -15px

	& &__sub-sub-items
		padding 0 0 0 15px
		margin 0

	& &__sub-sub-item
		margin 3px 0

	& &__sub-sub-item::before
		content "✓"
		color #66ba7a
		font-size inherit
		margin 0 0 0 -14px

	&__note
		font-size 85%
		color #656565

	@media tablet
		&__section:not(:first-child)
			margin-top 30px
			
		& &__section.columns__col // усиливаем селектор классом columns__col из-за псевдокласса в блоке columns
			display block
			width auto

		& &__col-title
			margin-bottom 15px

		& &__items,
		& &__item
			margin-top 15px

	@media (max-width: 1050px)
		// с точки зрения организации кода размещать эти стили в файле sitemap.styl
		// неправильно, но по сути дублировать их в файле page.styl чревато
		// вероятной рассинхронизацией при поддержке
		.page_sidebar_on &__section.columns__col
			display block
			width auto

		.page_sidebar_on &__col-title
			margin-bottom 15px

		.page_sidebar_on &__items,
		.page_sidebar_on &__item
			margin-top 15px