div
  p Минуточку, ожидаем информацию от сервера..

script var number = #{number}, finishPage = '#{finishPage}';

script.
  var xhr = new XMLHttpRequest();
  xhr.open('POST', '/webmoney/wait?number=' + number);
  xhr.timeout = 20000;
  function finish() {
    location.href = finishPage;
  };

  xhr.onreadystatechange = function() {
    if (xhr.readyState != 4) return;
    finish();
  };

  xhr.ontimeout = xhr.onabort = finish;
  xhr.send('');
