include /bem

+b.photo-cut

  +e('h1').title Выберите миниатюру

  +e('form')(data-form)

    +e.layout
      +e.main
        +e.canvas-wrapper
          +e('canvas').canvas(tabindex="-1")
          +e('button').rotate(type="button", data-action="rotate-right")

      +e.result
        +e('canvas').selection-canvas
        +e('canvas').selection-canvas._small

    +e.submit
      +b('button').button._action(type="submit")
        +e('span').text Сохранить

      +e('a')(href='#').close-link.modal__close Отмена
