include /bem

+b.photo-cut

    +e('h1').title Выберите миниатюру

    +e.layout
        +e.main
            +e.canvas-wrapper
                +e('canvas').canvas
                +e('button').rotate(data-action="rotate-right")

        +e.result
            +e('canvas').selection-canvas
            +e('canvas').selection-canvas._small

    +e.submit
        +b('button').button._action(data-action="done")
            +e('span').text Сохранить

        +e('a').close-link.modal__close Отмена
