$social-link-icons-fb = 0px 21px 0px -21px 15px 15px 16px 69px '/i/social-link-icons.png?time=1407220747723';
$social-link-icons-gh = 0px 52px 0px -52px 16px 17px 16px 69px '/i/social-link-icons.png?time=1407220747723';
$social-link-icons-gp = 0px 36px 0px -36px 14px 16px 16px 69px '/i/social-link-icons.png?time=1407220747723';
$social-link-icons-tw = 0px 10px 0px -10px 13px 11px 16px 69px '/i/social-link-icons.png?time=1407220747723';
$social-link-icons-vk = 0px 0px 0px 0px 16px 10px 16px 69px '/i/social-link-icons.png?time=1407220747723';

$social-link-icons = 16px 69px '/i/social-link-icons.png?time=1407220747723'