.top-part 
	@extend $center
	@extend $min-max-width
	position relative
	background url('/assets/top-part.png') 50% 0 no-repeat
	.user 
		position absolute
		z-index 999
		bottom 36px
		right 46px

	.logo 
		@extend $center
