
+b.course-form
  +e("h3").title Курс и новые выпуски скринкаста по Node.JS
  +e("p").text Время от времени проходит онлайн-курс по Node.JS / IO.JS.
  +e("p") Курс &mdash; это практическая разработка, обсуждение грамотных решений самых разных задач с разработчиком, который использует Node, начиная с версий 0.1.
  +e("p") Пришлю уведомление, когда будет открыта запись. Также уведомление будет при новых выпусках скринкаста.
  +e("form").form(data-newsletter-subscribe-form="nodejs-bottom" onsubmit="return false" action="/newsletter/subscribe" method="POST")
    input(type="hidden" value="nodejs" name="slug")
    if user
      input(type="hidden" value=user.email name="email")
    else
      +b.text-input
        +e('input').control(type="email" placeholder="me@mail.com" name="email" data-modal-autofocus required)

    +b("button").button._action(type="submit")
      +e("span").text Уведомите меня
