extends /layouts/main

block append variables
  - var headTitle = 'Современный учебник Javascript';

  //- layout
  - var sitetoolbar = true
  - var header = true
  - var layout_page_class = "page_contains_header"
  - var mainclass = "main-headered"


block content
  +b.nodejs-screencast-header

    +e("h1").title Скринкаст
      +e("strong").title-accent NODE.JS

    +e("p").description
      | Основные возможности и средства создания веб-сервисов, включая внутренние особенности самого сервера Node.JS

    +e("ul").buttons

      +e("li").button
        +b("a")(href="https://www.youtube.com/playlist?list=PLDyvV36pndZFWfEQpNixIHVvp191Hb3Gg").simple-button
          +e.text
            | Смотреть на
            +e("strong").accent  Youtube
          +e.description  Плейлист 43 записи

      +e("li").button
        +b("a")(href="/nodejs-screencast/nodejs-mp4-low.zip").simple-button
          +e.text
            | Скачать скринкаст
          +e.description  Компактный размер
            +e("strong").description-accent  (228Mb)

      +e("li").button
        +b("a")(href="/nodejs-screencast/nodejs-mp4.zip").simple-button
          +e.text
            | Скачать скринкаст
          +e.description  Хорошее качество
            +e("strong").description-accent  (4Gb)

    +e("p").info Если вы где-то выкладываете этот скринкаст (торрент и т.п.), то обязательно давайте ссылку на эту страницу, так как все обновления и важные изменения я публикую здесь.

    +e("p").foot Ниже вы можете ознакомиться более детально с содержанием скринкаста

    +e("a")(href="#" data-nodejs-screencast-top-subscribe).tag
      | Не прозевайте
      br
      |курсы по
      strong  Node.js!


  .main(class='main_width-limit-wide').nodejs-screencast-content

    include:simpledown index.md

    +b.faq-cite
      +e("h2").title Ответы на частые вопросы:
      +e.list
        +e('dl')
          dt У меня Windows, пытаюсь запустить скрипт в <code>cmd</code>, набираю <code>"node server.js"</code> &mdash; выдаёт ошибку, что делать?
            dd Перейдите в нужную директорию командой <code>"CD &lt;директория, в которой у вас находится server.js&gt;"</code>. Например: <code>"CD C:\node"</code>. Оттуда и запускайте.
          dt Пробую запускать в FAR, но не вижу вывода скрипта.
            dd Нажмите <code class="shortcut">Ctrl + O</code>, это отключит панели FAR и вы сможете всё видеть. Нажмите ещё раз &mdash; и панели снова появятся.

        include _course-form

    script(src=pack("nodejsScreencast", "js"))
    script nodejsScreencast.init();

    include /blocks/comments

