.webpack-screencast-header
    position relative
    overflow hidden

    padding 50px

    text-align center
    line-height initial


    color #fff
    background url("blocks/webpack-screencast-header/bg.jpg") 50% 50% no-repeat

    background-size cover

    &__title
        font-size 60px
        font-weight normal

    &__title-accent
        font-weight bold
        text-transform uppercase
        // font-family 'Open Sans Extrabold'

        // color #DFC374
        color #FFFB9D

    &__description
        font-size 20px

    &__buttons
        margin-top 10px

    &__button
        display inline-block

        margin 20px 10px 0 10px

        .simple-button__text
            color #FFFB9D

    &__button .simple-button
        min-width 220px

    &__info,
    & .share-icons__title
        font-size 12px

        color rgba(255,255,255,0.7)

    &__info
        margin-top 20px

    & .share-icons__title
        display block

    & .share-icons .share
        // color #DFC374
        color #FFFB9D
        transition unquote('color') 0.2s

    & .share-icons .share:hover
        color white

    &__foot
        font-size 17px

        margin-top 30px

        // color #B1D490
        color white

    &__tag
        position absolute
        top 27px
        right -60px

        margin 0
        padding 10px 60px

        color #1E2937 !important
        background #B1D490
        text-decoration none !important

        transform rotate(45deg)

    &:after
        position absolute

        width 31px
        height 31px

        opacity 0.5

        background url(blocks/webpack-screencast-header/arrow.svg)

        content: ""
