.pie
    position relative

    width 178px
    height 178px

    border-radius 50%

    text-align center

    background green

    &__text
        position relative
        top 32px

    &__percents
        font-size 38px

        display block

        line-height 52px

    &__advice
        font-size 13px

        display block

        padding 0 20px

        white-space normal
        line-height 17px
