+b.balance
  +e.pluses
    +e.content
      +e('h3').title Достоинства
      +e('ul').list
        +e('li').list-item
          p Полная интеграция с HTML/CSS.
        +e('li').list-item
          p Простые вещи делаются просто.
        +e('li').list-item
          p Поддерживается всеми распространенными браузерами и включен по умолчанию.
  +e.minuses
    +e.content
      +e('h3').title Недостатки
      +e('ul').list
        +e('li').list-item
          p Полная интеграция с HTML/CSS.
        +e('li').list-item
          p Простые вещи делаются просто.
        +e('li').list-item
          p Поддерживается всеми распространенными браузерами и включен по умолчанию.