+b('ol').breadcrumbs
  +e('li').item._home
    +e('a').link(href='/')
      //- добавляем элемент hidden-text, чтобы при отключенных стилях ссылка была доступна
      +e('span').hidden-text Главная
  +e('li').item
    +e('a').link(href='/tutorial') Учебник
  +e('li').item
    +e('a').link(href='/getting-started') Язык JavaScript
  +e('li').item
    | основы JavaScript