- var questions = [];
- questions.push({ title: 'А это все правда? Действительно ли курсы такие хорошие?', answer: ['<p>Вам решать.</p><p>Здесь нет курсов по HTML/CSS/PHP/Photoshop и прочему разному.</p><p>Я провожу курсы <strong>только по JavaScript</strong>. И стараюсь делать это настолько хорошо, насколько это возможно. Посмотрите эту страницу, внимательно остановитесь на программе и способе обучения, подумайте, подходит ли это вам.</p>'] });
- questions.push({ title: 'Какие есть способы оплаты? Можно ли от организации?', answer: ['<p>Вам решать.</p><p>Здесь нет курсов по HTML/CSS/PHP/Photoshop и прочему разному.</p><p>Я провожу курсы <strong>только по JavaScript</strong>. И стараюсь делать это настолько хорошо, насколько это возможно. Посмотрите эту страницу, внимательно остановитесь на программе и способе обучения, подумайте, подходит ли это вам.</p>'] });

+b.courses-faq.courses-mix
    +e('h2').title Часто задаваемые вопросы
    +e.body

        +e('ul').questions
            for question, index in questions
                +e('li').question
                    +e('input').input(type="checkbox" id= 'q' + index)
                    +e('label').question-title(for= 'q' + index) !{ question.title }
                    +e.answer !{ question.answer }

        p У вас другой вопрос? Напишите его в комментариях внизу этой страницы. Если он может быть полезен другим участникам&nbsp;— я его оставлю, если нет&nbsp;— отвечу и через месяц после своего ответа удалю.
        p Для быстрой связи можно также писать мне на email: <a href="mailto:mk@javascript.ru">mk@javascript.ru</a> (проверяется регулярно), а если совсем срочно&nbsp;— звонить по телефону +7-903-5419441.

