+b.courses-masters
  +e('h2').title Ведущие
  +e('ul').masters
    +e('li').master
      +b.courses-master
        +e('a').name(href="/123")
          +b.teacher-picture
            +e('img').img(src="/about/iliakan.jpg" alt="Фото")
          +e('span').name-text Валентин Валентиновкий

    +e('li').master
      +b.courses-master
        +e('a').name(href="/123")
          +b.teacher-picture
            +e('img').img(src="/about/iliakan.jpg" alt="Фото")
          +e('span').name-text Валентин Валентиновкий

    +e('li').master
      +b.courses-master
        +e('a').name(href="/123")
          +b.teacher-picture
            +e('img').img(src="/about/iliakan.jpg" alt="Фото")
          +e('span').name-text Валентин Валентиновкий





