+b.course-info._program
    +e.body.columns.columns_2

        +e.col.columns__col
            +e.content
                +e('h3').title Программа
                p Курс состоит из трёх частей:
                ol
                    li
                        +e.text Первая часть позволяет хорошо разобраться в языке JavaScript, получить знания и навыки написания хорошего JavaScript-кода.
                    li
                        +e.text Вторая часть позволяет научиться работать со страницей и посетителем, создавать меню, слайдеры, Drag’n’Drop и прочие интерфейсные компоненты.
                    li
                        +e.text Третья часть посвящена более сложным интерфейсам. На ней мы изучаем, как построить архитектуру, взаимодействие между компонентами, как при помощи шаблонов и Require.JS организовать код, грамотно используем jQuery.

                p Большое внимание на этом курсе уделяется стилю кода. Это важно. Хороший стиль кода позволяет писать более быстро, красиво и делать меньше ошибок. А на серьёзных проектах он просто необходим.

        +e.col.columns__col
            +e.content
                +e('h3').title Набор в группы

                +b.courses-recruitment
                    +e('ul').list
                        +e('li').course
                            +e.info
                                +e('h4').title 15 Мар 2014 — 15 Май 2014
                                +e('p').text
                                | Занятия каждый Пн/Чт
                                br
                                | 19:30 - 21:00 GMT+3 (Мск).

                            +e.apply
                                +b.price
                                  +e('span') 24000 RUB
                                  +e('span').secondary
                                    | &nbsp;≈&nbsp;450$
                                +e.submit
                                    +b('button').button._action
                                        +e('span').text Записаться

                        +e('li').course
                            +e.info
                                +e('h4').title 15 Мар 2014 — 15 Май 2014
                                +e('p').text
                                | Занятия каждый Пн/Чт
                                br
                                | 19:30 - 21:00 GMT+3 (Мск).

                            +e.apply
                                +b.price
                                  +e('span') 24000 RUB
                                  +e('span').secondary
                                    | &nbsp;≈&nbsp;450$
                                +e.submit
                                    +b('button').button._action
                                        +e('span').text Записаться

                p В цену входит 2 месяца обучения, включая одну неделю каникул с самостоятельно выполняемым заданием и организационное собрание. Также участники получают вводный видеокурс за неделю до начала занятий.
                p Вы можете подписаться на уведомления по набору новых групп по этой программе:

                +b.text-input-button
                    +e.input
                        +b.text-input._invalid
                            +e('input').control(placeholder="email", name="email", type="email")
                            +e('span').err тест ошибки
                    +e.button
                        +b('button').button._common
                            +e('span').text Подписаться

                p(style="font-size: 13px; color: #999") На ваш email придёт письмо с информацией о дате, деталях курсов и ссылка на запись.


