+b.courses-master
    +e('h2').title Ведущий
    +e('p').text Веду курсы я сам, Илья Кантор, создатель этого сайта, frontend-разработчик с большим стажем, вот немного обо мне.
    +e('p').text Начиная с 2007 года вёл мастер-классы для опытных разработчиков, в которых участвовали, в том числе, сотрудники ведущих IT-компаний России и Украины. Информацию о них вы можете найти здесь.
    +e('p').text С января 2011 года открыты эти курсы.



