+b.courses-guarantee.courses-mix
    h2 Гарантии

    p Всем участникам курсов, независимо от пола, возраста, ориентации и религиозной принадлежности&hellip;

    +e('p').list_wrap Если объяснения будут вам непонятны

    ul
        li
            strong Если объяснения будут вам непонятны
        li
            strong Если курсы не дадут вам новых знаний и умений
        li
            strong Если вы не сможете подключиться к системе онлайн-обучения

    +e('p').list_wrap &hellip; то вы сможете получить деньги назад.

    p Для этого достаточно не позже окончания первой недели курса написать мне, указать причину из этого списка и что именно вас не устраивает, удостоверить свою личность, чтобы возврат не потребовал хакер, и тогда ваше участие будет прекращено, а вы получите ваши деньги обратно, удобным для вас способом.
