+b.tabbed-pane._01.courses-tabbed-pane

    +e('ul').tabs
        +e('li').tab._01 Чем эти курсы отличаются от других?
        +e('li').tab._02 Зачем курсы, когда есть книги и статьи на javascript.ru?
        +e('li').tab._03 Зачем курсы, если можно научиться на работе?

    +e.body._01

        +e('h2').title.phone-only Чем эти курсы отличаются от других?

        p В интернет есть много различных курсов, но, к сожалению, большинство из них не выдерживают никакой критики. Скорее всего, вы и сами понимаете это, а если нет – спросите знакомого специалиста, он подтвердит.
        p Курсы, которые находятся здесь&nbsp;— <strong>эффективны</strong> и не похожи ни на один из них.

        ul
            li <strong>Цель&nbsp;— полноценная профессиональная разработка</strong>. Курс идёт с расчетом на современную разработку уровня мировых стандартов. Это немного другой уровень, чем «кнопка на коленке», и другой подход к знаниям. Понятно, что «гуру» шлифуют мастерство годами, но мы можем достаточно сильно продвинуться и научиться грамотной разработке за время курса. Для участников «с нуля» существует вводный видеокурс, который позволяет освоить самые базовые моменты заранее.
            li <strong>Курс построен на примерах и задачах</strong>. Программировать&nbsp;— это как плавать, одной теории маловато, нужна практика, и чем больше&nbsp;— тем лучше. Значит – много примеров и задач. Ведь умение их решать, основанное на понимании и прямых руках — <em>и есть реальная цель</em>.
            li <strong>Правильное понимание языка</strong>. JavaScript&nbsp;— особенный язык. Если взять все часы «среднего» JavaScript-разработчика, потерянные на вопросы на форумах, на отладку кривого кода&hellip; То важность этого становится очевидной.
            li <strong>Актуальность&hellip;</strong> То, как делаются современные проекты, а не как это было 5 лет назад.
            li <strong>Качество кода</strong>&nbsp;— это важно, т.к. большинство времени тратится не на изначальное написание кода, а на его развитие и поддержку. На курсах ему уделяется особое внимание.
            li <strong>Непрерывная обратная связь</strong>&nbsp;— на любые вопросы вы получаете ответы, на ваши решения&nbsp;— грамотный ответ, можно ли так писать и когда возможны проблемы.

        p Курсы возникли в результате долгого опыта разработки и преподавания, очного, заочного и совмещенного, и сочетают преимущества обоих технологий.

        ul
            li У вас на руках будут лекционные материалы для изучения и выполнения заданий.
            li Ваши вопросы, результаты выполнения заданий, способы сделать лучше и правильнее мы обсуждаем при видео-общении онлайн.


    +e.body._02

        +e('h2').title.phone-only Зачем курсы, когда есть книги и статьи на javascript.ru?

        p Практика показывает, что язык программирования, как и обычные языки, все же лучше изучаются на курсах.

        p JavaScript в этом смысле особенный язык. На нём очень легко начать что-то делать. Но при этом разница между человеком, который нахватался по верхам и профессионалом, постигшим JS-дзен&nbsp;— колоссальна. Один делает три кнопки, другой пишет Gmail и покоряет мир.

        p Цель курсов&nbsp;— упростить и спрямить вторую дорогу, и пройтись по ее началу вместе, чтобы не свернуть ненароком куда не следует. А уж что вы потом захотите делать&nbsp;— новый Gmail или меню на сайте&nbsp;— вам решать. Главное это скорость и качество разработки.

        blockquote Курсы JavaScript&nbsp;— мощный и быстрый способ обучения. При полноценном участии они гарантируют актуальные, глубокие знания.

        p Наша цель&nbsp;— не просто выучить, какие есть функции. Да, методы знать нужно, но главное&nbsp;— уметь «думать на javascript» и разрабатывать понятный, хороший код, без ошибок и с правильной структурой.

        p Возможность участников общаться онлайн друг с другом и с ведущим, выполнение заданий также даёт более глубокое и эффективное усвоение практических навыков.

        p Ниже находится классическая «пирамида обучения». Слева указаны полученные в результате исследований средние проценты усвоения знаний. Четыре верхние ступени относятся к индивидуальному обучению. Три нижние&nbsp;— к групповому и, в частности, курсам.

        +b.image-with-text

            +e.img
              img(src="/courses/pyramid.png" alt="пирамида обучения")

            +e.text
                p На текущий момент в курсах уже участвовало более 1000 человек. Могло бы быть гораздо больше, но моя цель&nbsp;— не количество, а качество. Группы веду только я один, мест в них не так много.

                p Все участники как и вы, имеют доступ к гугл, книгам и javascript.ru. Но каждый имеет право на лучшее, они выбрали поход на курсы и, похоже, не пожалели.

                p <strong>Курсы&nbsp;— это вложение в себя</strong>. Это усилия, которые позволят быстро продвинуться. <strong>А где вы хотите быть через несколько месяцев/лет</strong>?

                p Может быть, имеет смысл level up?

    +e.body._03

        +e('h2').title.phone-only Зачем курсы, если можно научиться на работе?

        p Забавный совет, который дают многим начинающим, такой: «читай книги, иди работай, пиши скрипты и научишься». Он отчасти правилен&nbsp;— действительно, нужно разрабатывать, получать опыт.

        p Но вот что касается «научиться»&nbsp;— на практике все не так просто. Люди могут работать долго, но качество кода при этом не всегда растёт.

        p Это и видно, мы все знаем, что компаниям нужны результаты. Им нужны хорошие разработчики, очень нужны. В современном интернет всё решают люди. За них постоянно идет борьба. На поиск выделяются ресурсы, деньги...

        p <strong>Если бы люди быстро вырастали в процессе работы&nbsp;— не было бы огромных трат ресурсов на поиск разработчиков</strong>.

        p Для компании обучать людей самостоятельно&nbsp;— гораздо затратнее, чем брать уже учёных. Поэтому предпочитают заплатить хорошему разработчику побольше, чем самостоятельно «допиливать» среднего.

        p Всё это объективные реалии, которые можно наблюдать в мире. Именно поэтому существуют курсы. Хорошие курсы могут дать очень многое, если, конечно, это&nbsp;— действительно хорошие курсы.



script.
    var className = 'tabbed-pane',
        block = document.querySelector('.' + className);

        block
            .querySelector('.' + className + '__tabs')
                .addEventListener('click', function(e) {

                    block.className = className + ' ' +
                                        className + '_' +
                                            e.target.className.split('_').pop();

                });



