+b.courses-system-req.courses-mix
    +e('h2').title Системные требования

    +e.body
        p Для общения используются видео, аудио и чат. Если у вас есть гарнитура - вы сможете использовать её для вопросов, но это не обязательно.

        p Системные требования для общения онлайн - Windows/MacOS и скорость 256kbit+, для просмотра видео - Windows вне виртуальной машины.
