+b.courses-professionals.courses-mix
    +e('section').feedbacks
        +e('h2').title Мнение профессионалов

        +e('article').feedback
            +e.userpic
                +e('img').userpic-img(src="/img/userpic/userpic.svg" width="86" height="86")
            +e('h3').feedback-title Константин Профессионалов
                +e('a').homepage(src="/123") LinkedIn
            +e('p').about Разработчик с огромным опытом бла бла. Принимал участие в таки проектах, как <a href="/123">YouTube</a>, <a href="/123">LiveJournal</a>

            p Хороший, детальный курс по Javascript. Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.

        +e('article').feedback
            +e.userpic
                +e('img').userpic-img(src="/img/userpic/userpic.svg" width="86" height="86")
            +e('h3').feedback-title Константин Профессионалов
                +e('a').homepage(src="/123") LinkedIn
            +e('p').about Разработчик с огромным опытом бла бла. Принимал участие в таки проектах, как <a href="/123">YouTube</a>, <a href="/123">LiveJournal</a>

            p Хороший, детальный курс по Javascript. Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.

