meta(charset='UTF-8')
title= (self.headTitle || self.title)
link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Open+Sans+Condensed:700&subset=latin,latin-ext,cyrillic,cyrillic-ext' rel='style' type='text/css')
link(href='/styles/base.css' rel='stylesheet')
meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes")
meta(name="apple-mobile-web-app-capable" content="yes")


script(src=pack("head") crossorigin="anonymous")
