+b.page-footer
  +e.left
    +e("ul").list
      - var year = new Date().getFullYear()
      +e("li").item ©&nbsp;2007—!{year} Илья Кантор
      +e("li").item
        +e("a")(href="/about#contact-us").link связаться с нами
      +e("li").item
        +e("a")(href="/about").link о проекте

  +e.right
    +e("ul").list
      +e("li").item сделано на
        +e("a")(href="/aaa").link  io.js
