+b.quiz-start

  +b("button").button._action
        +e("span").text Начать тестирование

  +e("p").info
    | Нажмите на кнопку ниже для того чтобы начать тестирование.
    br
    |Сразу после этого начнется отчет времени.