+b(class="quiz-question "+( quiz.done ? (quiz.correct ? " _correct_true" : " _correct_false") : ""))
  +e("form")(action="/asd").body
    +e("h1").title !{ quiz.title }
    +e("ul").variants

      each variant, index in quiz.variants

        +e("li")(class="variant " + ( quiz.correctNum == (index + 1) ? " _correct" : ""))
          +e("label").input-text
            +e("input").input(type="radio" name="variant" disabled = quiz.done ? true : false checked = quiz.selected == (index + 1) ? true : false)
            +e("span").input-text !{ variant.title }
          if variant.description
            +e.description !{ variant.description }



    if quiz.note
      +e("p").note !{ quiz.note }

  if !quiz.done
    +e.submit
      +b("button").button._action(disabled="disabled")
        +e("span").text Продолжить


  script.
      (function() {
        var isSpinner,
            form = document.querySelector('.quiz-question__body'),
            button = document.querySelectorAll('.button_action')[1];


        button && button.addEventListener('click', function() {

            this.classList.toggle('button_loading');

            if (!isSpinner) {
              this.insertAdjacentHTML(
                'beforeend',
                '<span class="spinner spinner_active spinner_small"><span class="spinner__dot spinner__dot_1"></span><span class="spinner__dot spinner__dot_2"></span><span class="spinner__dot spinner__dot_3"></span></span>'
              );

              isSpinner = true;
            }
        });


        form.addEventListener('change', function() {

          button.hasAttribute('disabled') &&
            button.removeAttribute('disabled');

        });
      })()
