+b.receipts._register
  +e.receipt
    +e.receipt-body
      +e.receipt-content
        +e.type Заказ:
        +e.title Посещение курсов для 10 человек
          +b.course-register-info
            +e('p').info._length
              +e('time')(datetime="2014-03-15 17:00").time 15 Мар 2014
              | —
              +e('time')(datetime="2014-05-15 17:00").time 15 Май 2014
            +e('p').info
              | Каждый <strong>Пн</strong> и <strong>Ср</strong> в&nbsp;
              +e('time').time 17:00&nbsp;
              | (UTC+4)

      +e.receipt-aside
        +e.price
          +b('span').price 2400 RUB
          +e('a').edit(href="/123")

  +e.receipt
    +e.receipt-body
      +e.receipt-content
        +e.type Контактная информация:
        +e.title Александр Сергеевич Константинопольский
      +e.receipt-aside._center
        +e('span').title +7 495 926-22-23
        +e('a').edit(href="/123")

  +e.receipt
    +e.receipt-body
      +e.receipt-content
        +e.type Оплата:
        +e.status._ok Осуществлена успешно
      +e.receipt-aside
        +e.pay-method_paypal

+b('form').complex-form._success
  +e.step._current
    +b.course-register-success.courses-register-common
      +e('h2').title.courses-register-common__title Спасибо за заказ!
      +e('h3').title.courses-register-common__title В ближайшее время вам прийдет уведомление на электронный адрес

      +e.body
        p
          | Вы можете отредактировать детали своего заказа
          | в любое время до начала проведения курсов в
          | <a href="/123">соответствующем разделе</a> вашей учетной записи.
          | В случаях каких-либо изменений мы обязательно с вами свяжемся.

        p Если у вас возникли какие-либо вопросы, присылайте их на <a href="#{mailto}">orders@javascript.ru</a>.

