+b.sitetoolbar
  if layout.notificationStripe
    include ../blocks/notification-stripe
  +e.content
    +e.logo-wrap
      +e('a').link._logo(href="/")
        +e('embed').logo(src="/i/sitetoolbar__logo.svg")
    +e.nav-toggle-wrap
      //- FIXME: onclick - демо, убрать
      //- при начале скролла тут же исчезает, для этого body += .sitetoolbar_hidden
      +e('button').nav-toggle(onclick="document.querySelector('.sitetoolbar').classList.toggle('sitetoolbar_menu_open')")
    +e('nav').sections
      +e('ul').sections-list
        +e('li').section._current
          //- элемент с модификатором _current может содержать как ссылку,
          //- так и простой текст, выглядеть будет одинаково
          | Учебник
        =' '
        +e('li').section
          +e('a').link(href="/courses") Курсы
        =' '
        +e('li').section
          +e('a').link(href="/spec") Стандарт ES5
        =' '
        +e('li').section
          +e('a').link(href="/tests") Тестирование
    +e.user-wrap
      //- делаем пользователя кнопкой, так как она только раскрывает меню
      //- и никуда не ведет. Если предполагается функциональность ссылки
      //- потребуются минимальные доработки
      +e('button').user(title="Very very long nickname with spaces", onclick="document.querySelector('.sitetoolbar').classList.toggle('sitetoolbar_user_open')")
        +e('img').userpic(src="/img/markup/sitetoolbar-userpic.png", alt="Very very long nickname with spaces", width="36", height="36")
        +e('span').user-text
          | Very very long nickname with spaces
    +e.search-wrap
      +e('button').search-toggle(onclick="document.querySelector('.sitetoolbar').classList.toggle('sitetoolbar_search_open')")
  +e.tablet-menu
    +e.tablet-menu-line
      +e.tablet-menu-header
        +e.tablet-menu-title Навигация по сайту:
      +e.tablet-menu-content
        +e('select').tablet-menu-nav.input-select
          +e('option') Учебник
          +e('option') Курсы
          +e('option') Стандарт ES5
          +e('option') Тестирование
      +e.tablet-menu-aside
        +e('a').secondary-link(href="#full-content") Полное содержание
    +e.tablet-menu-line
      +e.tablet-menu-header
        +e.tablet-menu-title Поделиться
      +e.tablet-menu-content
        +b('a').share._tw.sitetoolbar__tablet-menu-share(href="https://twitter.com/share?url=http://design.javascript.ru/intro")
        +b('a').share._fb.sitetoolbar__tablet-menu-share(href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://design.javascript.ru/intro")
        +b('a').share._gp.sitetoolbar__tablet-menu-share(href="https://plus.google.com/share?url=http://design.javascript.ru/intro")
        +b('a').share._vk.sitetoolbar__tablet-menu-share(href="http://vkontakte.ru/share.php?url=http://design.javascript.ru/intro")
  +e.search
    +e('form').search-content(method="GET", action="/search")
      +e.search-query-wrap
        +b.text-input.__search-query
          +e('input').control(type="text")
      +e.search-submit-wrap
        +b('button').submit-button.__search-submit
          | Найти
  +e.usermenu
    +e('ul').usermenu-items
      +e('li').usermenu-item
        +e('a').secondary-link.__usermenu-link(href="#profile") Профиль
      +e('li').usermenu-item
        +e('a').secondary-link.__usermenu-link(href="#settings") Настройки аккаунта
      +e('li').usermenu-item
        +e('a').secondary-link.__usermenu-link(href="#orders") Заказы
      +e('li').usermenu-item
        +e('a').secondary-link.__usermenu-link(href="#logout") Выйти
