+b.teacher-info
  +e('table').table
    +e('tr').line
      +e('th').head Кто такой
      +e('td').info Пойма поступает в оливин. Фосфоритообразование, используя геологические данные нового типа, длительно сбрасывает фирн. Батолит причленяет к себе четвертичный калиево-натриевый полевой шпат.

    +e('tr').line
      +e('th').head Ведет курсы
      +e('td').info Контент

    +e('tr').line
      +e('th').head Ссылки
      +e('td').info Контент
