@font-face
	font-family 'FontIcons'
	src url('/fonts/icons/icons.woff') format('woff')
	font-weight normal
	font-style normal

// изначально на элементе body установлен класс .no-icons
// при этом все элементы, содержащие иконки из иконочного шрифта,
// скрыты. После окончательной загрузки шрифта класс снимается.
// Необходимо, чтобы избежать показа нечитаемых
// символов из незагруженного шрифта

$font-icon
	&
		font-family 'FontIcons'
	.no-icons &
		visibility hidden

$font-close
	@extend $font-icon
	content '\25b4'

$font-close-cross
	@extend $font-icon
	content '\e80d'

$font-open
	@extend $font-icon
	content '\25be'

$font-star
	@extend $font-icon
	content '\2605'

$font-star-empty
	@extend $font-icon
	content '\2606'

$font-warning
	@extend $font-icon
	content '\26a0'

$font-mail
	@extend $font-icon
	content '\e810'

$font-edit
	@extend $font-icon
	content '\270d'

$font-ok
	@extend $font-icon
	content '\2714'

$font-qa
	@extend $font-icon
	content '\2753'

$font-pros
	@extend $font-icon
	content '\e059'

$font-cons
	@extend $font-icon
	content '\e075'

$font-help
	@extend $font-icon
	content '\e704'

$font-info
	@extend $font-icon
	content '\e705'

$font-code
	@extend $font-icon
	content '\e714'

$font-external
	@extend $font-icon
	content '\e715'

$font-download
	@extend $font-icon
	content '\e805'

$font-print
	@extend $font-icon
	content '\e716'

$font-chat
	@extend $font-icon
	content '\e720'

$font-angle-left
	@extend $font-icon
	content '\e80e'

$font-angle-right
	@extend $font-icon
	content '\e807'

$font-run
	@extend $font-icon
	content '\f00f'

$font-copy
	@extend $font-icon
	content '\f0c5'

$font-comment
	@extend $font-icon
	content '\f4ac'

$font-search
	@extend $font-icon
	content '\f50d'

$font-study
	@extend $font-icon
	content '\1f393'

$font-user
	@extend $font-icon
	content '\1f464'

$font-job
	@extend $font-icon
	content '\1f4bc'

$font-blogs
	@extend $font-icon
	content '\1f4c4'

$font-events
	@extend $font-icon
	content '\1f4c5'

$font-reference
	@extend $font-icon
	content '\1f4d5'

$font-time
	@extend $font-icon
	content '\1f554'

$font-video
	@extend $font-icon
	content '\e800'

$font-mobile
	@extend $font-icon
	content '\e801'

$font-printable
	@extend $font-icon
	content '\e802'

$font-pencil
	@extend $font-icon
	content '\e803'

$font-trash
	@extend $font-icon
	content '\e804'

$font-menu
	@extend $font-icon
	content '\21'

$font-link
	@extend $font-icon
	content '\e80c'

$font-twitter
	@extend $font-icon
	content '\e808'

$font-facebook
	@extend $font-icon
	content '\e809'

$font-google
	@extend $font-icon
	content '\e80a'

$font-vkontakte
	@extend $font-icon
	content '\e80b'

$font-github
	@extend $font-icon
	content '\e80f'

$font-yandex
	@extend $font-icon
	content '\e806'
