include /bem

+b.profile

  +b.courses-table
    +e('table').table

      for group in groups

        +e('tr').line
          +e('th').main
            +e('h3').title= group.title
            +e('ul').info-links
              for link in course.info_links
                +e('li').info-links-item
                  +e('a').info-link(href=link.url)= link.title
          +e('td').info
            +e('strong').start !{ course.start }
            +e.schedule !{ course.schedule }
          +e('td').verify
            if course.status === 'verified'
              +e('span').status._verified Участие подтверждено
            else if course.status === 'need-verify'
              +b('button').button._action
                +e('span').text Подтвердить участие
            else if course.status === 'started'
              +e('span').status._started Занятия начались
            else if course.status === 'ended'
              +e('span').status._ended Курсы завершены
              br
              +e('a').feedback(href="/123") Оставить отзыв
