include /bem

+b.profile

  +b.courses-table
    +e('table').table

      +e('tr').line(ng-repeat="group in courseGroups")
        +e('th').main
          +e('h3').title {{group.title}}
          +e('ul').info-links
            +e('li').info-links-item(ng-repeat="link in group.links")
              +e('a').info-link(ng-href="{{link.url}}") {{link.title}}
        +e('td').info
          +e('strong').start Начало {{group.dateStart | shortDate}}
          +e.schedule Занятия {{ group.timeDesc }}
        +e('td').verify
          +e('span').status._verified(ng-if="group.status == 'accepted'") Участие подтверждено
          +b('a').button._action(ng-href="{{group.inviteUrl}}" ng-if="group.status == 'invite'")
            +e('span').text Подтвердить участие
          +e('span').status._started(ng-if="group.status == 'started'") Занятия начались
          +e('span')(ng-if="group.status == 'ended'")
            +e('span').status._ended Курсы завершены
            br
            +e('a').feedback(href="/123") Оставить отзыв !TODO!
