include /bem

+b.profile

  +b.courses-table
    +e('table').table

      for group in groups
        +e('tr').line

          +e('th').main
            +e('h3').title!= group.title

          +e('td').info
            +e('a').info-link(href="/123") Описание курса

          +e('td').verify
            if course.isVerified
              +e('span').verified Участие подтверждено
            else
              +b('button').button._action
                +e('span').text Подтвердить участие


