include /bem


+b.invoice-table

  +e('p').empty-message(ng-if="!orders.length") Нет активных заказов.

  +e('table').table

    +e('tr').data(ng-repeat-start="order in orders" ng-class="{'invoice-table__data_show_settings': order.isEditing}")
      +e('th').main
        +e('span').number Заказ&nbsp;№&nbsp;{{ order.number }}
        +e('time').time(datetime="{{order.created}}") {{order.created | longDate}}
        +e('h3').title {{ order.title }}

        +e.slots
          +e('strong').slots-total {{ order.count }} {{ order.count | pluralize:"место":"места":"мест" }}

          +e('strong').slots-free(ng-if="order.countDetails.free")
            | {{ order.countDetails.free }} свободно

          +e('strong').slots-busy(ng-if="order.countDetails.busy")
            | {{ order.countDetails.busy }} занято

          +e('span').slots-confirmed(ng-if="order.countDetails.accepted")
            | &nbsp;({{ order.countDetails.accepted }} подтверждено)

          div
            a(href='#' ng-click="order.isEditing = !order.isEditing") редактировать заказ

      +e('td').info
        +e('a').info-link(ng-href='{{order.courseUrl}}') Описание курса

      +e('td').price
        +b.price {{ order.amount }} RUB
        +e(ng-class="['invoice-table__payment-status', 'invoice-table__payment-status_' + order.orderInfo.status]")
          | {{ order.orderInfo.statusText }}
        +e.payment-type(ng-if="order.paymentMethod") ({{ order.paymentMethod }})

    +e('tr').settings(ng-repeat-end)
      +e('td').settings-cell(colspan=3)
        +e.settings-dropdown
          +e('button').settings-dropdown-close.close-button(ng-click="order.isEditing = false")

          div(ng-if="order.orderInfo.status == 'pending'")
            +b.notification._message._info
              +e.content
                | В данный момент мы ожидаем от вас оплату. После того, как мы получим подтверждение оплаты,
                | указанным участникам курсов придёт письмо со всей необходимой информацией.

          div(ng-if="order.orderInfo.status == 'success'")
            div(ng-if="order.count > order.countDetails.accepted")
              +b.notification._message._success
                +e.content
                  | Все участники получают письмо-приглашение. Участника можно изменить до тех пор, пока он не принял его.

          +e.settings-dropdown-cell._left
            +e('order-participants')(order="order")

          +e.settings-dropdown-cell._right
            +e('order-contact')(order="order")

          +e.settings-line._foot(ng-if="order.orderInfo.status != 'success'")
            +e('h4').settings-title Оплата
            +e('p').note(ng-bind-html="order.orderInfo.descriptionProfile | trust_html")
            +b('button').button._common(type="button" ng-click="changePayment(order)")
              +e('span').text Изменить метод оплаты

            +b('button').button._common(type="button" ng-click="cancelOrder(order)")
              +e('span').text Отменить заказ



