include /bem


+b.invoice-table
  +e('table').table

    +e('tr')(ng-repeat="order in orders", class='data')
      +e('th').main
        +e('span').number Заказ&nbsp;№&nbsp;{{ order.number }}
        +e('time').time(datetime="{{order.created}}") {{order.created | longDate}}
        +e('h3').title {{ order.title }}

        +e.slots
          +e('strong').slots-total {{ order.count }} {{ order.count | pluralize:"место":"места":"мест" }}

          +e('strong').slots-free(ng-if="order.countDetails.free")
            | {{ order.countDetails.free }} свободно

          +e('strong').slots-busy(ng-if="order.countDetails.busy")
            | {{ order.countDetails.busy }} занято

          +e('span').slots-confirmed(ng-if="order.countDetails.accepted")
            | &nbsp; ({{ order.countDetails.accepted }} подтверждено)

          +e('span').slots-confirmed._note(ng-if="order.status != 'success'")
            | &nbsp;(подтверждение участников происходит после оплаты)

      +e('td').info
        +e('a').info-link(href='/123') Описание курсов

      +e('td').price
        +b.price {{ order.amount }} RUB
        +e(ng-class="['invoice-table__payment-status', 'invoce-table__' + order.orderInfo.status]")
          | {{ order.orderInfo.statusText }}
        +e.payment-type ({{ order.paymentMethod }})




