include /bem

+b.profile-providers
  +e.content
    +e.title Привязать:
    +e.socials
      +b('button').social-login._facebook.__social-login(ng-click="connect('facebook')" ng-if="!connected('facebook')") Facebook
      +b('button').social-login._google.__social-login(ng-click="connect('google')" ng-if="!connected('google')") Google+
      +b('button').social-login._vkontakte.__social-login(ng-click="connect('vkontakte')" ng-if="!connected('vkontakte')") Вконтакте
      +b('button').social-login._github.__social-login(ng-click="connect('github')" ng-if="!connected('github')") Github
      +b('button').social-login._yandex.__social-login(ng-click="connect('yandex')" ng-if="!connected('yandex')") Яндекс