include /bem

+b.profile

  +e('profile-photo')(photo="me.photo")

  +e.content
    +e.tabs
      +e.tab(ng-repeat="state in states" ui-sref-active="profile__tab_current")
        +e.tab-content
          +e('a').tab-link(ui-sref="{{state.name}}") {{state.title}}

    ui-view Loading...
