include /bem

+b.profile

  +e('profile-photo')(photo="me.photo" teaches-courses="me.teachesCourses")

  +e.content
    +e.tabs
      +e.tab(ng-repeat="tab in tabs" ui-sref-active="profile__tab_current")
        +e.tab-content
          +e('a').tab-link(ui-sref="{{tab.name}}") {{tab.title}}

    ui-view Loading...
