extends /layouts/email

block body
    h1= subject
    p Вы выразили желание получать уведомления на тему "#{subject}" на этот email?

    p Если да &mdash; подтвердите это, перейдя по ссылке
      = ' '
      a(href=link)= link
      | .

    p Если вы не понимаете о чём речь, просто игнорируйте это письмо.

