extends /layouts/email

block body
    h1= subject
    p Вы запрашивали подписку на уведомления или изменяли настройки существующих подписок на сайте JavaScript.ru?

    p Если да &mdash; подтвердите это, перейдя по ссылке
      = ' '
      a(href=link)= link
      | .


