include /bem

+b.profile

  +e.title
    +e.title-content
      +e('h2').inline-title Управление аккаунтом

  +e('profile-field')(field-name="displayName" field-title="Имя" field-value="me.displayName")
    +b.text-input._small.profile-field__control
      +e('input').control(focus-on="editing" required ng-model="editingValue" type="text")

  +e('profile-field')(field-name="country" field-title="Страна" field-value="me.country")
    +b.text-input._small.profile-field__control
      +e('input').control(focus-on="editing" required ng-model="editingValue" type="text")

  +e('profile-field')(field-name="town" field-title="Город" field-value="me.town")
    +b.text-input._small.profile-field__control
      +e('input').control(focus-on="editing" required ng-model="editingValue" type="text")

  +e('profile-field')(field-name="interests" field-title="Интересы" field-value="me.interests")
    +b.text-input._small.profile-field__control
      +e('input').control(focus-on="editing" required ng-model="editingValue" type="text")
