.teacher-picture
    position relative

    display inline-block

    width 145px
    height 145px

    text-align center

    &__img
        position absolute
        overflow hidden

        width 145px
        height 145px

        border-radius 50%

    & .ribbon
        margin-top 140px


