.about-text
    font-size 16px
    line-height initial

    counter-reset items

    &__body_center
        text-align center

    &__title
        text-align center

        margin-bottom 40px

    &__list
        list-style none

    &__item
        margin-top 15px
        padding-left 1.6em

    &__item:before
        position absolute

        margin-left -1.6em

        color #999
        text-align right

        counter-increment items
        content counter(items) "."

    &__human
        min-height 66px
        margin-top 20px

        padding-left 78px

    &__human-userpic
        position absolute
        overflow hidden

        width 65px
        height 65px
        margin -10px 0 0 -78px

        border-radius 50%
        box-shadow: 0 0 1px rgba(0,0,0,0.3)

    &__human-userpic-i
        width 65px
        filter grayscale(100%) brightness(1.5)

    &__human-role
        margin 10px 0 0 0

        color #999