.sitemap-filter
	margin 18px 0 26px

	&__header
		display table
		width 100%
		color #7E7E7E

	&__title,
	&__option
		display table-cell
		white-space nowrap

	&__title
		width 100%

	//- избавляемся от некликабельной области между флажком и подписью
	&__option-control
		margin-right 0

	&__option-label
		padding-left 11px

	&__input
		width 100%
		margin-top 12px