//- //- TODO: Почему бы не использовать абсолютные пути?
//- script(src='http://code.jquery.com/jquery-1.10.1.min.js')
//- script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
//- script(src='../app/assets/javascripts/fancybox.pack.js')
//- script(src='../app/assets/javascripts/base.js')
//- script(src='../app/assets/javascripts/prism-core.js')
//- script(src='../app/assets/javascripts/prism-markup.js')
//- script(src='../app/assets/javascripts/prism-css.js')
//- script(src='../app/assets/javascripts/prism-clike.js')
//- script(src='../app/assets/javascripts/prism-javascript.js')
//- script(src='../app/assets/javascripts/prism-my.js')