extends /layouts/main

block append variables
  - var layout_header_class = "main__header_center"
  - var layout_main_class = "main_width-limit-wide"
  - var sitetoolbar = true

block append head
  base(href=user.getProfileUrl() + '/')
  link(href=pack('quiz', 'css') rel='stylesheet')

block content

  script(src=pack("angular", "js"))
  script(src=pack("profile", "js"))

  +b(ng-app="profile")

    +e('ui-view').view(progress="loadingTracker.active()" progress-overlay progress-spinner="{class:'profile__spinner'}") Загрузка...

