extends /layouts/main

block append variables
  - var layout_header_class = "main__header_center"
  - var layout_main_class = "main_width-limit-wide"
  - var sitetoolbar = true

block append head
  base(href="/profile/")

block content

  script(src=script("angular"))
  script(src=script("profile"))

  +b(ng-app="profile")

    +e('ui-view').view(progress="loadingTracker.active()" progress-overlay progress-spinner="{class:'profile__spinner'}") Загрузка...

