extends /layouts/main

block append variables
  - var layout_header_class = "main__header_center"
  - var title = "Песочница"
  - var sitetoolbar = true
  - var layout_main_class = "main_width-limit"

block content

  +b.notification._message._warning
    +e.content

      p Извините, этот сервис на сайте больше не предоставляется.

      p Вы можете скачать содержимое этой песочницы в виде архива
        = ' '
        a(href=play.url)= play.title
        | .
