ol.breadcrumbs
  li.breadcrumbs__item
    a(href='/') Главная
  li.breadcrumbs__item
    a(href='/tutorial') Учебник
  li.breadcrumbs__item
    a(href='/getting-started') Общая информация
  li.breadcrumbs__item
    | Введение в JavaScript
