script
  :uglify
    (function() {
      window.GoogleAnalyticsObject = 'ga';
      window.ga = function() {
        window.ga.q.push(arguments);
      }
      window.ga.q = [];
      window.ga.l = Date.now();

      ga('create', 'UA-2056213-18', 'auto');
      ga('send', 'pageview');

      if (window.currentUser) {
        // User-Id в GA
        ga('set', '&uid', currentUser.id);
      }

      window.addEventListener('error', function(e) {
        ga('send', 'exception', {
          exDescription: e.message,
          exFatal: true,
          src: (e.filename || e.errorUrl) + ': ' + (e.lineno || e.errorLine)
          stack: e.stack || (e.error && e.error.stack)
        });
      }
    })();

script(src="//www.google-analytics.com/analytics.js" async)