doctype html
html
  meta(charset='UTF-8')
  title= title
  link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Open+Sans+Condensed:700&subset=latin,latin-ext,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css')
  link(href='/styles/base.css',rel='stylesheet')

  script(src="/js/head.js")

  script.
    //insertNonBlockingScript('/js/navigation.js')

  //- link(href='../app/assets/styles/base.css' rel='stylesheet')
  //if lte IE 9
    //- link(href='../app/assets/styles/base.ie.css' rel='stylesheet')
