script
  :uglify
    (function() {
      window.yandex_metrika_callbacks = [function() {
        try {
          window.yaCounter27297488 = new Ya.Metrika({id: 27297488, webvisor: true, ut: "noindex"});
        } catch (e) {
        }
      }];
    })();

script(src="//mc.yandex.ru/metrika/watch.js" async)