script
  :uglify
    (function() {
      window.yandex_metrika_callbacks = [function() {
        try {
          window.metrika = new Ya.Metrika({
            id: 27297488,
            webvisor: true,
            clickmap: true,
            params: {
              user: window.currentUser && window.currentUser.id
            },
            ut: "noindex" // TODO:remove when goes prod
          });
          metrika.trackLinks({delay: 150});
        } catch (e) {
        }
      }];
    })();

script(src="//mc.yandex.ru/metrika/watch.js" async)