+b.page-footer
  +e.left
    +e("ul").list
      +e("li").item ©&nbsp;2007—!{new Date().getFullYear()}
        a(rel="author", href="https://plus.google.com/+IlyaKantor", itemprop="author") Илья Кантор
      +e("li").item
        +e("a")(href="/about#contact-us").link связаться с нами
      +e("li").item
        +e("a")(href="/about").link о проекте
      +e("li").item
        +e("a")(href="/agreement").link соглашение

  +e.right
    +e("ul").list
      +e("li").item powered by
        = ' '
        +e("a")(rel="nofollow" href="http://iojs.org").link io.js
        | &nbsp;&amp;&nbsp;
        +e("a")(rel="nofollow" href="http://github.com/iliakan/javascript-nodejs").link open source

