+b.page-footer
  +e.left
    +e("ul").list
      +e("li").item ©&nbsp;2007—!{new Date().getFullYear()} Илья Кантор
      +e("li").item
        +e("a")(href="javascript:alert('todo')").link обратная связь
      +e("li").item
        +e("a")(href="javascript:alert('todo')").link о проекте

  +e.right
    +e("ul").list
      +e("li").item powered by
        = ' '
        +e("a")(href="http://iojs.org").link io.js