+b.page-footer
  +e.left
    +e("ul").list
      +e("li").item ©&nbsp;2007—!{new Date().getFullYear()}&nbsp; #{t('Ilya Kantor')}
      +e("li").item
        +e("a")(href="/about#contact-us").link= t('contact us')
      +e("li").item
        +e("a")(href="/about").link= t('about the project')

      if lang == 'ru'
        +e("li").item
          +e("a")(href="/agreement").link соглашение

      if lang == 'en'
        +e("li").item
          +e("a")(href="https://learn.javascript.ru").link RU
          = ' '
          | / EN


  +e.right
    +e("ul").list
      +e("li").item powered by
        = ' '
        +e("a")(rel="nofollow" href="http://iojs.org").link io.js
        | &nbsp;&amp;&nbsp;
        +e("a")(rel="nofollow" href="http://github.com/iliakan/javascript-nodejs").link open source

