+e.search-wrap
  +e.search-content

    +e('form').search(method="GET", action="/search")
      +e('button').search-toggle(type="button")
      +e('span').search-icon
      +e.search-input
        +b.text-input
          +e('input').control(name="query" placeholder="Search the site" )
        +e('button').find(type="submit")= t('Search')
