+b.sitetoolbar
  +e.content
    +e.logo-wrap
      +e('a').link._logo(href="/")
        +e('img').logo(src="/i/sitetoolbar__logo.svg")
        script.
          (function() {
            /* chrome renders embed.svg with a delay,
             this loads embed later to prevent flickering */
            var logo = document.querySelector('img.sitetoolbar__logo')
            var embed = document.createElement('object');
            embed.type='image/svg+xml';

            embed.className = logo.className;
            embed.style.cssText = 'left:0;top:0;position:absolute';

            embed.onload = function() {
              embed.onload = null;
              logo.style.visibility = 'hidden';
            };
            embed.data = logo.src;
            logo.parentNode.insertBefore(embed, logo);
          })();
    +e.nav-toggle-wrap
      //- todo: implement me
      //- эта кнопка видна только на узком экране
      //- при начале скролла тут же исчезает, для этого body += .sitetoolbar_hidden
      +e('button').nav-toggle(onclick="document.querySelector('.sitetoolbar').classList.toggle('sitetoolbar_menu_open')")
    +e('nav').sections
      +e('ul').sections-list
        +e('li').section._current
          //- элемент с модификатором _current может содержать как ссылку,
          //- так и простой текст, выглядеть будет одинаково
          | Учебник
        //-
          =' '
          +e('li').section
            +e('a').link(href="/courses") Курсы
          =' '
          +e('li').section
            +e('a').link(href="/spec") Стандарт ES5
          =' '
          +e('li').section
            +e('a').link(href="/tests") Тестирование
    if user
      include ./user
    else
      include ./guest
    +e.search-wrap
      +e('button').search-toggle(onclick="document.querySelector('.sitetoolbar').classList.toggle('sitetoolbar_search_open')")
  +e.tablet-menu
    +e.tablet-menu-line
      +e.tablet-menu-header
        +e.tablet-menu-title Навигация по сайту:
      +e.tablet-menu-content
        //- TODO: use bemto syntax when https://github.com/kizu/bemto/issues/35 is fixed
        +e('select').tablet-menu-nav.input-select
          +e('option') Учебник
          +e('option') --- в работе ---
          //-+e('option') Курсы
          //-+e('option') Стандарт ES5
          //-+e('option') Тестирование
      +e.tablet-menu-aside
        +e('a').secondary-link(href="/tutorial/map") Полное содержание
    +e.tablet-menu-line
      +e.tablet-menu-header
        +e.tablet-menu-title Поделиться
      +e.tablet-menu-content
        +b('a').share._tw.sitetoolbar__tablet-menu-share(href="https://twitter.com/share?url="+escape(url))
        +b('a').share._fb.sitetoolbar__tablet-menu-share(href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]="+escape(url))
        +b('a').share._gp.sitetoolbar__tablet-menu-share(href="https://plus.google.com/share?url="+escape(url))
        +b('a').share._vk.sitetoolbar__tablet-menu-share(href="http://vkontakte.ru/share.php?url="+escape(url))
  +e.search
    +e('form').search-content(method="GET", action="/search")
      +e.search-query-wrap
        +b.text-input.__search-query
          +e('input').control(type="text")
      +e.search-submit-wrap
        +b('button').submit-button.__search-submit
          | Найти
  if user
    +e.usermenu
      +e('ul').usermenu-items
        +e('li').usermenu-item
          +e('a').secondary-link.__usermenu-link(href="/profile") Профиль
        +e('li').usermenu-item
          +e('a').secondary-link.__usermenu-link(href="#settings") Настройки аккаунта
        +e('li').usermenu-item
          +e('a').secondary-link.__usermenu-link(href="#" data-action-user-logout) Выйти
