+b('a').share._tw(href="https://twitter.com/share?url="+escape(url))
+b('a').share._fb(href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]="+escape(url))
+b('a').share._gp(href="https://plus.google.com/share?url="+escape(url))
+b('a').share._vk(href="http://vkontakte.ru/share.php?url="+escape(url))
