+b.subscribe
  +e('h3').title Управление подписками

  +e('form').form
    +e.line
      +e('label').name
        +e('input').input(type="checkbox")
        | Курс JavaScript/DOM/интерфейсы (раз в 1.5-2 месяца)

    +e.line
      +e('label').name
        +e('input').input(type="checkbox")
        | Курс и скринкасты по Node.JS / IO.JS (несколько раз в год)

    +e.line
      +e('label').name
        +e('input').input(type="checkbox")
        | Продвинутые курсы, мастер-классы, конференции, новые выпуски статей по JavaScript (редко)

