-var url = "/task/vyzov-na-meste"
-var title = "Вызов «на месте»"
-var importance = 4
-var content = "<p>Content</p><p>Content</p>"
-var solution = [{title:"",content:"<p>Текст</p>"}]

section.important.important_ok
  header.important__header
    span.important__type Задание:
    .important__title
      a.important__task-link(href=url)
        u!=title
    span.important__importance(title="Насколько эта задача важна для освоения материала, от 1 до 5")
      | Важность:
      = ' ' + importance

  .important__content
    != content
    each part in solution
      .spoiler.closed
        button.spoiler__button
          u!= part.title || "Решение"
      .spoiler__content
          u!= part.content

