.full-phone
	display table
	width 100%

	&__code-wrap,
	&__tel-wrap
		display table-cell
		vertical-align middle

	&__tel-wrap
		width 100%

	&__code-wrap
		padding-right 5px

	// native select styling
	&__codes
		width 105px
		border 1px solid #e7e7e7
		height 30px
		font-size 14px
		line-height 20px
		padding 5px 0

	&__tel
		width 100%

	// select2 styling
	// &__codes.select2-container
	// 	padding 0
	// 	border 0

	// 	// fixing some infrequent issues with border overlap
	// 	height 31px
	// 	margin 0 0 1px

	// &__codes.select2-container .select2-choice
	// 	height 30px
	// 	line-height 30px
	// 	border 1px solid #e7e7e7
	// 	padding-left 5px

	// &__codes.select2-container .select2-choice > .select2-chosen
	// 	margin-right 23px

	// &__codes.select2-container .select2-choice .select2-arrow
	// 	border-left-color #e7e7e7

	// &__codes.select2-container .select2-choice .select2-arrow b
	// 	background-position 0 3px

	// &__codes.select2-container.select2-dropdown-open .select2-choice .select2-arrow b
	// 	background-position -18px 3px

	// &__codes.select2-container-active .select2-choice,
	// &__codes.select2-container-active .select2-choices
	// 	border 1px solid #5897fb

	// // _nofilter modifier introduced in this block
	// .select2-drop_nofilter .select2-search
	// 	display none

