login_form_bottom_padding = 10px

$login-form-additional-info
	font-size 14px
	padding 15px 30px
	border-radius 4px
	border-width 1px
	border-style solid

.login-form
	width 380px
	background background
	padding-top 20px
	padding-bottom login_form_bottom_padding

	&__line
		padding 0 30px
		margin-bottom 17px
		font-size 14px

	&__note
		color #656565

	&__error
		@extend $login-form-additional-info
		background #F2DEDE
		border-color #E7C9C9

	&__warning
		@extend $login-form-additional-info
		background #FCF8E1
		border-color #ECE6C4

	&__info
		@extend $login-form-additional-info
		background #D9EDF8
		border-color #C8E0ED

	&__success
		@extend $login-form-additional-info
		background #DFF0D6
		border-color #D1E7C6

	&__header,
	&__footer
		display table

	&__title,
	&__aside,
	&__button,
	&__footer-link
		display table-cell

	&__aside,
	&__footer-link
		white-space nowrap

	&__title,
	&__button
		width 100%
		padding-right 10px

	&__title
		font 700 26px secondary_font

	&__label
		color color

	// text-input error handling?
	// &__control-wrap .field_with_errors input
	// 	border-color #e62e29
	// 	color #e62e29

	&__input
		width 100%
		margin-top 8px

	&__input_invalid
		border-color #e62e29
		color #e62e29

	//	.modal-form__control-error {
	//		color: #eb2f2a;
	//		font-size: 12px;
	//		padding: 4px 3px 0;
	//	}
	//
	//	.modal-form__input_invalid + .modal-form__control-error {
	//		display: block;
	//	}

	&__submit
		min-width 140px
        outline none

	&__social-login
		text-align justify
		background #eee
		line-height 0
		margin-top 30px
		margin-bottom -1 * login_form_bottom_padding
		border-top 1px solid #ccc
		padding-top 11px
		padding-bottom 12px

	&__social-login::after
		content ''
		display inline-block
		width 100px
		height 0

	&__social-login-title
		font 700 18px/normal secondary_font
		margin-bottom 20px

	&__social-login .social-login
		margin-bottom 12px

.login-form p {
  margin 10px 0
}

