extends /layouts/main

block append variables
  - var layout_header_class = "main__header_center"

block append ga
  script.
    ga('require', 'ec')
    ga('set', '&cu', 'RUB');

    ga('ec:addProduct', {
      id: 'invoice'
    });
    ga('ec:setAction', 'click');

block content

  script var status = "#{status}";

  +b("form").complex-form(data-order-form)
    +e.step._current
      +e.step-content
        +b.extract._small.__extract

        if (!user)
          +e('h2').alternate-title Укажите свой email
          +b.text-input.__email
            +e('input').control(placeholder="my@email.com", name="email", required, type="email")
          +e.email-note После оплаты вся необходимая информация придёт на этот адрес.

          +e('h2').alternate-title Укажите номер заказа
          +b.text-input.__email
            +e('input').control(placeholder="1234", name="invoiceNumber", required, type="number")

          +e('h2').alternate-title Укажите сумму оплаты
          +b.text-input.__email
            +e('input').control(placeholder="21000", name="amount", required, type="number")


        +e('h2').alternate-title Выберите метод оплаты
        +b.pay-method.__pay-method
          +e.methods
            each paymentMethod in paymentMethods
              +e.method(data-add-class-on-hover)
                // classes get prefix automatically from dynamic mixins
                +e('button')(class=["send", "_"+paymentMethod.name] name="paymentMethod" type="button" value=paymentMethod.name)

    +b('ul').grayed-list.__next
      +e('li').item.__next-item Подтверждение

  script(src=pack("invoice", "js"))
  script invoice.init();
