body .grayed-list
	padding 0

.grayed-list .grayed-list__item
	margin 0
	padding 22px 25px 28px
	border-top 2px solid #e7e5e3
	color #e7e5e3
	font 27px/1.2 secondary_font
	background #f5f2f0

.grayed-list .grayed-list__item:before
	display none

.grayed-list .grayed-list__item:first-child
	border-top 0
