navbar_gray = #8B8987
.navbar
	box-shadow 0 2px 4px -2px rgba(0, 0, 0, .5)
	position relative
	height 60px
	display table
	width 100%
	font-size 16px
	line-height 20px

	&__logo-wrap,
	&__sections,
	&__user-wrap,
	&__search-wrap
		display table-cell
		vertical-align top
		text-align left

	&__logo-wrap
		width 182px

	&__user-wrap
		width .1%
		white-space nowrap
		padding-right 17px

	&__search-wrap
		width .1%
		padding-right 49px

	&__logo,
	&__link_logo
		margin 9px 0 0 30px
		display block

	&__link_logo &__logo
		margin 0

	&__sections
		padding 20px 0
	
	&__section
		display inline-block
		margin-right 20px

	&__section_current,
	&__section_current &__link
		color secondary_color

	&__link
		color navbar_gray

	&__link:hover
		text-decoration none

	&__user
		@extend $button-reset
		font 16px font
		color navbar_gray
		margin 20px 0
		vertical-align bottom
		line-height inherit

	&__user::before
		content ""
		display inline-block
		background url('/i/navbar__user.png') 0 0 no-repeat
		size-of 'navbar__user.png'
		margin -1px 0 0
		vertical-align middle
		padding 0 10px 0 0
		right 100%

	&__user::after
		@extend $font-open
		padding-left 7px
		color #C4C2C0
		font-size 14px

	&__search
		@extend $button-reset
		margin 18px 0 19px
