extends /layouts/main

block append variables
  - var layout_main_class = "main_width-limit-wide"
  - var layout_header_class = "main__header_center"
  - var sitetoolbar = true
  - var breadcrumbs = [ { title: 'Учебник', url: '/' }, { title: 'Курсы', url: '/courses' }]
  - var content_class = '_center'
  - var siteToolbarCurrentSection = "courses"
  - var comments = true

block append head
  !=js("coursesCourse", {defer: true})

block content

  p Этот курс посвящён профессиональной разработке веб-приложений с помощью Angular.JS.

  include ../blocks/angular/programAndSignup

  input(type="checkbox" id="phone-toggler").phone-toggler__input.phone-only
  +b('label').phone-toggler.phone-only(for="phone-toggler")
    | Более подробная информация о программе курса

  include ../blocks/angular/programDetails
  include ../blocks/angular/how
  include ../blocks/angular/result
  include ../blocks/angular/systemRequirements

  +b.fixed-tab.phone-only.courses-tab
    a.courses-tab__link(href="#signup") Записаться на курсы

