spriteWidth($sprite)
  width $sprite[4]

spriteWidthValue($sprite)
  $sprite[4]

spriteHeight($sprite)
  height $sprite[5]

spriteHeightValue($sprite)
  $sprite[5]

spritePosition($sprite)
  background-position $sprite[2] $sprite[3]

spriteImage($sprite)
  if length($sprite) == 3
    background-image url($sprite[2])
  else
    background-image url($sprite[8])

sprite($sprite)
  if !match('hover', selector()) && !match('active', selector())
    spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)


spriteElem($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)