.prev-next.prev-next_bottom
  .prev-next__prev
    .prev-next__shortcut-wrap
      | Предыдущий урок
      kbd.prev-next__shortcut
        | (Ctrl&nbsp;+&nbsp;
        span.prev-next__arr ←
        | )
    a.prev-next__link(href="#prev") Введение в JavaScript
  .prev-next__next
    .prev-next__shortcut-wrap
      | Следующий урок
      kbd.prev-next__shortcut
        | (Ctrl&nbsp;+&nbsp;
        span.prev-next__arr →
        | )
    a.prev-next__link(href="#next") Книги по JS, HTML/CSS и не только
