.number-input
    display inline-block
    white-space nowrap

    &__inc,
    &__dec
        @extend $button-reset
        color #fff
        background #999
        border-radius 3px
        text-align center
        width 35px
        padding 0 0 2px
        font 23px/25px font
        vertical-align middle

    &__text
        width 38px
        margin 0 5px
        vertical-align middle

    &__text &__control
        text-align center
        font-size 14px
