.course-register-payment
    &__body
        margin-top 30px

    & .pay-method
        width 561px
        margin 0 auto

    & .pay-method__methods
        margin-bottom 0

    &__next
        margin-top 15px

    &__next-or
        margin-bottom 15px
