.form-insert
	position relative
	background #f5f2f0
	border 2px solid #e9e7e5
	border-radius 5px
	margin 15px 0 0
	padding 12px 20px 22px

	// &::before
	// 	// @include size-of('course-register__tail.gif');
	// 	content: "";
	// 	background: image-url('course-register__tail.gif');
	// 	position: absolute;
	// 	bottom: 100%;
	// 	left: 50%;
	// 	margin-left: image-width('course-register__tail.gif')/-2;
	// 	margin-bottom: -1px;

	// &_left::before
	// 	left 100px

	// &_right::before
	// 	left auto
	// 	right 100px

	&_notail::before
		display none

	&__close,
	&__close:active
		position absolute
		top -11px
		right -14px
