+b.code-tabs._scroll._result_on
  +e.tools
    +e.scroll-wrap
      +e('button').scroll-button._left(disabled="disabled")
    +e.switches-wrap
      +e.switches
        +e.switches-items
          +e.switch._current Результат
          +e.switch index.html
          +e.switch style.css
          +e.switch example.js
          +e.switch index.html
          +e.switch style.css
          +e.switch example.js
    +e.scroll-wrap
      +e('button').scroll-button._right
    +e.buttons
      +e('a').button._download(target="_blank", href="file.zip")
      +e('a').button._open(target="_blank", href="/play/file")
  +e.content(style="height: 250px;")
    +e.section._current
      +e('iframe').result(src="http://lipsum.com/")
    +e.section
      include code-tabs-code.html
    +e.section
      include code-tabs-code.html
    +e.section
      include code-tabs-code.html
    +e.section
      include code-tabs-code.html
    +e.section
      include code-tabs-code.html
    +e.section
      include code-tabs-code.html

+b.code-tabs._scroll
  +e.tools
    +e.scroll-wrap
      +e('button').scroll-button._left(disabled="disabled")
    +e.switches-wrap
      +e.switches
        +e.switches-items
          +e.switch Результат
          +e.switch._current index.html
          +e.switch style.css
          +e.switch example.js
          +e.switch index.html
          +e.switch style.css
          +e.switch example.js
    +e.scroll-wrap
      +e('button').scroll-button._right
    +e.buttons
      +e('a').button._download(target="_blank", href="file.zip")
      +e('a').button._open(target="_blank", href="/play/file")
  +e.content(style="height: 350px;")
    +e.section
      +e('iframe').result(src="http://lipsum.com/")
    +e.section
      include code-tabs-code.html
    +e.section
      include code-tabs-code.html
    +e.section._current
      include code-tabs-code.html
    +e.section
      include code-tabs-code.html
    +e.section
      include code-tabs-code.html
    +e.section
      include code-tabs-code.html
