+b.complex-code._scroll
  +e.tools
    +e.scroll-wrap
      +e('button').scroll-button._left(title="&larr;")
    +e.switches-wrap
      +e.switches
        +e.switches-items
          +e.switch._current Результат
          +e.switch index.html
          +e.switch style.css
          +e.switch example.js
          +e.switch index.html
          +e.switch style.css
          +e.switch example.js
    +e.scroll-wrap
      +e('button').scroll-button._right(title="&rarr;")
    +e.buttons
      +e('a').button._download(target="_blank", href="file.zip")
      +e('a').button._open(target="_blank", href="/play/file")
  +e.content
    +e.section._current
      //- при использовании +e('iframe').result(src="#") получаем тег img,
      //- видимо, принудительно, при использовании атрибута src.
      +e('iframe').result(style="height: 200px", src="http://lipsum.com/")
    +e.section
      pre
        | function sayHi(name) {
        |   var phrase = "Привет, " + name;
        |   alert(phrase);
        | }
        | function HelloWorld(world) {
        |   alert('Hello, ' + world);
        | }
        | HelloWorld('World');
        | sayHi('Вася');
    +e.section
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam quas ipsa illo officiis minima.
        | Quod voluptatibus est blanditiis omnis aliquam officia, harum nemo deleniti quos!
    +e.section
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam quas ipsa illo officiis minima
        | beatae, delectus ea?
    +e.section
      p
        | Veniam quas ipsa illo officiis minima. Quod voluptatibus est blanditiis omnis aliquam
        | officia, harum nemo deleniti quos, ab nesciunt beatae, delectus ea?
    +e.section
      p
        | Lorem
    +e.section
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam quas ipsa illo officiis minima.
        | Quod voluptatibus delectus ea?
