+b.complex-code._scroll
  +e.tools
    +e.scroll-wrap
      +e('button').scroll-button._left(title="&larr;")
    +e.switches-wrap
      +e.switches
        +e.switches-items
          +e.switch._current Результат
          +e.switch index.html
          +e.switch style.css
          +e.switch example.js
          +e.switch index.html
          +e.switch style.css
          +e.switch example.js
    +e.scroll-wrap
      +e('button').scroll-button._right(title="&rarr;")
    +e.buttons
      +e('a').button._download(target="_blank", href="file.zip")
      +e('a').button._open(target="_blank", href="/play/file")
  +e.content
    +e.content-inner
      +e.section
        +e('iframe').result(src="http://lipsum.com/")
      +e.section
        pre
          | function sayHi(name) {
          |   var phrase = "Привет, " + name;
          |   alert(phrase);
          | }
          | function HelloWorld(world) {
          |   alert('Hello, ' + world);
          | }
          | HelloWorld('World');
          | sayHi('Вася');
          | function sayHi(name) {
          |   var phrase = "Привет, " + name;
          |   alert(phrase);
          | }
          | function HelloWorld(world) {
          |   alert('Hello, ' + world);
          | }
          | HelloWorld('World');
          | sayHi('Вася');
          | function sayHi(name) {
          |   var phrase = "Привет, " + name;
          |   alert(phrase);
          | }
          | function HelloWorld(world) {
          |   alert('Hello, ' + world);
          | }
          | HelloWorld('World');
          | sayHi('Вася');
      +e.section
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam quas ipsa illo officiis minima.
          | Quod voluptatibus est blanditiis omnis aliquam officia, harum nemo deleniti quos!
      +e.section._current
        p
          | пример длинного контента для проверки скроллинга
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam quas ipsa illo officiis minima
          | beatae, delectus ea?
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt cumque a voluptate maiores illum,
          | aliquid debitis. Cupiditate consequatur laborum, facilis sed? Dolores adipisci rerum fugiat
          | laudantium, architecto eos? Quasi dignissimos aperiam laboriosam corporis illum numquam dicta
          | praesentium voluptate at hic dolorum quae similique modi, temporibus, laborum libero quos ratione!
          | Placeat error aliquam deserunt praesentium repudiandae enim ratione et molestias non iure nam
          | doloremque quis sunt beatae minima voluptate, ut est magni. Vel, quasi est repudiandae officiis.
          | Necessitatibus accusantium sit accusamus reiciendis sunt obcaecati hic beatae quod adipisci commodi
          | repudiandae officiis, illo tempora laborum minus consequatur ipsa dicta nostrum! Quos aliquid
          | asperiores alias expedita quo, corporis accusamus ut explicabo nisi sunt illum delectus omnis
          | earum officiis reprehenderit, minus, a, modi tempore. Officiis veniam, beatae doloremque,
          | voluptatibus dolorum quisquam. Dolore, sapiente nihil nostrum aspernatur earum enim reiciendis
          | ea ipsa ut, ipsam obcaecati magnam assumenda, quas harum ducimus sed quis, voluptatem similique
          | illum omnis eius. Consequuntur dolorem similique, ut voluptate tempore, error odit voluptatum
          | praesentium velit molestiae mollitia totam sit nam facilis, quam vitae tempora quia excepturi,
          | minus dolore. Tempora, dicta atque natus consequuntur, nisi sunt aspernatur pariatur! Doloribus,
          | nisi. Velit alias itaque tempore blanditiis veritatis doloribus cupiditate non voluptatem corrupti
          | doloremque, nihil eius dolore officiis nostrum assumenda repellat labore nulla in asperiores nemo
          | recusandae deserunt delectus aliquam! Ad, rem nihil possimus veniam sequi debitis dolor assumenda
          | quas perspiciatis officia natus in velit commodi dignissimos. Dolor cum at aut commodi nulla rerum,
          | eum consectetur. Illo dolores officia placeat ipsa itaque alias adipisci animi blanditiis, architecto
          | debitis, molestias dicta vero possimus similique. Sed in facere laboriosam, est consectetur aperiam.
          | Provident enim neque unde consectetur, rerum architecto necessitatibus distinctio minima dolore totam
          | labore tempora et sint, saepe, illum dicta adipisci nulla explicabo voluptatibus praesentium similique.
          | Nostrum laudantium voluptate velit reprehenderit, officia laborum facere libero corporis perferendis
          | quisquam magnam, itaque quam. Quas aliquid, nisi eos, ipsum illum pariatur iure id quibusdam ad,
          | magnam eum. Placeat culpa tempora dignissimos nobis repellendus harum hic soluta amet sapiente in
          | accusantium nesciunt pariatur, voluptates atque ex est ratione perspiciatis modi tempore repudiandae?
          | Incidunt, blanditiis nobis. Esse necessitatibus voluptatum inventore dolorem provident aperiam harum
          | similique illo ea veritatis ullam aut earum amet possimus eos dolor culpa, dolore deleniti, natus
          | dolorum! Temporibus veniam assumenda odio suscipit ut dolor nesciunt harum sint corporis impedit,
          | esse pariatur qui maiores error consectetur reprehenderit eos nisi. Quibusdam quae, maxime maiores
          | sit sapiente voluptate. Sint placeat aliquid facilis magni fugiat atque temporibus distinctio
          | voluptatibus. Blanditiis, accusamus nihil repellat recusandae ad cumque nobis ea sequi quo totam unde
          | ipsam odit iusto enim magni voluptatem maxime, odio perferendis reprehenderit, reiciendis libero sit.
          | Dolore enim tempora, vel facere modi, eaque quam nisi odio sit repellat omnis, ut accusantium,
          | voluptates debitis maxime error eveniet molestias. Nobis optio itaque illo voluptas quae adipisci
          | minima ratione iusto dolores veritatis, sit totam tempora omnis enim vero, aliquam aliquid voluptates
          | error ea vitae voluptatibus. Magni saepe quibusdam nulla sed provident, sapiente quasi totam voluptates
          | pariatur eius porro, quo distinctio, harum alias sit itaque temporibus a?
      +e.section
        p
          | Veniam quas ipsa illo officiis minima. Quod voluptatibus est blanditiis omnis aliquam
          | officia, harum nemo deleniti quos, ab nesciunt beatae, delectus ea?
      +e.section
        p
          | Lorem
      +e.section
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam quas ipsa illo officiis minima.
          | Quod voluptatibus delectus ea?
