meta(charset='UTF-8')
title= self.title
link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Open+Sans+Condensed:700&subset=latin,latin-ext,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css')
<!--[if !IE]><!-->
link(href='/stylesheets/base.css' rel='stylesheet')
<!--<![endif]--><!--[if lte IE 9]>
link(href='/stylesheets/base.ie.css' rel='stylesheet')
<![endif]-->

//- link(href='/stylesheets/base.css' rel='stylesheet')
//- if lte IE 9
  //- link(href='../app/assets/stylesheets/base.ie.css' rel='stylesheet')