+b.lessons-list
  +e('ol').lessons
    //- data-section-number should contain first part of item number, like _2_.1.
    //- Is used to generate numbered bullets automatically.
    +e('li').lesson(data-section-number="2")
      +e('a').link(href="#intro") Введение
    +e('li').lesson(data-section-number="2")
      +e('a').link(href="#graphical") Верстка графических компонент
    +e('li').lesson(data-section-number="2")
      +e('a').link(href="#paradigms") Процедурное и&nbsp;объектное программирование
    +e('li').lesson(data-section-number="2")
      +e('a').link(href="#interface") Внутренний и&nbsp;внешний интерфейс
    +e('li').lesson(data-section-number="2")
      +e('a').link(href="#agreements") Соглашения в&nbsp;коде виджета
    +e('li').lesson(data-section-number="2")
      +e('a').link(href="#moveevents") События движения: "mouseover/out/move/leave/enter"
    +e('li').lesson(data-section-number="2")
      +e('a').link(href="#userinteraction") Взаимодействие с&nbsp;пользователем: alert, prompt, confirm
    +e('li').lesson(data-section-number="2")
      +e('a').link(href="#multiinsert") Мультивставка: insertAdjacentHTML и&nbsp;DocumentFragment
    +e('li').lesson(data-section-number="2")
      +e('a').link(href="#templates") Шаблонизация в&nbsp;JavaScript
    +e('li').lesson(data-section-number="2")
      +e('a').link(href="#events") Свои события, подписка&nbsp;- уведомление
