//- не морочим голову и используем таблицу, потому что иначе мы все равно эмулируем ее
//- с помощью других тегов и css.
+b('table').lessons-list
  +e('tr').line
    +e('td').lesson
      +e.lesson-content
        +e('a').link(href="#")
          +e('span').number
            | урок
            =" "
            +e('span').number-val 1
          =" "
          | Введение
        +e('span').mark
    +e('td').lesson
      +e.lesson-content
        +e('a').link(href="#")
          +e('span').number
            | урок
            =" "
            +e('span').number-val 2
          =" "
          | Верстка графических компонент
        +e('span').mark
    +e('td').lesson
      +e.lesson-content
        +e('a').link(href="#")
          +e('span').number
            | урок
            =" "
            +e('span').number-val 3
          =" "
          | Процедурное и&nbsp;объектное программирование
        +e('span').mark
    +e('td').lesson
      +e.lesson-content
        +e('a').link(href="#")
          +e('span').number
            | урок
            =" "
            +e('span').number-val 4
          =" "
          | Внутренний и&nbsp;внешний интерфейс
        +e('span').mark
  +e('tr').line
    +e('td').lesson
      +e.lesson-content
        +e('a').link(href="#")
          +e('span').number
            | урок
            =" "
            +e('span').number-val 1
          =" "
          | Структура кода
        +e('span').mark
    +e('td').lesson
      +e.lesson-content
        +e('a').link(href="#")
          +e('span').number
            | урок
            =" "
            +e('span').number-val 1
          =" "
          | Структура кода
        +e('span').mark
    +e('td').lesson
      +e.lesson-content
        +e('a').link(href="#")
          +e('span').number
            | урок
            =" "
            +e('span').number-val 1
          =" "
          | Структура кода
        +e('span').mark
    +e('td').lesson
      +e.lesson-content
        +e('a').link(href="#")
          +e('span').number
            | урок
            =" "
            +e('span').number-val 1
          =" "
          | Структура кода
        +e('span').mark
  +e('tr').line
    +e('td').lesson
      +e.lesson-content
        +e('a').link(href="#")
          +e('span').number
            | урок
            =" "
            +e('span').number-val 1
          =" "
          | Структура кода
        +e('span').mark
    +e('td').lesson
      +e.lesson-content
        +e('a').link(href="#")
          +e('span').number
            | урок
            =" "
            +e('span').number-val 1
          =" "
          | Структура кода
        +e('span').mark
    +e('td').lesson
      +e.lesson-content
        +e('a').link(href="#")
          +e('span').number
            | урок
            =" "
            +e('span').number-val 1
          =" "
          | Структура кода
        +e('span').mark
    +e('td').lesson
      +e.lesson-content
        +e('a').link(href="#")
          +e('span').number
            | урок
            =" "
            +e('span').number-val 1
          =" "
          | Структура кода
        +e('span').mark
  +e('tr').line
    +e('td').lesson
      +e.lesson-content
        +e('a').link(href="#")
          +e('span').number
            | урок
            =" "
            +e('span').number-val 1
          =" "
          | Структура кода
        +e('span').mark
    +e('td').lesson
      +e.lesson-content
        +e('a').link(href="#")
          +e('span').number
            | урок
            =" "
            +e('span').number-val 1
          =" "
          | Структура кода
        +e('span').mark
    +e('td').lesson
      +e.lesson-content
        +e('a').link(href="#")
          +e('span').number
            | урок
            =" "
            +e('span').number-val 1
          =" "
          | Структура кода
        +e('span').mark
    +e('td').lesson
      +e.lesson-content
        +e('a').link(href="#")
          +e('span').number
            | урок
            =" "
            +e('span').number-val 1
          =" "
          | Структура кода
        +e('span').mark