//- __notification - потому что одновременно является элементом родителя, .sitetoolbar
+b.notification._top._info.__notification
  +e.content Поздравляем, вы — миллионный посетитель!
  +e('button').close(title="Закрыть")
