.prev-next.prev-next_top.main__header-nav
  .prev-next__prev
    kbd.prev-next__shortcut
      | (Ctrl+
      span.prev-next__arr ←
      | )
    a.prev-next__link(href="#prev") Предыдущий урок
  .prev-next__next
    a.prev-next__link(href="#next") Следующий урок
    kbd.prev-next__shortcut
      | (Ctrl+
      span.prev-next__arr →
      | )
