.profile__upic(style="background-image: url('/img/userpic.png')")
	label.profile__upic-edit(for="profile-new-userpic") Загрузить<br> фотографию

.profile__upic(style="background-image: url('/img/userpic-deleted.png')")
	label.profile__upic-edit(for="profile-new-userpic") Загрузить<br> фотографию

.profile__upic(style="background-image: url('http://placehold.it/300x100')")
	label.profile__upic-edit(for="profile-new-userpic") Загрузить<br> фотографию

.profile__upic(style="background-image: url('http://placehold.it/200x600')")
	label.profile__upic-edit(for="profile-new-userpic") Загрузить<br> фотографию

.profile__upic(style="background-image: url('http://placehold.it/20x60')")
	label.profile__upic-edit(for="profile-new-userpic") Загрузить<br> фотографию
