.profile__upic
  img.profile__upic-image(src="/img/userpic.png", width="146", height="146", alt="Nakazator")
  form.profile__upic-change(enctype="multipart/form-data", method="POST", action="/profile")
    input.profile__upic-upload#profile-new-userpic(type="file", value="", name="profile-new-userpic")
    label.profile__upic-edit(for="profile-new-userpic") Загрузить<br> фотографию
