//- TODO: Почему бы не использовать абсолютные пути?
script(src='http://code.jquery.com/jquery-1.10.1.min.js')
script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
script(src='/js/prism-core.js')
script(src='/js/prism-markup.js')
script(src='/js/prism-css.js')
script(src='/js/prism-css-extras.js')
script(src='/js/prism-clike.js')
script(src='/js/prism-javascript.js')
script(src='/js/prism-coffeescript.js')
script(src='/js/prism-http.js')
script(src='/js/prism-scss.js')
script(src='/js/prism-sql.js')
script(src='/js/prism-php.js')
script(src='/js/prism-php-extras.js')
script(src='/js/prism-python.js')
script(src='/js/prism-ruby.js')
script(src='/js/prism-java.js')
script(src='/js/codebox.js')
script(src='/js/iframebox.js')
script(src='/js/prism-my.js')
script(src='/js/select2.js')
script(src='/js/select2_locale_ru.js')
script(src='/js/base.js')
script(src='/js/iframe-resize.js')
script(src='/js/jquery.modal.js')
