p
  | Здесь мы рассмотрим создание интерфейсных компонент. Более коротко их называют «виджеты» (widgets).
p
  | Предполагается, что к этому разделу вы уже знакомы с основами JavaScript, DOM, CSS.
p
  | В этом разделе также понадобится библиотека jQuery. Мы используем ее для оптимизации основных операций с DOM/CSS.
  | Если вы освоили учебник до этого момента, то уже знаете, как работать с ними средствами обычного JavaScript.
  | Поэтому вас не постигнет участь горе-разработчиков, знающих «только jQuery» и впадающих в ступор при необходимости
  | минимального выхода за возможности этой библиотеки.
