+b.sidebar.page__sidebar
  +e.inner
    +e.section
      +e('a').link(href="#") Полное содержание
    +e.section
      +e('h4').section-title Разделы курса Базовый JS:
      +e('nav').navigation
        +e('ul').navigation-links
          +e('li').navigation-link
            +e('a').link(href="#") Общая информация
          +e('li').navigation-link
            +e('a').link(href="#") Основы JavaScript
          +e('li').navigation-link
            +e('a').link(href="#") Пишем на JavaScript
          +e('li').navigation-link
            +e('a').link(href="#") Структуры данных
          +e('li').navigation-link
            +e('a').link(href="#") Функции и замыкания
          +e('li').navigation-link
            +e('a').link(href="#") Аргументы функций
          +e('li').navigation-link
            +e('a').link(href="#") Объекты и методы
          +e('li').navigation-link
            +e('a').link(href="#") Получение и проверка типа
          +e('li').navigation-link
            +e('a').link(href="#") Разные темы
    +e.section
      +e.section-title Поделиться:
      +e('a').share._tw.__link(href="#")
      +e('a').share._fb.__link(href="#")
      +e('a').share._gp.__link(href="#")
      +e('a').share._vk.__link(href="#")
