.sidebar
  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae at consequuntur consectetur ad ipsam itaque enim hic, labore eveniet quaerat praesentium fuga amet sequi explicabo excepturi ut distinctio dolores officiis.