+b.sidebar._edit-link.page__sidebar
  //- FIXME: инлайновый скрипт — демо и используется для более удобной отладки
  +e('button').toggle(onclick="document.getElementsByClassName('page')[0].classList.toggle('page_sidebar_on')")
  +e.inner
    +e.content
      +e.section
        +e('h4').section-title Раздел
        +e('a').link(href="#") Основы JavaScript
      +e.section
        +e('h4').section-title Навигация по уроку
        +e('nav').navigation
          +e('ul').navigation-links
            +e('li').navigation-link
              +e('a').link(href="#") alert
            +e('li').navigation-link
              +e('a').link(href="#") prompt
            +e('li').navigation-link
              +e('a').link(href="#") confirm
            +e('li').navigation-link
              +e('a').link(href="#") Особенности встроенных&nbsp;функций
      +e.section._separator_before
        +e('nav').navigation
          +e('ul').navigation-links
            +e('li').navigation-link
              +e('a').link(href="#") Задачи (2)
            +e('li').navigation-link
              +e('a').link(href="#") Комментарии (12)
      +e.section._map
        +e('a').link._map(href="#", data-action="tutorial-map", onclick="document.querySelector('body').classList.add('tutorial-map_on')") Карта учебника
      +e.section._share
        +e.section-title Поделиться
        +b('a').share._tw.sidebar__share(href="https://twitter.com/share?url=http://design.javascript.ru/intro")
        +b('a').share._fb.sidebar__share(href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://design.javascript.ru/intro")
        +b('a').share._gp.sidebar__share(href="https://plus.google.com/share?url=http://design.javascript.ru/intro")
        +b('a').share._vk.sidebar__share(href="http://vkontakte.ru/share.php?url=http://design.javascript.ru/intro")
      +e.section
        button(onclick="this.parentNode.innerHTML=new Array(150).join('* ')") click me to add content
      +e.section
        +e('a').link(href="#edit-on-github") Редактировать на github
