+b.sidebar.page__sidebar
  script.
    function toggleSidebar() {
      document.getElementsByClassName('page')[0].classList.toggle('page_sidebar_on')
    }
  //- FIXME: инлайновый скрипт — демо и используется для более удобной отладки
  +e('button').toggle(onclick="toggleSidebar()")
  +e.inner
    +e.content
      +e.section
        //- демо для переключения .scrolled-out на ссылке «Полное содержание» исключительно для отладки.
        //- TODO: Убрать по завершении отладки
        +e('a').link._arrow(href="#", onclick="document.getElementsByTagName('body')[0].classList.toggle('scrolled-out'); return false;") Полное содержание
      +e.section
        +e('h4').section-title Разделы курса Базовый JS:
        +e('nav').navigation
          +e('ul').navigation-links
            +e('li').navigation-link
              +e('a').link(href="#") Общая информация
            +e('li').navigation-link
              +e('a').link(href="#") Основы JavaScript
            +e('li').navigation-link
              +e('a').link(href="#") Пишем на JavaScript
            +e('li').navigation-link
              +e('a').link(href="#") Структуры данных
            +e('li').navigation-link
              +e('a').link(href="#") Функции и замыкания
            +e('li').navigation-link
              +e('a').link(href="#") Аргументы функций
            +e('li').navigation-link
              +e('a').link(href="#") Объекты и методы
            +e('li').navigation-link
              +e('a').link(href="#") Получение и проверка типа
            +e('li').navigation-link
              +e('a').link(href="#") Разные темы
      +e.section
        +e('nav').navigation
          +e('ul').navigation-links
            +e('li').navigation-link
              +e('a').link(href="#") Резюме
            +e('li').navigation-link
              +e('a').link(href="#") Комментарии (12)
      +e.section
        +e.section-title Поделиться
        +b('a').share._tw.sidebar__share(href="https://twitter.com/share?url=http://design.javascript.ru/intro")
        +b('a').share._fb.sidebar__share(href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://design.javascript.ru/intro")
        +b('a').share._gp.sidebar__share(href="https://plus.google.com/share?url=http://design.javascript.ru/intro")
        +b('a').share._vk.sidebar__share(href="http://vkontakte.ru/share.php?url=http://design.javascript.ru/intro")
