+b.sitetoolbar
  if layout.notificationStripe
    include ../blocks/notification-stripe
  +e.content
    +e.logo-wrap
      +e('a').link._logo(href="/")
        +e('img').logo(src="/i/sitetoolbar__logo.svg", alt="javascript.ru")
    +e.nav-toggle-wrap
      //- FIXME: onclick - демо, убрать
      //- при начале скролла тут же исчезает, для этого body += .scrolled-out
      +e('button').nav-toggle(onclick="document.getElementsByClassName('sitetoolbar')[0].classList.toggle('sitetoolbar_menu_open')")
    +e('nav').sections
      +e('ul').sections-list
        +e('li').section._current
          //- элемент с модификатором _current может содержать как ссылку,
          //- так и простой текст, выглядеть будет одинаково
          | Учебник
        =' '
        +e('li').section
          +e('a').link(href="/courses") Курсы
        =' '
        +e('li').section
          +e('a').link(href="/spec") Стандарт ES5
        =' '
        +e('li').section
          +e('a').link(href="/tests") Тестирование
    +e.login-wrap
      //- делаем логин кнопкой, так как она только раскрывает форму
      //- и никуда не ведет. Если предполагается функциональность ссылки
      //- потребуются минимальные доработки
      +e('button').login(onclick="document.getElementsByClassName('sitetoolbar__login-spinner')[0].classList.toggle('spinner_active'); document.getElementsByClassName('sitetoolbar__spinner')[0].classList.toggle('spinner_active')")
        | Вход / Регистрация
    +e.search-wrap
      +e('button').search(onclick="document.getElementsByClassName('sitetoolbar')[0].classList.toggle('sitetoolbar_search_open')")
  +e.tablet-menu
    +e.tablet-menu-line
      +e.tablet-menu-header
        +e.tablet-menu-title Навигация по сайту:
      +e.tablet-menu-content
        +e('select').tablet-menu-nav.input-select
          +e('option') Учебник
          +e('option') Курсы
          +e('option') Стандарт ES5
          +e('option') Тестирование
      +e.tablet-menu-aside
        +e('a').secondary-link(href="#full-content") Полное содержание
    +e.tablet-menu-line
      +e.tablet-menu-header
        +e.tablet-menu-title Поделиться
      +e.tablet-menu-content
        +b('a').share._tw.sitetoolbar__tablet-menu-share(href="https://twitter.com/share?url=http://design.javascript.ru/intro")
        +b('a').share._fb.sitetoolbar__tablet-menu-share(href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://design.javascript.ru/intro")
        +b('a').share._gp.sitetoolbar__tablet-menu-share(href="https://plus.google.com/share?url=http://design.javascript.ru/intro")
        +b('a').share._vk.sitetoolbar__tablet-menu-share(href="http://vkontakte.ru/share.php?url=http://design.javascript.ru/intro")
  +e.tablet-search
    +e('form').tablet-search-content(method="GET", action="/search")
      +e.tablet-search-query-wrap
        +b.text-input.sitetoolbar__tablet-search-query
          +e('input').control(type="search")
      +e.tablet-search-submit-wrap
        +b('button').submit-button._small.sitetoolbar__tablet-search-submit
          | Найти
  +e.tablet-usermenu
    +e('ul').tablet-usermenu-items
      +e('li').tablet-usermenu-item
        +e('a').secondary-link.__tablet-usermenu-link(href="#profile") Профиль
      +e('li').tablet-usermenu-item
        +e('a').secondary-link.__tablet-usermenu-link(href="#settings") Настройки аккаунта
      +e('li').tablet-usermenu-item
        +e('a').secondary-link.__tablet-usermenu-link(href="#orders") Заказы
      +e('li').tablet-usermenu-item
        +e('a').secondary-link.__tablet-usermenu-link(href="#favorites") Избранное
      +e('li').tablet-usermenu-item
        +e('a').secondary-link.__tablet-usermenu-link(href="#logout") Выйти
  +b('span').spinner._medium.sitetoolbar__spinner
    +e('span').dot._1
    +e('span').dot._2
    +e('span').dot._3
