nav.navbar
   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam ea, fugit sit non exercitationem sed sunt magni accusamus, voluptate optio minima eos. Eaque nihil deserunt consectetur minima tenetur, nobis iusto!