a.social__soc(target="_blank", href="https://plus.google.com/share?url=http://design.javascript.ru/intro")
	img.soc-icon.google(src="/img/x.gif", width="24", height="24", title="Поделиться в гугл+", alt="g+")
a.social__soc(target="_blank", href="http://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]=http://design.javascript.ru/intro")
	img.soc-icon.facebook(src="/img/x.gif", width="24", height="24", title="Поделиться в фейсбуке", alt="fb")
a.social__soc(target="_blank" href="https://twitter.com/share?url=http://design.javascript.ru/intro")
	img.soc-icon.twitter(src="/img/x.gif", width="24", height="24", title="Поделиться в твитере", alt="tw")
a.social__soc(target="_blank", href="http://vkontakte.ru/share.php?url=http://design.javascript.ru/intro")
	img.soc-icon.vk(src="/img/x.gif", width="24", height="24", title="Поделиться во вконтакте", alt="vk")