.social.aside
  a.social__anchor-up(href='#page') Наверх
  a.social__soc(href='https://plus.google.com/share?url=http://design.javascript.ru/intro', target='_blank')
    img.soc-icon.google(src='/assets/x.gif', width='24', height='24', alt='g+', title='Поделиться в гугл+')
  a.social__soc(href='http://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://design.javascript.ru/intro', target='_blank')
    img.soc-icon.facebook(src='/assets/x.gif', width='24', height='24', alt='f', title='Поделиться в фейсбуке')
  a.social__soc(href='https://twitter.com/share?url=http://design.javascript.ru/intro', target='_blank')
    img.soc-icon.twitter(src='/assets/x.gif', width='24', height='24', alt='t', title='Поделиться в твитере')
  a.social__soc(href='http://vkontakte.ru/share.php?url=http://design.javascript.ru/intro', target='_blank')
    img.soc-icon.vk(src='/assets/x.gif', width='24', height='24', alt='v', title='Поделиться во вконтакте')