+b.tasks
  +e('h2').title
    | Задачи
  +e.task
    +e.task-header
      +e.task-title-wrap
        +e('h3').task-title Задача 1
      +e.task-header-aside
        +e('a').open-link(href="#task1")
        +e('span').importance Важность: 4
        +e('button').solution решение
