+b.task
  //- скрипт-демо показа решений
  script.
    function parentByClass(currentElem, cls) {
      var el = currentElem.parentNode;
      while (!el.classList.contains(cls) && el !== null) {
        el = el.parentNode;
      }
      return el;
    }
    function toggleSolution(elem) {
      parentByClass(elem, 'task').classList.toggle('task__answer_open');
    }
    function showStep(elem) {
      parentByClass(elem, 'task').classList.toggle('task__step_open');
    }
  //- конец демо
  +e.header
    +e.title-wrap
      +e('h3').title Использование prompt и alert
    +e.header-aside
      +e('a').open-link(href="#task1", target="_blank")
      +e('span').importance(title="Насколько эта задача важна для освоения материала, от 1 до 5") важность: 4
      +e('button').solution(type="button", onclick="toggleSolution(this)") решение
  +e.content
    +e.answer
      +e.answer-content
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi sequi officiis modi,
          | eum nisi quas! Aspernatur ea repellendus ipsam cumque cupiditate voluptates soluta,
          | itaque explicabo voluptatibus! Vitae quas fugit culpa.
      +b('button').close-button.__answer-close(type="button", title="закрыть", onclick="toggleSolution(this)")
    p 
      | Создайте страницу, которая спрашивает имя и выводит его.<br>
      | Работать должно так:
      =" "
      a(href="/tutorial/intro/basic.html") /tutorial/intro/basic.html