+b.tasks
  //- скрипт-демо показа решений
  script.
    function parentByClass(currentElem, cls) {
      var el = currentElem.parentNode;
      while (!el.classList.contains(cls) && el !== null) {
        el = el.parentNode;
      }
      return el;
    }
    function toggleSolution(elem) {
      parentByClass(elem, 'task').classList.toggle('task__answer_open');
    }
    function showStep(elem) {
      parentByClass(elem, 'task__step').classList.toggle('task__step_open');
    }
  //- конец демо
  +e('h2').title
    | Задачи
  +b.task.__task
    +e.header
      +e.title-wrap
        +e('h3').title Использование prompt и alert
        +e('a').open-link(href="#task1", target="_blank")
      +e.header-note
        +e('span').importance(title="Насколько эта задача важна для освоения материала, от 1 до 5") важность: 4
        +e('button').solution(type="button", onclick="toggleSolution(this)") решение
    +e.content
      +e.answer
        +e.answer-content
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi sequi officiis modi,
            | eum nisi quas! Aspernatur ea repellendus ipsam cumque cupiditate voluptates soluta,
            | itaque explicabo voluptatibus! Vitae quas fugit culpa.
        +b('button').close-button.__answer-close(type="button", title="закрыть", onclick="toggleSolution(this)")
      p 
        | Создайте страницу, которая спрашивает имя и выводит его.<br>
        | Работать должно так:
        =" "
        a(href="/tutorial/intro/basic.html") /tutorial/intro/basic.html
  +b.task.__task
    +e.header
      +e.title-wrap
        +e('h3').title Использование prompt и alert
        +e('a').open-link(href="#task1", target="_blank")
      +e.header-note
        +e('span').importance(title="Насколько эта задача важна для освоения материала, от 1 до 5") важность: 4
        +e('button').solution(type="button", onclick="toggleSolution(this)") решение
    +e.content
      +e.answer
          +e.step._open
            +e('button').step-show(type="button", onclick="showStep(this)") Шаг 1
            +e.answer-content
              +e('h4').step-title Шаг 1
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi sequi officiis modi,
                | eum nisi quas! Aspernatur ea repellendus ipsam cumque cupiditate voluptates soluta,
                | itaque explicabo voluptatibus! Vitae quas fugit culpa.
          +e.step
            +e('button').step-show(type="button", onclick="showStep(this)") Шаг 2
            +e.answer-content
              +e('h4').step-title Шаг 2
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi sequi officiis modi,
                | eum nisi quas! Aspernatur ea repellendus ipsam cumque cupiditate voluptates soluta,
                | itaque explicabo voluptatibus! Vitae quas fugit culpa.
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi sequi officiis modi,
                | eum nisi quas! Aspernatur ea repellendus ipsam cumque cupiditate voluptates soluta,
                | itaque explicabo voluptatibus! Vitae quas fugit culpa.
          +e.step
            +e('button').step-show(type="button", onclick="showStep(this)") Шаг 3
            +e.answer-content
              +e('h4').step-title Шаг 3
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi sequi officiis modi,
                | eum nisi quas! Aspernatur ea repellendus ipsam cumque cupiditate voluptates soluta,
                | itaque explicabo voluptatibus! Vitae quas fugit culpa.
          +b('button').close-button.__answer-close(type="button", title="закрыть", onclick="toggleSolution(this)")
      p Напишите кроссбраузерную функцию insertBefore(elem, html), которая:
      ul
        li Вставляет HTML-строку перед элементом elem, используя insertAdjacentHTML,
        li Если он не поддерживается (старый Firefox) — то через DocumentFragment.
      p 
        | В обоих случаях должна быть лишь одна операция с DOM документа.<br>
        | Следующий код должен вставить два пропущенных элемента списка &lt;li&gt;3&lt;/li&gt;&lt;li&gt;4&lt;/li&gt;:

      pre.language-javascript.line-numbers
        | &lt;ul&gt;
        |   &lt;li&gt;1&lt;/li&gt;
        |   &lt;li&gt;2&lt;/li&gt;
        |   &lt;li&gt;5&lt;/li&gt;
        | &lt;/ul&gt;
        | &lt;script&gt;
        |   var ul = document.body.children[0];
        |   var li5 = ul.children[2];
        |   function insertBefore(elem, html) {
        |     /* Ваш код */
        |   }
        |   insertBefore(li5, '&lt;li&gt;3&lt;/li&gt;&lt;li&gt;4&lt;/li&gt;');
        | &lt;/script&gt;
