+b.task
  +e('a').back(href="#lesson")
    u Вернуться к уроку
  +e.header
    +e.title-wrap
      +e('h2').title!= self.title
    +e.header-aside
      +e('span').number
        | Задание
        =" "
        b #215
      =" "
      +e('span').importance
        | Важность:
        =" "
        b 5
  +e.content
    p
      | Для страницы:
    pre.language-javascript.line-numbers
      | &lt;ul&gt;
      |   &lt;li&gt;1&lt;/li&gt;
      |   &lt;li&gt;2&lt;/li&gt;
      |   &lt;li&gt;5&lt;/li&gt;
      | &lt;/ul&gt;
      | &lt;script&gt;
      |   var ul = document.body.children[0];
      |   var li5 = ul.children[2];
      |   function insertBefore(elem, html) {
      |     /* Ваш код */
      |   }
      |   insertBefore(li5, '&lt;li&gt;3&lt;/li&gt;&lt;li&gt;4&lt;/li&gt;');
      | &lt;/script&gt;
    ul
      li
        | напишите код, который получит элемент
        =" "
        code HEAD
        | .
      li
        | напишите код, который получит
        =" "
        code UL
        | .
      li
        | напишите код, который получит второй
        =" "
        code LI
        | .
        | Будет ли ваш код работать в IE 8-, если комментарий переместить
        =" "
        i между
        =" "
        | элементами
        =" "
        code LI
        | ?
    p
      a.external(href="/task-215") Открыть исходный документ
