.receipts
    &_register
            margin-top 40px

            text-align left

        & .course-register-info
            width auto
            margin 0
            padding 0

            background none

        & .price
            vertical-align middle

