+b.course-info._program.courses-mix
  +e.body.columns.columns_2

    +e.col.columns__col
      +e.content
        +e('h3').title Программа

        p.
          Курс даст возможность быстро начать создавать свои приложения с использованием
          одного из самых популярных на сегодняшний день фреймворков – Angular.JS.
          В процессе прохождения курса шаг за шагом вы сделаете реальное приложение,
          и хорошо разберетесь в специфике Angular.JS.

        p Вы будете слушать теорию, писать код, показывать его, получать обратную связь и советы, и затем – дивагаться дальше.

        p Мы будем использовать современные практики разработки на Angular.JS, а не те, которые, хоть и широко представлены в интернете, но давно устарели.

        p В курсе также будут рассмотрены "узкие места" фреймворка, которые часто приводят к проблемам при неправильной реализации.

        p Курс можно условно разделить на три части.

        ol
          li
            +e.text Основные элементы фреймворка. 
          li
            +e.text Архитектура приложений, организация проекта. 
          li
            +e.text Взгляд во внутрь фреймворка и подробный разбор деталей.

        p Детали программы смотрите далее.

    +e.col.columns__col
      +e.content
        +e('h3').title Набор в группы

        if groups.length
          include ../signup

          p Это первая группа курса.

          p Вы также можете подписаться на уведомления по набору новых групп по этой программе:

          include ../subscribe

        else
          +b.courses-recruitment._no-groups
            +e('a').anchor#signup
            +e('h3').info-title В текущих группах мест нет.

            p Вы можете запросить уведомления о наборе новых групп по этой программе, следующий набор планируется в ноябре.

            include ../subscribe

          p Стоимость обучения – порядка 150-250$. Время обучения: 1 месяц, точные даты будут при открытии записи.

