+b.courses-result.courses-mix
  +e('h2').title Результат обучения

  +e.body
    ol
      li Вы хорошо понимаете тонкости AngularJS, его декларативный стиль, разрабатываете и отлаживаете программы на нём.
      li Вы знаете, как быстро сделать прототип проекта, а после чего превратить его в большое структурное многомодульное веб приложение, стабильно работающее и не имеющее проблем с производительностью.
      li Вы разбираетесь в исходном коде фреймворка и он является лучшей документацией для вас.
      li Вы знаете все типичные ошибки, которые допускают при работе с AngularJS, и можете их избежать.

