.navbar
	background #e9e9dd
	border-top-left-radius 4px
	border-top-right-radius 4px
	font 700 15px secondary_font

.navbar__sections
	line-height 30px
	display table
	width 100%

.navbar__sections-item
	display table-cell
	vertical-align top
	text-align center
	background #22292b
	border-right 1px solid #384144
	text-transform uppercase
	white-space nowrap

// TODO: check if all theese selectors are really necessarry
.navbar__sections-item.active,
.navbar__sections-item.open,
.navbar__sections-link::before,
.navbar__sections-item.open navbar__section-link::before
	background none
	color secondary_color

.navbar__sections-text
.navbar__sections-link
	display block
	padding 4px 15px 6px 10px

.navbar__sections-link
	&:hover
		background #373E3F
	&:link
	&:visited
	&:hover
	&:active
		color #fff
		text-decoration none
	
.navbar__sections-link::before,
.navbar__sections-text::before
	font-weight 400
	padding 2px 10px 0 0

.navbar__sections-link::before
.navbar__sections-text::before
	color #caf3ff
	
// 		&.study > ::before {
// 			@extend %font-study
// 		}
	
// 		&.blogs > ::before {
// 			@extend %font-blogs
// 		}
	
// 		&.qa > ::before {
// 			@extend %font-qa
// 		}
	
// 		&.reference > ::before {
// 			@extend %font-reference
// 		}
	
// 		&.events > ::before {
// 			@extend %font-events
// 		}
	
// 		&.job > ::before {
// 			@extend %font-job
// 		}
	
// 		&.sandbox > ::before {
// 			@extend %font-code
// 		}
	
// 		&.chat > ::before {
// 			@extend %font-chat
// 		}
	
// 		&.search {
// 			padding 0
// 			width 40px
// 			text-align center
		
// 			.dropdown__toggle {
// 				@extend %button-reset
// 				font-size 16px
// 				width 40px
// 				height 40px
// 				display block
// 			}
// 			.dropdown__toggle::before {
// 				@extend %font-search
// 				color #fff
// 				padding-right 0
// 			}
// 		}
// 		&.search.open {
// 			background #B81800
// 		}
// 	}
// 	.navbar__sections-item:first-child,
// 	.navbar__sections-item:first-child a:hover {
// 		border-top-left-radius 4px
// 	}
	
// 	.navbar__sections-item:nth-last-child(2).active {
// 		border-right 1px solid transparent
// 	}
	
// 	.navbar__sections-item:last-child {
// 		border-right 0
// 		border-top-right-radius 4px
// 	}
// }
