
.balance
	position relative
	margin 38px -1*content_horizontal_padding

	&__content
		display: table;
		width: 100%;

	&__title
		margin 0 0 20px
		text-align center

	& &__list
		padding-left 25px

	// convert to class .balance__list-item
	& &__list > li
		margin 1em 0 1em

	& &__list > li::before
		position absolute
		margin-left -25px

	&__pluses,
	&__minuses
		display table-cell
		width 50%

	&__pluses
		padding 20px 35px 20px 40px
		background: #D7F1B9;

	&__pluses &__title
		color #004010

	& &__pluses ul&__list > li::before
		@extend $font-pros
		color #238C00

	&__minuses
		padding 20px 40px 20px 35px
		background #FFCFBF

	&__minuses &__title
		color #401000

	& &__minuses ul&__list > li::before
			@extend $font-cons;
			color #B20000

	&_single
		margin 20px -1*content_horizontal_padding 30px

	&_single &__content
		width 100%

	&_single &__title
		text-align left

	&_single &__pluses,
	&_single &__minuses
		padding 20px content_horizontal_padding
		width auto

	&::before
		size-of ('scales.png')
		background url('/img/scales.png')
		margin-left (image-width('scales.png') / -2)
		content ""
		position absolute
		top -3px
		left 50%

	&_single::before
		display none

	@media (min-width: media_step_1)
		margin: 38px -1*(content_horizontal_padding + 10px)

		&__pluses
			padding 20px 35px 20px (content_horizontal_padding + 10px)

		&__minuses
			padding 20px (content_horizontal_padding + 10px) 20px 35px

		&_single
			margin 20px -1*(content_horizontal_padding + 10px) 30px

		&_single &__pluses,
		&_single &__minuses
				padding 20px (content_horizontal_padding + 10px)

	@media (min-width: media_step_2)
		margin 38px -1*(content_horizontal_padding + 20px)

		&__pluses
			padding 20px 35px 20px (content_horizontal_padding + 20px)

		&__minuses
			padding 20px (content_horizontal_padding + 20px) 20px 35px

		&_single
			margin 20px -1*(content_horizontal_padding + 20px) 30px
			
		&_single &__pluses,
		&_single &__minuses
			padding: 20px (content_horizontal_padding + 20px)


	@media (min-width: media_step_3)
		margin 38px -1*(content_horizontal_padding + 30px)

		&__pluses
			padding 20px 35px 20px (content_horizontal_padding + 30px)

		&__minuses
			padding 20px (content_horizontal_padding + 30px) 20px 35px

		&_single
			margin 20px -1*(content_horizontal_padding + 30px) 30px
			
		&_single &__pluses,
		&_single &__minuses
			padding: 20px (content_horizontal_padding + 30px)
