- var questions = [];
- questions.push({ title: 'А это все правда? Действительно ли курсы такие хорошие?', answer: ['<p>Вам решать.</p><p>Здесь нет курсов по HTML/CSS/PHP/Photoshop и прочему разному.</p><p>Я провожу курсы <strong>только по JavaScript</strong>. И стараюсь делать это настолько хорошо, насколько это возможно. Выберите вверху страницы интересующий вас курс, внимательно остановитесь на программе и способе обучения, подумайте, подходит ли это вам.</p>'] });
- questions.push({ title: 'Какие есть способы оплаты? Можно ли от организации?', answer: ['<p>Все основные способы предусмотрены. Есть оплата через банк, Webmoney, Paypal, Я.Деньги, банковской карточкой и от компании.</p><p>Подписанные документы при необходимости высылаются в виде сканов или по почте.</p><p>Выбор способа оплаты – в процессе оформления.</p>'] });
- questions.push({ title: 'А можно ваши курсы скачать?', answer: ['<p>Есть ряд видеолекций, которые участники скачивают в процессе. Но основной смысл курса – в обучении с преподавателем, онлайн, мы регулярно встречаемся и общаемся, потому что такие встречи дают возможность показать ваш код, обсудить, что получается, с опытным разработчиком, задать вопросы, улучшить свои навыки и код.</p><p>Это совсем другой подход, чем "скачиваемые" и даже "роботизированные" курсы и, конечно, другой результат, при вашем активном участии.</p>'] });
- questions.push({ title: 'Что, если кто-то не будет успевать за программой?', answer: ['<p>Программа курса построена на том уровне, который, на мой взгляд, необходим. Все участники адекватные и, как правило, справляются с её освоением.</p><p>Кривая обучения растёт постепенно, сначала медленнее, потом быстрее, так что, если полноценно участвовать, то всё у всех получается.</p><p>Если же кто-то не успевает и пишет мне об этом, то я помогаю, если нужно – даже организую дополнительное занятие. Это не проблема. Получается что отстающих не бросаем и группу не тормозим. В крайнем случае можно перевестись в другую группу.</p>'] });
- questions.push({ title: 'Планируются ли дополнительно курсы по...? Когда?', answer: ['<p>Сложно предсказать. Зачастую планы возникают неожиданно. Если вы хотели бы узнавать о них, то можете <a href="/newsletter" target="_blank">запросить уведомление здесь</a>.</p>'] });

+b.courses-faq.courses-mix
  +e('h2').title Часто задаваемые вопросы
  +e.body

    +e('ul').questions
      for question, index in questions
        +e('li').question
          +e('input').input(type="checkbox" id= 'q' + index)
          +e('label').question-title(for= 'q' + index)!= question.title
          +e.answer!= question.answer

    p У вас другой вопрос? Напишите его в комментариях внизу этой страницы или мне на почту <a href="mailto:mk@javascript.ru">mk@javascript.ru</a> (проверяется регулярно), а если совсем срочно&nbsp;— звонить по телефону +7-903-5419441.

    p Большое количество комментариев, которые были на странице курсов раньше, осталось в <a href="http://javascript.ru/courses">старом движке</a>, все новые имеет смысл писать здесь.
