+b.courses-master
  +e('h2').title Ведущий
  +e('p').text Веду курсы я сам, Илья Кантор, создатель этого сайта.
  +e('p').text Более 20 лет общего опыта программирования, из них более 12 лет JavaScript-разработки и консультирования в области Frontend.
  +e('p').text.
    Начиная с 2007 года вёл мастер-классы для опытных разработчиков,
    в которых участвовали сотрудники ведущих IT-компаний России и Украины
    (<a href="http://javascript.ru/mk">страница проекта</a>, <a href="http://javascript.ru/mk/afters">отзывы</a>).
    С января 2011 года открыты курсы (<a href="http://javascript.ru/courses/afters">отзывы</a>).



