+b.courses-master
  +e('h2').title Ведущий
  +e('p').text Веду курсы я сам, Илья Кантор, создатель этого сайта.
  +e('p').text Более 20 лет общего опыта программирования, из них более 12 лет JavaScript-разработки.
  +e('p').text Начиная с 2007 года вёл мастер-классы для опытных разработчиков, в которых участвовали сотрудники ведущих IT-компаний России и Украины. С января 2011 года открыты эти курсы.



