+b.courses-masters
  +e('h2').title Ведущие
  +e('ul').masters
    each teacher in teachers
      +e('li').master
        +b.courses-master
          +e('a').name(href=teacher.getProfileUrl())
            +b('figure').teacher-picture
              +e('img').img(src="/teacher.jpg" src2=teacher.getPhotoUrl(145, 145) alt="Фото")
              +e('figcaption').text= teacher.displayName

//-
  +b.courses-master
    +e('h2').title Ведущий
    +e('p').text Основной преподаватель курсов – я сам, Илья Кантор (<a href="https://github.com/iliakan/">Github</a>), разработчик, создатель сайта javascript.ru.
    +e('p').text.
      Более 20 лет общего опыта программирования, из них более 12 лет JavaScript-разработки и консультирования в области Frontend.
      Начиная с 2007 года вёл мастер-классы для опытных разработчиков,
      в которых участвовали сотрудники ведущих IT-компаний России и Украины
      (<a href="http://javascript.ru/mk">страница проекта</a>, <a href="http://javascript.ru/mk/afters">отзывы</a>).
      С января 2011 года открыты курсы (<a href="http://javascript.ru/course/afters">отзывы</a>).
    +e('p').text С сентября 2015 некоторые группы ведут мои коллеги, опытные разработчики, детали о них скоро появятся на сайте, качество обучения гарантируется в любом случае.


