+b.participants-logos.courses-mix
  +e('h2').title У нас обучались

  p.
    Мастер-классы для профессионалов в области JavaScript я проводил давно, примерно с 2006 года, а курсы – с 2011 года.
    За это время обучились тысячи человек из сотен компаний, всех их перечислить сложно.
    В частности, проходили обучение сотрудники этих компаний:

  //- _disable_left | _disable_right
  +e.slider(data-participants-slider)
    +e('i').arr._left
    +e('i').arr._right
    +e.slider-i
      - var i = 1
      //- change translateX for list
      +e('ul').list
        while i <= 27
          +e('li').item
            +e('img').logo(src="/courses/logos/"+i+".png" height="60px")
          - i++

  p.
    За время обучения были оставлены сотни отзывов,
    которые пока можно найти <a href="http://javascript.ru/course/afters">здесь</a> и <a href="http://javascript.ru/course/afters">здесь</a>,
    скоро мы добавим их в улучшенном виде и на эту страницу. Некоторые отзывы профессионалов вы можете прямо сейчас увидеть ниже.
