+b.participants-logos.courses-mix
    +e('h2').title Участники прошлых мероприятий

    p Мастер-классы проводились на протяжении нескольких лет.
    p Ниже - небольшой список компаний, разработчики которых участвовали в прошлых мастер-классах и семинарах. Список давно не обновлялся, и ограничен, чтобы сэкономить место. Соответственно, в него попали, преимущественно, самые первые компании. Извините, если кого нет.

    +e('ul').list
        +e('li').item
            +e('img').logo(src="http://yastatic.net/web4/_/AqKE_EEVNtTWYFO92MJTqSj51DY.svg" width="150px")
        +e('li').item
            +e('img').logo(src="http://yastatic.net/web4/_/AqKE_EEVNtTWYFO92MJTqSj51DY.svg" width="150px")
        +e('li').item
            +e('img').logo(src="http://yastatic.net/web4/_/AqKE_EEVNtTWYFO92MJTqSj51DY.svg" width="150px")
        +e('li').item
            +e('img').logo(src="http://yastatic.net/web4/_/AqKE_EEVNtTWYFO92MJTqSj51DY.svg" width="150px")
        +e('li').item
            +e('img').logo(src="http://yastatic.net/web4/_/AqKE_EEVNtTWYFO92MJTqSj51DY.svg" width="150px")
        +e('li').item
            +e('img').logo(src="http://yastatic.net/web4/_/AqKE_EEVNtTWYFO92MJTqSj51DY.svg" width="150px")
        +e('li').item
            +e('img').logo(src="http://yastatic.net/web4/_/AqKE_EEVNtTWYFO92MJTqSj51DY.svg" width="150px")
        +e('li').item
            +e('img').logo(src="http://yastatic.net/web4/_/AqKE_EEVNtTWYFO92MJTqSj51DY.svg" width="150px")
        +e('li').item
            +e('img').logo(src="http://yastatic.net/web4/_/AqKE_EEVNtTWYFO92MJTqSj51DY.svg" width="150px")
        +e('li').item
            +e('img').logo(src="http://yastatic.net/web4/_/AqKE_EEVNtTWYFO92MJTqSj51DY.svg" width="150px")
        +e('li').item
            +e('img').logo(src="http://yastatic.net/web4/_/AqKE_EEVNtTWYFO92MJTqSj51DY.svg" width="150px")
        +e('li').item
            +e('img').logo(src="http://yastatic.net/web4/_/AqKE_EEVNtTWYFO92MJTqSj51DY.svg" width="150px")
        +e('li').item
            +e('img').logo(src="http://yastatic.net/web4/_/AqKE_EEVNtTWYFO92MJTqSj51DY.svg" width="150px")
        +e('li').item
            +e('img').logo(src="http://yastatic.net/web4/_/AqKE_EEVNtTWYFO92MJTqSj51DY.svg" width="150px")
        +e('li').item
            +e('img').logo(src="http://yastatic.net/web4/_/AqKE_EEVNtTWYFO92MJTqSj51DY.svg" width="150px")
        +e('li').item
            +e('img').logo(src="http://yastatic.net/web4/_/AqKE_EEVNtTWYFO92MJTqSj51DY.svg" width="150px")


