+b.participants-logos.courses-mix
  +e('h2').title У нас обучались

  p.
    Мастер-классы для профессионалов в области JavaScript я проводил примерно с 2006 года, а курсы – с 2011 года.
    За это время обучились тысячи человек из сотен компаний, всех их перечислить сложно. В частности, проходили обучение сотрудники этих компаний:

  +e('ul').list
    +e('li').item
      +e('img').logo(src="/courses/logos/yandex.svg" width="150px")
    +e('li').item
      +e('img').logo(src="/courses/logos/rbc.png" width="150px")
    +e('li').item
      +e('img').logo(src="/courses/logos/rambler.svg" width="150px")
    +e('li').item
      +e('img').logo(src="/courses/logos/nigma.png" width="150px")
    +e('li').item
      +e('img').logo(src="/courses/logos/micex.gif" width="150px")
    +e('li').item
      +e('img').logo(src="/courses/logos/yota.jpg" width="100px")
    +e('li').item
      +e('img').logo(src="/courses/logos/it-territory.jpg" width="150px")
    +e('li').item
      +e('img').logo(src="/courses/logos/timeout.jpg" width="150px")
    +e('li').item
      +e('img').logo(src="/courses/logos/netcracker.jpg" width="150px")
    +e('li').item
      +e('img').logo(src="/courses/logos/twigle.png" width="150px")
    +e('li').item
      +e('img').logo(src="/courses/logos/rabotaru.jpg" width="150px")
    +e('li').item
      +e('img').logo(src="/courses/logos/superjob.gif" width="150px")
    +e('li').item
      +e('img').logo(src="/courses/logos/interfax.svg" width="150px")
    +e('li').item
      +e('img').logo(src="/courses/logos/epam.svg" width="150px")
    +e('li').item
      +e('img').logo(src="/courses/logos/megaplan.png" width="150px")
    +e('li').item
      +e('img').logo(src="/courses/logos/notamedia.png" width="150px")


