+b.courses-professionals.courses-mix
  +e('section').feedbacks
    +e('h2').title Мнение профессионалов

    +e('article').feedback
      +e.userpic
        +e('img').userpic-img(src="/img/courses/dmitryx.jpg" width="86" height="86")
      +e('h3').feedback-title Дмитрий Поляков
        +e('a').homepage(href="https://www.linkedin.com/in/dmitryx" target="_blank") LinkedIn
      +e('p').about Frontend-разработчик в <a href="http://google.com">Google</a>, делает <a href="http://youtube.com">Youtube</a>, общий опыт работы архитектором и ведущим разработчиком различных проектов более 15 лет.

      p.
        Участвовал в мастер-классах Ильи несколько раз, узнал много полезного.
        Очень нравится профессиональное и отлично организованное изложение и структуризация материала,
        приводимые примеры и паттерны применения в настоящей разработке.
        Считаю Илью одним из лучших JS разработчиков и ведущих.
        Крайне рекомендую курсы для тех, кто хочет отточить свои знания и стать профессионалом.

    +e('article').feedback
      +e.userpic
        +e('img').userpic-img(src="/img/courses/tyv.jpg" width="86" height="86")
      +e('h3').feedback-title Юрий Ткаченко
        +e('a').homepage(href="https://ua.linkedin.com/in/tkachenkoyuri" target="_blank") LinkedIn
      +e('p').about Frontend-разработчик, в <a href="http://yandex.ru">Яндекс</a> 3 года руководил одной из команд верстальщиков, общий опыт Frontend-разработки более 10 лет .

      p.
        Во время работы руководителем одной из групп верстки в Яндексе
        передо мной встала задача повышения квалификации большой команды верстальщиков.
        После длительного анализа я выбрал курс Ильи Кантора и остался очень доволен результатом,
        считаю этот курс лучшим из существующих на русском языке.


    +e('article').feedback
      +e.userpic
        +e('img').userpic-img(src="/img/courses/andrewsumin.jpg" width="86" height="86")
      +e('h3').feedback-title Андрей Сумин
        +e('a').homepage(href="https://ru.linkedin.com/in/andrewsumin" target="_blank") LinkedIn
      +e('p').about Главный по Frontend в компании <a href="http://mail.ru">Mail.ru</a>, также принимал участие в таких проектах как <a href="http://hh.ru">hh.ru</a> и <a href="http://yandex.ru">yandex.ru</a>.

      p.
        В далёком 2006 году, будучи frontend-разработчиком в Яндекс, я посетил курс Ильи.
        Уже тогда его занятия отличались сильной базой, подробным разбором важных и сложных аспектов
        и грамотной организацией.
        Я искренне рекомендую Илью как учителя всем кто хочет знать всё о языке JavaScript.
