+b.courses-professionals.courses-mix
  +e('section').feedbacks
    +e('h2').title Мнение профессионалов

    +e('article').feedback
      +e.userpic
        +e('img').userpic-img(src="/img/courses/dmitryx.jpg" width="86" height="86")
      +e('h3').feedback-title Дмитрий Поляков
        +e('a').homepage(src="https://www.linkedin.com/in/dmitryx") LinkedIn
      +e('p').about Разрабатывает <a href="http://youtube.com">Youtube</a> (Google CA), общий опыт работы архитектором и ведущим разработчиком различных проектов более 15 лет.

      p.
        Участвовал в мастер-классах Ильи несколько раз, узнал много полезного.
        Очень нравится профессиональное и отлично организованное изложение и структуризация материала,
        приводимые примеры и паттерны применения в настоящей разработке.
        Считаю Илью одним из лучших JS разработчиков и ведущих.
        Крайне рекомендую курсы для тех, кто хочет отточить свои знания и стать профессионалом.

    +e('article').feedback
      +e.userpic
        +e('img').userpic-img(src="/img/courses/tyv.jpg" width="86" height="86")
      +e('h3').feedback-title Юрий Ткаченко
        +e('a').homepage(src="https://ua.linkedin.com/in/tkachenkoyuri") LinkedIn
      +e('p').about Frontend-разработчик, около 8 лет работы в Яндекс, из них 3 года руководил одной из команд верстальщиков.

      p.
        Во время работы руководителем одной из групп верстки в Яндексе
        передо мной встала задача повышения квалификации большой команды верстальщиков.
        После длительного анализа я выбрал курс Ильи Кантора и остался очень доволен результатом,
        считаю этот курс лучшим из существующих на русском языке.


    +e('article').feedback
      +e.userpic
        +e('img').userpic-img(src="/img/courses/andrewsumin.jpg" width="86" height="86")
      +e('h3').feedback-title Андрей Сумин
        +e('a').homepage(src="https://ru.linkedin.com/in/andrewsumin") LinkedIn
      +e('p').about Руководитель Frontend в <a href="http://mail.ru">Mail.ru</a>, также принимал участие в таких проектах как <a href="http://hh.ru">hh.ru</a> и <a href="http://yandex.ru">yandex.ru</a>.

      p.
        Будучи frontend-разработчиком в Яндексе, в далеком 2006 году я посетил курс Ильи.
        Уже тогда его занятия отличались сильной базой, подробным разбором важных и сложных аспектов
        и грамотной организацией.
        Я рекомендую Илью как учителя всем кто хочет знать всё о языке JavaScript.
