
+b.payment-setting
  +e.item._currency
    +e('label').label(for="interkassa-currency") Выберите валюту:
    +b('select')(name="interkassaCurrency").input-select._small.__control#interkassa-currency
      +e('option').option(value="RUB") RUB
      +e('option').option(value="UAH") UAH
      +e('option').option(value="USD") USD
      +e('option').option(value="EUR") EUR
