
+b.payment-setting
  +e.item
    +e('label').label(for="invoice-company") Название компании:
    +b('span').text-input._small
      +e('input')(name="invoiceCompany").control#invoice-company
  +e('p') Если вам нужен договор с компанией, зарегистрированной в РФ &mdash; заполните поля ниже.
  +e.item
    +e('label').label(for="invoice-contract-head") Шапка (для акта и договора):
    +b('textarea').textarea-input#invoice-contract-head(cols="30" rows="10" name="invoiceContractHead") ___, именуемое в дальнейшем Заказчик, в лице ___, действующего на основании ___, с одной стороны
    +e.small-note Например: Общество с ограниченной ответственностью «Лютики», именуемое в дальнейшем Заказчик, в лице Иванова Петра Сергеевича, действующего на основании Устава, с одной стороны
  +e.item
    +e('label').invoice__label(for="invoice-company-address") Юридический адрес:
    +b('textarea').textarea-input.invoice__textarea#invoice-company-address(cols="30", rows="5" name="invoiceCompanyAddress")
  +e.item
    +e('label').invoice__label(for="invoice-bank-details") Банковские реквизиты:
    +b('textarea').textarea-input.invoice__textarea#invoice-bank-details(cols="30", rows="5" name="invoiceBankDetails")
