include /bem

+b.paypal-currency-form
  +e('h2').title Выберите валюту

  +e('form').form(name="paypal-currency-form")

    +e.line
      +b('select').input-select(name="currency")
        each currency in ['RUB', 'USD', 'EUR']
          +e('option')(value=currency)= currency

    +e.line
      +e('p').note Если у вас Российский Paypal-аккаунт, вы можете оплатить только в RUB.
    +e.line._submit
      +b('button').button._action(type="submit")
        +e('span').text Оплатить на PayPal
      +e('a').close-link.modal__close Отмена
