
+b.payment-setting
  +e.item._currency
    +e('label').label(for="paypal-currency") Выберите валюту:
    +b('select')(name="paypalCurrency").input-select._small.__control#paypal-currency
      +e('option').option(value="RUB") RUB
      +e('option').option(value="USD") USD
      +e('option').option(value="EUR") EUR
    +e('span').small-note
      | Если у вас Российский Paypal аккаунт, вы<br> не сможете оплатить в другой валюте.
