.course-feedbacks
    &__title
        text-align left

    &__title-n
        color secondary_color

    &__title-mark
        color #F8AB47

    .main h2&__title a&__show-all
        font-size 14px
        font-weight normal
        line-height initial

        margin-left 20px

        vertical-align middle

        color light_link_color

    .main h2&__title a&__show-all:hover
        color link_hover_color

    &__feedback
        margin-bottom 20px
