extends root

block profileContent

  +e.fields

    if profileUser.realName
      +b.profile-field
        +e.lcell
          +e.name Имя
        +e.rcell
          +e.value= profileUser.realName

    if profileUser.country
      +b.profile-field
        +e.lcell
          +e.name Страна
        +e.rcell
          +e.value= profileUser.country

    if profileUser.town
      +b.profile-field
        +e.lcell
          +e.name Город
        +e.rcell
          +e.value= profileUser.town

    if profileUser.publicEmail
      +b.profile-field
        +e.lcell
          +e.name E-Mail
        +e.rcell
          +e.value= profileUser.publicEmail


    if profileUser.interests
      +b.profile-field
        +e.lcell
          +e.name Интересы
        +e.rcell
          +e.value= profileUser.interests

    if profileUser.aboutMe
      +b.profile-field
        +e.lcell
          +e.name О себе
        +e.rcell
          +e.value
           | <p>
           != profileUser.aboutMe.replace(/&([^#]|#[^0-9]?|#x[^0-9]?|$)/g, '&amp;$1').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/^(https?:\/\/(-\.)?([^\s/?.#-]+\.?)+(\/[^\s]*)?)$/, '<a href="$1">$1</a>').replace('\n\n', '</p><p>')
           | </p>

    if profileUser.birthday
      +b.profile-field
        +e.lcell
          +e.name Дата рождения
        +e.rcell
          +e.value= profileUser.birthday


    if profileUser.teachesCourses
      +b.profile-field
        +e.lcell
          +e.name Ведёт курсы
        +e.rcell
          +e.value
            each course, index in profileUser.teachesCourses
              a(href=course.getUrl())= course.title
              if index < profileUser.teachesCourses.length - 1
                = ', '

    +b.profile-field
      +e.lcell
        +e.name Зарегистрирован
      +e.rcell
        +e.value= moment(profileUser.created).format('DD.MM.YYYY в LT')

    +b.profile-field
      +e.lcell
        +e.name Активность
      +e.rcell
        +e.value Последняя активность #{moment(profileUser.lastActivity || profileUser.created).format('DD.MM.YYYY в LT')}

  if profileUser.teachesCourses || 1
    +b('section').course-feedbacks.teacher-feedback
      +e.head
        +e('h2').title Отзывы учеников

      +e('article').feedback
        +b.course-feedback._result._external
          +e.user
            +e.userpic
              +e('img').userpic-img(src="/img/userpic/userpic.svg")
            +e('span').username
              +e('a').username-link(href="/123") Александр Луговой
            +e('span').country
              +e('img').country-flag(src='/img/flags/ru.svg' width=16 height=12)
              +e('span').country-text Россия, Москва
            +e('span').date 12 Мар 2015
          +b.rating._4
            for raiting in [1,2,3,4,5]
              +e('i').star ★
          +e.body
            p Очень доволен данным курсом.Я сам из Республики Беларусь.Практический все, с кем я общался по js, хоть раз да заходили на ваш сайт. Если кто-то решится из РБ пройти этот курс, рекомендую. Понравилось: подача материала, расставленные приоритеты в изучении, только актуальные данные , а не устаревшая информация. Мне не хватило пару занятий по организации проекта на js и про шаблоны. Хотел пройти курс у человека, который ПОЛНОСТЬЮ ПРАКТИК. Очень радостно, что вы поделились своим опытом!!! Спасибо.
          +e.info
            | Курс:
            =  ' '
            a(href="/123") «Javascript, DOM, интерфейсы»
            <br>
            | Преподаватель:
            =  ' '
            +e('a').teacher-link(href="/123") Валентиновский Валентин
      +e('article').feedback
        +b.course-feedback._result._external
          +e.user
            +e.userpic
              +e('img').userpic-img(src="/img/userpic/userpic.svg")
            +e('span').username
              +e('a').username-link(href="/123") Александр Луговой
            +e('span').country
              +e('img').country-flag(src='/img/flags/ru.svg' width=16 height=12)
              +e('span').country-text Россия, Москва
            +e('span').date 12 Мар 2015
          +b.rating._4
            for raiting in [1,2,3,4,5]
              +e('i').star ★
          +e.body
            p Очень доволен данным курсом.Я сам из Республики Беларусь.Практический все, с кем я общался по js, хоть раз да заходили на ваш сайт. Если кто-то решится из РБ пройти этот курс, рекомендую. Понравилось: подача материала, расставленные приоритеты в изучении, только актуальные данные , а не устаревшая информация. Мне не хватило пару занятий по организации проекта на js и про шаблоны. Хотел пройти курс у человека, который ПОЛНОСТЬЮ ПРАКТИК. Очень радостно, что вы поделились своим опытом!!! Спасибо.
          +e.info
            | Курс:
            =  ' '
            a(href="/123") «Javascript, DOM, интерфейсы»
            <br>
            | Преподаватель:
            =  ' '
            +e('a').teacher-link(href="/123") Валентиновский Валентин
