extends root

block profileContent

  +e.fields

    if profileUser.realName
      +b.profile-field
        +e.lcell
          +e.name Имя
        +e.rcell
          +e.value= profileUser.realName

    if profileUser.country
      +b.profile-field
        +e.lcell
          +e.name Страна
        +e.rcell
          +e.value= profileUser.country

    if profileUser.town
      +b.profile-field
        +e.lcell
          +e.name Город
        +e.rcell
          +e.value= profileUser.town

    if profileUser.publicEmail
      +b.profile-field
        +e.lcell
          +e.name E-Mail
        +e.rcell
          +e.value= profileUser.publicEmail


    if profileUser.interests
      +b.profile-field
        +e.lcell
          +e.name Интересы
        +e.rcell
          +e.value= profileUser.interests

    if profileUser.birthday
      +b.profile-field
        +e.lcell
          +e.name Дата рождения
        +e.rcell
          +e.value= profileUser.birthday

