extends /layouts/main

block append variables
  - var layout_header_class = "main__header_center"
  - var layout_main_class = "main_width-limit-wide"
  - var sitetoolbar = true
  - var states = [{url: '#', title: 'Публичный профиль'}]

block content

  +b.profile

    +b.profile-photo
      +e.upic(style="background-image: url('" + profileUser.getPhotoUrl(146, 146) + "')")


    +e.content

      if states.length == 1
        +e.single-tab-header
      else
        +e.tabs
          each state, i in states
            +e(class=['tab', i==0 && '_current'])
              +e.tab-content
                +e('a').tab-link(href=state.url)= state.title

      +e.fields

        if profileUser.realName
          +b.profile-field
            +e.lcell
              +e.name Имя
            +e.lcell
              +e.value= profileUser.realName

        if profileUser.country
          +b.profile-field
            +e.lcell
              +e.name Страна
            +e.lcell
              +e.value= profileUser.country

        if profileUser.town
          +b.profile-field
            +e.lcell
              +e.name Город
            +e.lcell
              +e.value= profileUser.town

        if profileUser.publicEmail
          +b.profile-field
            +e.lcell
              +e.name E-Mail
            +e.lcell
              +e.value= profileUser.publicEmail


        if profileUser.interests
          +b.profile-field
            +e.lcell
              +e.name Интересы
            +e.lcell
              +e.value= profileUser.interests

        if profileUser.birthday
          +b.profile-field
            +e.lcell
              +e.name Дата рождения
            +e.lcell
              +e.value= profileUser.birthday

