.sidebar
	width sidebar_width - 1
	background #F5F2F0
	border-right 1px solid #d5d2d0

	&__inner
		overflow auto
		height 100%

	&__content
		margin 23px 30px 0
		min-height calc(100% - 63px)
		position relative

	//- модификатор _sticky-footer делает последнюю секцию всегда прижатой к низу сайдбара
	&_sticky-footer &__content
		padding-bottom 40px // резервируем место под «редактировать на github»

	&_sticky-footer &__section:last-child
		position absolute
		bottom 0

	& &__toggle
		@extend $button-reset
		position absolute
		top 0
		left 100%
		margin-left 1px
		width 90px
		height 70px
		cursor pointer

	& &__toggle:active
		position absolute

	&__toggle:focus
		outline 0

	&__toggle:hover
		background #f4f4f4

	&__toggle::before
		@extend $font-menu
		font-size 22px
		color #7E7E7E

	&__section
		margin 22px 0
		padding 0 2px
		position relative

	&__section_separator_before
		margin-top 29px

	&__section_separator_before::before
		content ""
		position absolute
		top -12px
		width 35px
		border-top 1px solid #d7d7d4

	&__section_map
		border solid #d7d7d4
		border-width 1px 0

	&__link_map
		line-height 46px
		position relative
		padding-left 27px

	&__link_map::before
		@extend $font-sitemap
		color #C4C2C0
		font-size 18px
		position absolute
		left 0

	&__section_share
		margin-top 18px

	&__section-title
		color #C4C2C0
		font-weight 400
		margin 12px 0

	&__link
		color navigation_link_color

	&__link:hover
		text-decoration none

	&__navigation-link
		margin 12px 0
		line-height 1.25

	&__share
		margin 8px 20px 0 0


	@media tablet
		&__toggle
			display none

	&_compact &__content
		min-height calc(100% - 56px)

	&_sticky-footer&_compact &__content
		padding-bottom 33px // резервируем место под «редактировать на github»

	&_compact &__section
		margin 15px 0

	&_compact &__section_separator_before
		margin-top 24px

	&_compact &__section-title
		margin 8px 0

	&_compact &__navigation-link
		line-height 1.1
		margin 8px 0
