.sidebar
	width sidebar_width
	background #F5F2F0
	position fixed
	top 60px
	bottom 0
	left 0
	z-index 9999
	overflow auto

	&__inner
		margin 23px 30px 30px

	&__section
		border-bottom 1px solid #d5d2d0
		margin 18px 0
		padding 0 2px 17px

	&__section:last-child
		border 0

	&__section-title
		color #C4C2C0
		font-weight 400
		margin 10px 0

	&__link
		color #7E7E7E

	&__link&__link_arrow
		display block
		position relative
		padding-right 15px

	&__link&__link_arrow::after
		@extend $font-angle-right
		font-size 22px
		position absolute
		right 0

	&__link&__link_arrow:focus
		outline 0

	&__link:hover
		text-decoration none

	&__navigation-link
		margin 9px 0
		line-height 1.27 // чтобы соответствовать макету

	&__share
		margin 8px 20px 0 0
