extends /layouts/main

block variables
  - var layout_header_class = "main__header_center"

block content


  +b.complex-form
    +b.receipts.__receipts
      +e.receipt
        +e.receipt-body
          +e.receipt-content
            +e.type Заказ:
            +e.title!= order.title
            +e.note!= order.description
          +e.receipt-aside
            +e.price #{order.amount + 'р.'}
      +e.receipt
        +e.receipt-body
          +e.receipt-content
            +e.type Оплата:
            +e.status._ok Ожидается подтверждение
          +e.receipt-aside
            +e(class="pay-method " + "_"+paymentMethods[transaction.paymentMethod].name)

    +e.step._current
      +b.order-confirm
        +e('h2').title__step-title Спасибо за покупку!
        +e.accent Ожидается подтверждение от платёжной системы
        +e.content
          +e.text
            p Вам будет отправлено письмо на электронный адрес #{order.email}
            p Если оплата прошла, а письма нет или у вас возникли какие-либо вопросы, присылайте их на
              =" "
              a(href="mailto:orders@javascript.ru") orders@javascript.ru


  script(src=script("getpdf"))
  script getpdf.init();
