+b(class=["quiz-question", quizResult && (quiz.correct ? "_correct_true" : "_correct_false")])
  +e.body
    != question.contentRendered

    if question.type == 'single'
      +e("ul").variants
        each answer, num in question.answers
          +e("li")(class=["variant", num == question.correctAnswer && "_correct"])
            +e("label").label
              +e("input").input(type="radio" value=num name="answer" disabled=quizResult checked=)
              +e("span").input-text= answer

    if question.type == 'multi'
      +e("ul").variants
        each answer, num in question.answers
          +e("li")(class="variant")
            +e("label").label
              +e("input").input(type="checkbox" value=num name="answer")
              +e("span").input-text= answer

  +e.submit
    +b("button").button._action(type="submit" disabled)
      +e("span").text Продолжить

