.faq-cite

    &__list
        padding 30px 120px 35px 80px
        margin 0 -120px 0 -80px

        border 1px dashed #ccc

    &__list dl
        margin 0

    @media (max-width: 1250px)
        &__list
            margin auto !important

    @media tablet
        &__list
            padding-left 10px
            padding-right 10px

