$social-login-icons-facebook = 0px 73px 0px -73px 12px 23px 22px 96px '/i/social-login-icons.png?time=1407220747733';
$social-login-icons-github = 0px 17px 0px -17px 11px 18px 22px 96px '/i/social-login-icons.png?time=1407220747733';
$social-login-icons-google = 0px 35px 0px -35px 22px 18px 22px 96px '/i/social-login-icons.png?time=1407220747733';
$social-login-icons-twitter = 0px 53px 0px -53px 21px 20px 22px 96px '/i/social-login-icons.png?time=1407220747733';
$social-login-icons-vkontakte = 0px 0px 0px 0px 15px 17px 22px 96px '/i/social-login-icons.png?time=1407220747733';

$social-login-icons = 22px 96px '/i/social-login-icons.png?time=1407220747733'