lessons-list-separator = 1px solid #ede8e0

.lessons-list
    @extend $clearfix
    margin 22px 0
    overflow hidden
    border-radius 6px
    border 4px solid #F5F2F0
    background #fff

    ol&__lessons // усиливаем селекторы тегом
        list-style none
        padding 0
        margin 0
        counter-reset lesson

    & li&__lesson
        margin 0
        position relative

    &__lesson
        font 16px/20px font
        padding 16px 20px 14px 55px
        border-bottom lessons-list-separator

    &__lessons &__lessons
        max-height 0
        overflow hidden

    &__lesson_open  &__lessons
        max-height 1500px

    &__lesson:last-child
        border 0

    &__lesson::before
        content counter(lesson) '.'
        counter-increment lesson
        font 16px/20px secondary_font
        color #959595
        position absolute
        left 10px
        top 16px
        min-width 30px
        min-height 22px
        text-align right

    &__lesson[data-section-number]::before
        content attr(data-section-number) '.' counter(lesson)

    &__link
        color alternate_link_color

    &__lesson_level_1
        background #faf8f7
        padding-left 46px

    &__lesson_level_1 > &__link
        font-weight 600

    &__lesson_level_1::before
        content counter(lesson) '.'
        left 5px
        min-width 27px

    &__lesson_level_1 &__lessons
        margin 14px -20px -14px -46px

    &__lesson_level_2
        background #fff
        padding-left 71px

    &__lesson_level_2:first-child
        border-top lessons-list-separator

    &__lesson_level_2::before
        content counters(lesson, '.')
        left 35px
