ol.breadcrumbs
  li.breadcrumbs__item
    a.breadcrumbs__link(href='/') Главная
  li.breadcrumbs__item
    a.breadcrumbs__link(href='/tutorial') Учебник
  li.breadcrumbs__item
    a.breadcrumbs__link(href='/getting-started') Общая информация
  li.breadcrumbs__item
    | Введение в JavaScript