nav.navbar
  ul.navbar__sections
    li.navbar__sections-item.active.study
      span.navbar__sections-text Обучение
    li.navbar__sections-item.blogs
      a.navbar__sections-link(href='/blogs') Блоги
    li.navbar__sections-item.qa
      a.navbar__sections-link(href='/qa') Вопрос / ответ
    li.navbar__sections-item.dropdown.dropdown_nav.down-right.inherit-min-width.dropdown_open_hover.reference
      a.navbar__sections-link.dropdown__toggle.dropdown__toggle_nav(href='http://javascript.ru/manual') Справочник
      ul.dropdown__content.dropdown__content_nav
        li
          a(href='http://es5.javascript.ru/') Стандарт ES5
        li
          a(href='/referencd') Справочник JS
        li
          a(href='/php') PHP-функции
        li
          a(href='/book') Книги
    li.navbar__sections-item.events
      a.navbar__sections-link(href='/event') События
    li.navbar__sections-item.job
      a.navbar__sections-link(href='/job') Работа
    li.navbar__sections-item.sandbox
      a.navbar__sections-link(href='/play') Песочница
    li.navbar__sections-item.chat
      a.navbar__sections-link(href='/chat') Чат
    li.navbar__sections-item.search.dropdown.down-left
      button.dropdown__toggle
      .dropdown__content.dropdown-search
        .search-form
          form#search-block-form(action='/intro', method='post', accept-charset='UTF-8')
            // TODO: проверить, точно ли нужно? Не ошибка? 
            div
              .search-form__query
                input#edit-search-block-form-1.form-text(type='text', maxlength='128', name='search_block_form', value='')
                button(type='submit') Найти
                input#w4vSP09jvn-orNjyHpBepTXLSn6qFxyehtYKuZbWWv4(type='hidden', name='form_build_id', value='w4vSP09jvn-orNjyHpBepTXLSn6qFxyehtYKuZbWWv4')
                input#edit-search-block-form-form-token(type='hidden', name='form_token', value='O9WnzduxDr7Fwfy6eG4XL06_OilwEwBIsJDKhduRG0w')
                input#edit-search-block-form(type='hidden', name='form_id', value='search_block_form')
