.quiz-question
    min-width 400px
    margin-top 25px

    & ul,
    & li,
    & ul li,
    & h3,
    & p
        padding 0
        margin 0
        line-height auto

    & ul li:before
        display none

    &__body
        padding 30px

        text-align left

        border 3px solid #eee
        border-radius 10px

    &__title
        font-size 16px

    & &__variants
        margin-top 25px

    & &__variant
        font-size 14px

        margin-top 4px

    &__label
        cursor pointer

    &__input
        margin-right 8px

    &__input:checked + &__input-text
        font-weight bold

    & &__note
        font-size 12px

        margin-top 20px

        color #666

    &__submit
        margin-top 25px


    &_correct_true &__body
        border-color #bbd4a5

    &_correct_false &__body
        border-color #eaaaad

    &_correct_true &__input:checked + &__input-text
        color #060

    &_correct_false &__input:checked + &__input-text
        color #d90000

    &__variant_correct &__input-text
        font-weight bold

        color #060