extends /layouts/main

block append variables

    - var layout_header_class = "main__header_center"
    - var title = 'Регистрация на курсы JavaScript, DOM, интерфейсы'
    - var breadcrumbs = [{ title: 'Учебник', url: '/tutorial' }, { title: 'JavaScript.ru', url: 'http://javascript.ru' }]

    - var content_class = '_center'


block content
    include ../blocks/courses-register
