extends /layouts/main

block append variables

    - var layout_header_class = "main__header_center"
    - var title = 'Отзыв о курсе Javascript, DOM, интерфейсы'
    - var layout_main_class = "main_width-limit"
    - var breadcrumbs = [{ title: 'Учебник', url: '/tutorial' }, { title: 'JavaScript.ru', url: 'http://javascript.ru' }]

    - var content_class = '_center'


block content

    +b(class="notification notification_message notification_success")
        +e.content Ваш отзыв успешно сохранен. При желании, вы можете поделиться им в соц сетях

    +b.course-feedback._result
        +e.user
            +e.userpic
                +e('img').userpic-img(src="/img/userpic/userpic.svg")

            +e('span').username
                +e('a').username-link(href="/123") Александр Луговой
            +e('span').country
                +e('img').country-flag(src='/img/flags/ru.svg' width=16 height=12)
                +e('span').country-text Россия, Москва
            +e('span').date 12 Мар 2015

            +e('span').homepage
                +e('a').homepage-link(href="/123") facebook.com/vasya-poupkin

        +b.rating._4
            for raiting in [1,2,3,4,5]
                +e('i').star ★

        +e.name Рекомендует курс “Javascript, DOM, интерфейсы”

        +e.body
            p Очень доволен данным курсом.Я сам из Республики Беларусь.Практический все, с кем я общался по js, хоть раз да заходили на ваш сайт. Если кто-то решится из РБ пройти этот курс, рекомендую. Понравилось: подача материала, расставленные приоритеты в изучении, только актуальные данные , а не устаревшая информация. Мне не хватило пару занятий по организации проекта на js и про шаблоны. Хотел пройти курс у человека, который ПОЛНОСТЬЮ ПРАКТИК. Очень радостно, что вы поделились своим опытом!!! Спасибо.

            +e.info
                | Преподаватель:
                =  ' '
                +e('a').teacher-link(href="/123") Валентиновский Валентин

                +e.teacher-comment
                    p Очень доволен увеником! Блабла бла блабла бла
                    p бла блабла бла  бла блабла бла  бла блабла бла  бла блабла бла  бла блабла бла


            +e('a').edit(href="/123") Редактировать

        +e.share
            +b.share-icons
              +e('span').title Поделиться
              include /blocks/social-icons



