extends /layouts/main

block append variables

    - var layout_header_class = "main__header_center"
    - var title = 'Отзыв о курсе Javascript, DOM, интерфейсы'
    - var layout_main_class = "main_width-limit"
    - var breadcrumbs = [{ title: 'Учебник', url: '/tutorial' }, { title: 'JavaScript.ru', url: 'http://javascript.ru' }]

    - var content_class = '_center'


block content

    +b.feedback-stat
        +e('ul').list
            +e('li').item._active Отлично
                +e('span').status
                    +e('span').status-i(style="width: 60px")
            +e('li').item Хорошо
                +e('span').status
                    +e('span').status-i(style="width: 40px")
            +e('li').item Нормально
                +e('span').status
                    +e('span').status-i(style="width: 20px")
            +e('li').item Так себе
                +e('span').status
                    +e('span').status-i(style="width: 7px")
            +e('li').item Плохо
                +e('span').status
                    +e('span').status-i(style="width: 1px")

        +b.pie
            // +e('img').image(src="")
            +e.text
                +e('strong').percents 78%
                +e('span').advice Пользователей рекомендуют эти курсы

    +b.feedback-policy
        +e.link Политика отзывов javascript.ru
            +e.popup
                +e('ul').list
                    li Показываются все отзывы, опубликованные авторами. Фильтрацию по оценке вы можете сделать сами.
                    li Отзывы не модерируются. Исключение может быть сделано только при нарушении условий пользования сайтом и курсами.
                    li Все люди&nbsp;&mdash; реальные участники.


    +b('section').course-feedbacks
        +e.head
            +e('h2').title
                +e('span').title-n 286
                | &nbsp;отзывов

            +e.select
              +b('select').input-select._small.__control
                +e('option').option(value="all") о всех преподавателях
                +e('option').option(value="ilia") о Илье Канторе
                +e('option').option(value="ilia") о Валентине Валентиновском

            +e.select
              +b('select').input-select._small.__control
                +e('option').option(value="all") с любой оценкой
                +e('option').option(value="5") с оценкой 5
                +e('option').option(value="4") с оценкой 4
                +e('option').option(value="3") с оценкой 3
                +e('option').option(value="4") с оценкой 4
                +e('option').option(value="1") с оценкой 1


        +e('article').feedback
            +b.course-feedback._result._external
                +e.user
                    +e.userpic
                        +e('img').userpic-img(src="/img/userpic/userpic.svg")

                    +e('span').username
                        +e('a').username-link(href="/123") Александр Луговой
                    +e('span').country
                        +e('img').country-flag(src='/img/flags/ru.svg' width=16 height=12)
                        +e('span').country-text Россия, Москва
                    +e('span').date 12 Мар 2015

                +b.rating._4
                    for raiting in [1,2,3,4,5]
                        +e('i').star ★

                +e.name Рекомендует курс “Javascript, DOM, интерфейсы”

                +e.body
                    p Очень доволен данным курсом.Я сам из Республики Беларусь. Практический все, с кем я общался по js, хоть раз да заходили на ваш сайт. Если кто-то решится из РБ пройти этот курс, рекомендую. Понравилось: подача материала, расставленные приоритеты в изучении, только актуальные данные , а не устаревшая информация. Мне не хватило пару занятий по организации проекта на js и про шаблоны. Хотел пройти курс у человека, который ПОЛНОСТЬЮ ПРАКТИК. Очень радостно, что вы поделились своим опытом!!! Спасибо.

                +e.info
                  | Преподаватель:
                  =  ' '
                  +e('a').teacher-link(href="/123") Валентиновский Валентин


        +e('article').feedback
            +b.course-feedback._result._external
                +e.user
                    +e.userpic
                        +e('img').userpic-img(src="/img/userpic/userpic.svg")

                    +e('span').username
                        +e('a').username-link(href="/123") Александр Луговой
                    +e('span').country
                        +e('img').country-flag(src='/img/flags/ru.svg' width=16 height=12)
                        +e('span').country-text Россия, Москва
                    +e('span').date 12 Мар 2015

                +b.rating._4
                    for raiting in [1,2,3,4,5]
                        +e('i').star ★

                +e.name Рекомендует курс “Javascript, DOM, интерфейсы”

                +e.body
                    p Очень доволен данным курсом.Я сам из Республики Беларусь.Практический все, с кем я общался по js, хоть раз да заходили на ваш сайт. Если кто-то решится из РБ пройти этот курс, рекомендую. Понравилось: подача материала, расставленные приоритеты в изучении, только актуальные данные , а не устаревшая информация. Мне не хватило пару занятий по организации проекта на js и про шаблоны. Хотел пройти курс у человека, который ПОЛНОСТЬЮ ПРАКТИК. Очень радостно, что вы поделились своим опытом!!! Спасибо.


                +e.info
                  | Преподаватель:
                  =  ' '
                  +e('a').teacher-link(href="/123") Валентиновский Валентин

                  +e.teacher-comment Очень доволен увеником! Блабла бла блабла бла  бла блабла бла  бла блабла бла  бла блабла бла  бла блабла бла  бла блабла бла


                +e('a').edit(href="/123") Редактировать


        +e('article').feedback
            +b.course-feedback._result._external
                +e.user
                    +e.userpic
                        +e('img').userpic-img(src="/img/userpic/userpic.svg")

                    +e('span').username
                        +e('a').username-link(href="/123") Александр Луговой
                    +e('span').country
                        +e('img').country-flag(src='/img/flags/ru.svg' width=16 height=12)
                        +e('span').country-text Россия, Москва
                    +e('span').date 12 Мар 2015

                +b.rating._4
                    for raiting in [1,2,3,4,5]
                        +e('i').star ★

                +e.name Рекомендует курс “Javascript, DOM, интерфейсы”

                +e.body
                    p Очень доволен данным курсом.Я сам из Республики Беларусь.Практический все, с кем я общался по js, хоть раз да заходили на ваш сайт. Если кто-то решится из РБ пройти этот курс, рекомендую. Понравилось: подача материала, расставленные приоритеты в изучении, только актуальные данные , а не устаревшая информация. Мне не хватило пару занятий по организации проекта на js и про шаблоны. Хотел пройти курс у человека, который ПОЛНОСТЬЮ ПРАКТИК. Очень радостно, что вы поделились своим опытом!!! Спасибо.


                +e.info
                    | Преподаватель:
                    =  ' '
                    +e('a').teacher-link(href="/123") Валентиновский Валентин
                    &nbsp;
                    +e('button').add-comment

                    +b.course-feedback-comment-form.course-feedback__teacher-comment
                        +b('textarea').textarea-input
                        +e.ok-cancel
                          +b('button')(type="submit").button._action.__item-save
                            +e('span').text Опубликовать
                          +e('button').item-cancel Отмена

    +b.page-loader
        +b('span').spinner._active._small
            +e('span').dot._1
            +e('span').dot._2
            +e('span').dot._3



