extends /layouts/main

block append variables

    - var layout_header_class = "main__header_center"
    - var title = 'Online курсы Javascript'
    - var breadcrumbs = [{ title: 'Учебник', url: '/tutorial' }, { title: 'JavaScript.ru', url: 'http://javascript.ru' }]

    - var content_class = '_center'


block content
    p Здесь находятся «правильные» курсы по профессиональному Javascript, цель которых — научить думать на Javascript, писать просто, быстро и красиво.
    include ../blocks/courses-features
    include ../blocks/courses-programm-register
    include ../blocks/courses-master
    include ../blocks/courses-testimonials
    include ../blocks/courses-tabbet-pane
    include ../blocks/courses-guarantee
    include ../blocks/courses-faq
