extends ../layouts/profile

// - http://stackoverflow.com/questions/12646451/how-to-pass-variables-between-jade-templates
block variables
  - self.title = 'Восстановление пароля';

block content
  +b.recover
    +e('h1').title Восстановление пароля
    +b.notification._message._error.__message
      +e.content Пароль не может быт пустым
      +e('button').close
    +e.content
      +e.controls
        +e.label-wrap
          +e('label').label(for="newpass") Новый пароль
        +e.input-wrap
          +b.text-input._small.__input
            +e('input').control#newpass(type="password", autofocus)
        +e.save-wrap
          +b('button').submit-button._small.__save Сохранить пароль
