extends ../layouts/profile

// - http://stackoverflow.com/questions/12646451/how-to-pass-variables-between-jade-templates
block variables
  - self.title = 'Кабинет пользователя Nakazator';

  //- layout
  - layout.header = true
  - layout.breadcrumbs = true
  - layout.centeredHeader = true

block content
  +b.profile._accounts
    script.
      document.addEventListener("DOMContentLoaded", function(e) {
        var items = document.querySelectorAll('.profile__item_editable');
        for (var i = 0; i < items.length; i++) {
          items[i].addEventListener('click', function(e) {
            this.classList.add('profile__item_editing');
          });
        }
        document.querySelector('.profile').addEventListener('click', function(e) {
          var elem;
          if (e.target.classList.contains('profile__item-cancel')) {
            elem = e.target;
            while (elem && !elem.classList.contains('profile__item_editable')) {
              elem = elem.parentNode;
            }
            elem.classList.remove('profile__item_editing');
          }
        })
      });
    include ../blocks/profile-upic
    +e.content
      +e.tabs
        +e.tab
          +e.tab-content
            +e('a').tab-link(href="#") Профиль
        +e.tab._current
          +e.tab-content
            | Аккаунт
        +e.tab
          +e.tab-content
            +e('a').tab-link(href="#") Заказы
        +e.tab
          +e.tab-content
            +e('a').tab-link(href="#") Курсы
        +e.tab
          +e.tab-content
            +e('a').tab-link(href="#") Уведомления
        +e.tab
          +e.tab-content
            +e('a').tab-link(href="#") Тесты
      +e.item
        +e.item-content
          +e('h2').inline-title Управление аккаунтом
      +e.item._editable
        +e.item-content
          +e.item-name Юзернейм:
          +e.item-value Nakazator
        +e.item-change
          +e.change-content
            +e.labeled
              +e('label').labeled-label(for="profile-username") Юзернейм:
              +b.text-input._small.__control
                +e('input').control(type="text", id="profile-username", value="Nakazator")
          include ../blocks/profile-ok-cancel
      +e.item._editable
        +e.item-content
          +e.item-name Email:
          +e.item-value nakazator@mail.com
        +e.item-change
          +e.change-content
            +e.labeled
              +e('label').labeled-label(for="profile-email") Email:
              +b.text-input._small.__control
                +e('input').control(type="email", id="profile-email", value="nakazator@mail.com")
          include ../blocks/profile-ok-cancel
      +e.item
        +e.item-content
          +e('button').action._change-password(onclick="this.parentNode.parentNode.classList.add('profile__item_editing')") Изменить пароль
        +e.item-change
          +e.change-content
            //- смена пароля: используем поля text а не password, символы не скрываются,
            //- потому что в дизайне предусмотрено только одно поле для ввода нового пароля,
            //- а значит проверить его повторным вводом невозможно, пользователь должен видеть
            //- свой новый пароль. Скрывать старый не имеет смысла, поскольку он станет
            //- недействительным после отправки формы
            +e.labeled.__pass-change
              +e.labeled-label(for="profile-pass-old") Старый пароль:
              +b.text-input._small.__labeled-text.__pass
                +e('input').control(type="text", id="profile-pass-old")
            +e.labeled.__pass-change
              +e.labeled-label(for="profile-pass-new") Новый пароль:
              +b.text-input._small.__labeled-text.__pass
                +e('input').control(type="text", id="profile-pass-new")
          include ../blocks/profile-ok-cancel
      +e.title
        +e.title-content
          +e('h2').inline-title Привязанные внешние аккаунты
          +e('p').note При привязке аккаунта можно будет заходить на сайт одним нажатием кнопки.
      +e.linked-account
        +e.account-content
          +e.linked-name(href='http://vk.com/alexbor')
            +e('img').linked-upic(src="/img/linked-upic.png")
            | Алексей Борматенко
          +e.linked-provider Vkontakte
          +e('button').account-remove(title="Удалить аккаунт")
      +e.linked-account
        +e.account-content
          +e.linked-name(href='http://vk.com/alexbor')
            +e('img').linked-upic(src="/img/linked-upic.png")
            | Alexey Bormatenko
          +e.linked-provider Facebook
          +e('button').account-remove(title="Удалить аккаунт")
      +e.providers
        +e.providers-content
          +e.providers-title Привязать:
          +e.socials
            include ../../../auth/templates/providers
      +e.action-item
        +e.action-content
          +e('button').action._remove-account Удалить аккаунт
