extends /layouts/main

block append variables
  - var title = "Nazarkator";
  - var layout_header_class = "main__header_center"
  - var layout_main_class = "main_width-limit"
  - var sitetoolbar = true

  - var profileTests = [];
  - profileTests.push({ name: 'Основной Javascript', date: moment('2014-01-01T19:45').locale('ru').format('D MMMM YYYY в h:mm'), result: '36%', level: 'Новичек', try: 1, weakList: 'Кроссбраузерность, события, CSS', time: '25 мин 23 сек' })
  - profileTests.push({ name: 'Основной Javascript', date: moment('2014-02-04T19:45').locale('ru').format('D MMMM YYYY в h:mm'), result: '36%', level: 'Новичек', try: 2, weakList: 'Кроссбраузерность, события, CSS', time: '12 мин 65 сек' })
  - profileTests.push({ name: 'Основной Javascript', date: moment('2014-05-14T19:45').locale('ru').format('D MMMM YYYY в h:mm'), result: '42%', level: 'Новичек', try: 3, weakList: 'Кроссбраузерность, события, CSS', time: '42 мин 45 сек' })
  - profileTests.push({ name: 'Основной Javascript', date: moment('2015-03-02T19:45').locale('ru').format('D MMMM YYYY в h:mm'), result: '56%', level: 'Средний', try: 4, weakList: 'Кроссбраузерность, события, CSS', time: '5 мин 5 сек' })

block content
  +b.profile

    +e.content
      +e.tabs
        +e.tab
          +e.tab-content
            +e('a').tab-link(href="#") Профиль
        +e.tab
          +e.tab-content
            +e('a').tab-link(href="#") Аккаунт
        +e.tab._current
          +e.tab-content
            | Заказы
        +e.tab
          +e.tab-content
            +e('a').tab-link(href="#") Курсы
        +e.tab
          +e.tab-content
            +e('a').tab-link(href="#") Уведомления
        +e.tab
          +e.tab-content
            +e('a').tab-link(href="profile-quiz") Тесты

      include ../blocks/invoice-table