extends ../layouts/simple

// - http://stackoverflow.com/questions/12646451/how-to-pass-variables-between-jade-templates
block variables
  - self.title = 'Тестирование знания Javascript';

  //- layout
  - layout.header = true
  - layout.breadcrumbs = true
  - layout.centeredHeader = true

block content

