extends /layouts/main

block append variables

    - var layout = {}
    - layout.sitetoolbar = false
    - layout.prevNext = false
    - layout.sidebar = false
    - layout.articleFoot = false
    - layout.centeredHeader = false
    - layout.tutorialMap = false
    - layout.header = false
    - layout.notificationPopup = false
    - layout.notificationStripe = false
    - layout.bodyClass = ""

    - var quizsLength = 15

    - var quiz = {}
    - quiz.index = 5
    - quiz.title = 'Что из этого не событие мыши?'


block content
