.share
	display inline-block
	font-size 22px
	color #7E7E7E
	vertical-align middle

	&::after
		display inline-block
		vertical-align bottom
		min-height 20px
		min-width 20px

	&:hover
		text-decoration none


	&_tw
		color #50ABF1

	&_tw:hover
		color hoverize(#50ABF1)

	&_tw::after
		@extend $font-twitter


	&_fb
		color #39579A

	&_fb:hover
		color hoverize(#39579A)

	&_fb::after
		@extend $font-facebook
		min-width 12px


	&_gp
		color #DF4A32

	&_gp:hover
		color hoverize(#DF4A32)

	&_gp::after
		@extend $font-google


	&_vk
		color #53759B

	&_vk:hover
		color hoverize(#53759B)

	&_vk::after
		@extend $font-vkontakte
		min-width 27px
