.share
	display inline-block
	font-size 22px
	color #7E7E7E
	vertical-align middle

	&::after
		display inline-block
		vertical-align bottom
		min-height 20px
		min-width 20px

	&:hover
		text-decoration none

	&_tw::after
		@extend $font-twitter
		color #50ABF1

	&_fb::after
		@extend $font-facebook
		min-width 12px
		color #39579A

	&_gp::after
		@extend $font-google
		color #DF4A32
	
	&_vk::after
		@extend $font-vkontakte
		min-width 27px
		color #53759B
