// extract from
// Pure CSS Components - http://www.felipefialho.com/css-components/
// Author: Luiz Felipe Tartarotti Fialho
// hi@felipefialho.com
// http://www.felipefialho.com/

// NB
// please place modal.styl before other files
// modal-overlay implies position: relative
// other styles may want to override this

.modal:before
  content ""
  display block
  background rgba(0, 0, 0, 0.6)
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  z-index 1001


.modal-overlay
  position relative

// todo: also hide closing button
// usage: .modal-overlay.modal-overlay_dark for translucent black background or
//        .modal-overlay.modal-overlay_light for translucent white background
.modal-overlay:after
  content " "
  position absolute
  left 0
  right 0
  top 0
  bottom 0
  z-index 100000
  opacity 0.2

.modal-overlay_light:after
  background white

.modal-overlay_dark:after
  background black

.modal-dialog
  position fixed
  top 50%
  left 50%
  transform: translate(-50%, -50%);
  z-index 9999
