form(method="POST",action="https://merchant.webmoney.ru/lmi/payment.asp")
  input(type="hidden",name="LMI_PAYMENT_AMOUNT",value=amount)
  input(type="hidden",name="LMI_PAYMENT_DESC_BASE64",value=new Buffer('оплата по счету ' + number).toString('base64'))
  input(type="hidden",name="LMI_PAYMENT_NO",value=number)
  input(type="hidden",name="LMI_PAYEE_PURSE",value=webmoney.purse)
  input(type="hidden",name="LMI_SIM_MODE",value=(isTest ? 1 : 0))
  input(type="submit",value="Оплатить")
