div
  p Минуточку, ожидаем информацию от сервера..
  p Если эта страница долго не отвечает -
    |
    a(href='#' onclick='window.location.reload(true)') перезагрузите её
    | .

script var transactionNumber = #{transactionNumber}, successUrl = '#{successUrl}', failUrl = '#{failUrl}';

script.
  var xhr = new XMLHttpRequest();
  xhr.open('POST', '/webmoney/wait');
  xhr.timeout = 20000;


  xhr.onreadystatechange = function() {
    if (xhr.readyState != 4) return;

    location.href = (xhr.responseText == 'success') ? successUrl : failUrl;
  };

  xhr.ontimeout = xhr.onabort = function() {
    location.href = failUrl;
  };
  xhr.send('transactionNumber=' + transactionNumber);
