.tasks
	margin-bottom 60px

	& &__title
		font-size 28px
		margin-bottom 19px

	&__title::before
		@extend $font-ok
		display inline-block
		width 35px
		color #80BD57

	&__task
		border-top 1px solid #eee
		margin 19px 0
