.course-feedback
    padding 50px 70px

    text-align left

    border 3px solid #F2E7B3
    border-radius 10px

    &__form
        max-width 410px

    h2&__title
        font-size 14px
        font-weight normal

        margin 0 0 7px 0
        padding 0

        line-height 19px

        color #666

    &__title-note
        color #999

    &__title &__checkbox
        margin-right 7px

    &__line:not(:first-child)
        margin-top 25px

    &__label
        line-height 25px

    & .textarea-input,
    & .text-input,
    & .input-select
        width 100%

    & .textarea-input
        height 110px

    &__userpic
        display inline-block

        margin-right 20px

        vertical-align middle

    &__userpic-img
        width 64px
        height 64px

    &__load-new-userpic,
    &__load-new-userpic:visited
        vertical-align middle

        color #3B86C4

    &__note
        font-size 13px
        line-height 17px

        margin-top 10px

        color #999
