.payment-setting
    display none

    padding 10px 85px 25px 60px

    background #f9edbf

    &__item
        margin-top 25px

    &__item:first-child
        margin-top 0

    &__item_with_cb
        font-size 13px
        line-height 14px

        padding-left 20px

    &__item_with_cb &__cb
        position absolute

        margin 1px 0 0 -20px

    &__label
        font-size 14px
        line-height 16px

        display block

        margin-bottom 7px

    &__small-note
        font-size 11px
        line-height 16px
        font-style italic

        color #858585

    &__item_currency &__label
        display block

    &__item_currency .input-select
        min-width 6em
        padding-left 10px

    &__item_currency &__small-note
        position relative
        top 5px

        display inline-block

        margin-left 20px

    & .text-input
        width 60%

    & .textarea-input
        width 100%