extends /layouts/main

block append variables
  - var layout_header_class = "main__header_center"
  - var sitetoolbar = true
  - var title = "Участие подтверждено"
  - var layout_main_class = "main_width-limit"

block content

  p Поздравляем, вы присоединились к курсу.

  p Информацию вы можете получить на странице TODO
