extends /layouts/main

block append variables

  - var sitetoolbar = true
  - var title = "Приглашение отменено"
  - var layout_main_class = "main_width-limit"
  - var siteToolbarCurrentSection = "courses"

block content

  p Извините, это приглашение было отменено, адрес #{email} был удалён из списка к заказу #{orderNumber}.

  p Контактное лицо по этому заказу: #{contactName}.

  p По техническим вопросам или если ситуация не соответствует действительности, пишите на адрес <a href="mailto:#{mailto}">orders@javascript.ru</a>.
