extends /layouts/email

block body

  h2 Приглашение на курс

  p #{contactName} приглашает вас участвовать в курсе #{group.title}

  p Для подтверждения участия перейдите по ссылке <a href="#{link}">#{link}</a>.

  if userExists
    p При этом вы автоматически будете залогинены на сайте.

  p Если возникнут какие-либо вопросы - вы всегда можете ответить на это письмо.
