extends /layouts/email

block body

  h2 Приглашение на курс

  p На сайте javascript.ru была оформлена запись для вас на курс #{group.title}.

  p Для подтверждения участия перейдите по ссылке <a href="#{link}">#{link}</a>.

  if userExists
    p При этом вы автоматически будете залогинены на сайте.

  p Контактное лицо, указанное в записи: #{contactName}.

  p Если возникнут какие-либо вопросы - вы всегда можете ответить на это письмо.
