extends /layouts/main

block append variables
  - var layout_header_class = "main__header_center"
  - var sitetoolbar = true
  - var title = "Ссылка устарела"
  - var layout_main_class = "main_width-limit"

block content

  p Извините, ссылка по которой вы перешли, устарела.

  p Если у вас возникли какие-либо вопросы - пишите на <a href="mailto:#{mailto}">orders@javascript.ru</a>.
