extends /layouts/main

block append variables
  - var layout_header_class = "main__header_center"
  - var sitetoolbar = true
  - var layout_main_class = "main_width-limit"
  - var content_class = '_center'
  - var siteToolbarCurrentSection = "courses"

block content

  p Для продолжения вам необходимо зарегистрироваться.

  +b.login-form.complex-form.complex-form_step_4
    +e.step.complex-form__step.complex-form__step_current
      +e('form').form(method="POST" action="/courses/invite")
        input(type="hidden" name="inviteToken" value=invite.token)

        +e.line
          +e('label').label(for="invite-email") Email:
          +b('span').text-input.__input
            +e('input').control#invite-email(name="email" type="email" value=invite.email disabled)

        +e.line
          +e('label').label(for="invite-displayName") Имя пользователя:
          +b('span')(class=["text-input", "__input", errors.displayName ? '_invalid' : '' ])
            +e('input').control#invite-displayName(name="displayName" type="text" required value=form.displayName autofocus)
            if errors.displayName
              +e.err= errors.displayName

        +e.line
          +e('label').label(for="invite-password") Пароль
          +b('span')(class=["text-input", "__input", errors.password ? '_invalid' : '' ])
            +e('input').control#invite-password(type="password", name="password" required value=form.password minlength="4")
            if errors.password
              +e.err= errors.password

        +e.line.__footer
          +b('button').button._action(type="submit")
            +e('span').text Зарегистрироваться

