body 
	font size/lineheight font
	-webkit-text-size-adjust none
	color color
	background background
	margin 0

//- просто так удобнее, пусть будет
.scrolled-out .sitetoolbar
	top -60px

.scrolled-out .page__sidebar
	top 0