body 
	font size/lineheight font
	-webkit-text-size-adjust none
	color color
	background background
	margin 0

//- просто так удобнее, пусть будет
.scrolled-out .sitetoolbar
	transform translateY(-100%)

.scrolled-out .page__sidebar,
.scrolled-out .page__nav,
.scrolled-out .page__sitemap
	top 0

.scrolled-out .page__inner
	margin-top 0

@media tablet
	.scrolled-out .page__inner
		margin-top 40px