navbar_gray = #8B8987
.sitetoolbar
	box-shadow 0 2px 4px -2px rgba(0, 0, 0, .5)
	position relative

	&__content
		display table
		width 100%
		font-size 16px
		border-collapse collapse

	&__logo-wrap,
	&__sections,
	&__user-wrap,
	&__login-wrap,
	&__search-wrap
		display table-cell
		vertical-align top
		text-align left
		white-space nowrap
		line-height 26px

	&__logo-wrap
		width 182px

	&__user-wrap,
	&__login-wrap
		width .1%
		padding-right 17px

	&__search-wrap
		width .1%
		padding-right 49px

	&__logo,
	&__link_logo
		margin 9px 0 0 30px
		display block

	&__link_logo &__logo
		margin 0

	&__sections
		padding 17px 0
	
	&__section
		display inline-block
		margin-right 20px

	&__section_current,
	&__section_current &__link
		color secondary_color

	&__link
		color navbar_gray
		display inline-block

	&__link:hover
		text-decoration none

	&__user,
	&__login
		@extend $button-reset
		font 16px font
		color navbar_gray
		margin 17px 0
		vertical-align bottom
		line-height inherit

	&__login-loader
		display inline-block
		margin-top ((60 - image-height('../loader/loader_small.gif')) / 2) + 2px
		margin-right 8px
		vertical-align top

	&__user::before
		content ""
		display inline-block
		background url('/i/sitetoolbar__user.png') 0 0 no-repeat
		size-of 'sitetoolbar__user.png'
		margin -1px 0 0
		vertical-align middle
		padding 0 10px 0 0
		right 100%

	&__user::after
		@extend $font-open
		padding-left 7px
		color #C4C2C0
		font-size 14px
		vertical-align bottom
		position relative
		top 2px

	&__search
		@extend $button-reset
		margin 17px 0

	&__loader
		background-color #fff
		position absolute
		left 50%
		margin -12px 0 0 -32px
