.quiz-test
    min-width 400px
    padding 30px
    margin-top 25px

    text-align left

    border 3px solid #eee
    border-radius 10px

    & ul,
    & li,
    & ul li,
    & h3,
    & p
        padding 0
        margin 0
        line-height auto

    & ul li:before
        display none


    &__title
        font-size 16px

    & &__variants
        margin-top 25px

    & &__variant
        font-size 14px

        margin-top 4px

    &__label
        cursor pointer

    &__input
        margin-right 8px