.close-button
	@extend $button-reset
	font-size 24px
	line-height 32px
	cursor pointer
	text-align center
	color #fff
	background #999
	border-radius 50%
	width 32px
	height 32px

	&::before
		@extend $font-close-cross
